body {
  background-color: #fff;
}

.btn-primary, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #52331E;
  border-color: #52331E;
  color: #fff;
}

.btn-highlight {
  background-color: #E4895A;
  border-color: #E4895A;
  color: #fff !important;
  font-weight: bold;
}

.dataTables_wrapper .dataTables_filter input:focus, .dataTables_wrapper .dataTables_length select:focus, .form-control:focus {
  border-color: #AB9357;
  box-shadow: 0 0 0 2px #AB9357;
}

.sidebar.sidebar-pills .nav-link {
  border-radius: 0px;
}

.sidebar-pills .nav-link.active, .sidebar-pills .nav-link:hover, .sidebar-pills .nav-link:hover .nav-icon {
  color: #52331E !important;
}

.sidebar.sidebar-pills .nav-link.active .nav-icon, .sidebar.sidebar-pills .nav-link:hover .nav-icon {
  color: #52331E !important;
}

.app-body .sidebar.sidebar-pills {
  flex: 0 0 300px;
}
.app-body .sidebar.sidebar-pills li.nav-dropdown ul.nav-dropdown-items li.nav-dropdown a.nav-dropdown-toggle {
  padding-left: 1.5em;
}
.app-body .sidebar.sidebar-pills li.nav-dropdown ul.nav-dropdown-items li.nav-dropdown ul.nav-dropdown-items a:not(.nav-dropdown-toggle) {
  padding-left: 2.5em;
}
.app-body .sidebar.sidebar-pills .sidebar-nav, .app-body .sidebar.sidebar-pills .sidebar-scroll {
  width: 275px;
}

html:not([dir=rtl]) .sidebar {
  margin-left: -300px;
}

.sidebar .nav {
  width: 300px;
}

.thailand-p-theme .app-header {
  background-color: #52331E !important;
}
.thailand-p-theme .app-header .navbar-brand {
  display: flex;
  opacity: 1;
  width: 225px;
  padding: 0px;
  padding: 0 0.5em;
  background: #fff;
}
.thailand-p-theme .app-header .navbar-brand > div.logo {
  padding: 5px;
}
.thailand-p-theme .app-header .navbar-brand > div {
  font-size: 0.75em;
}
.thailand-p-theme .app-header .navbar-brand > div .text2 {
  font-size: 1.125em;
  font-weight: bold;
  color: #52331E;
}
.thailand-p-theme .app-footer {
  background-color: #52331E !important;
}
.thailand-p-theme .app-footer .logo-footer img {
  height: 30px;
}
.thailand-p-theme .app-footer .text_footer {
  display: inline-block;
  padding-left: 25px;
  vertical-align: middle;
  color: #ffffff;
  font-size: 0.875em;
}
.thailand-p-theme .app-footer .text_footer h4 {
  margin-bottom: 0;
  font-size: 1.1rem;
}
.thailand-p-theme .app-footer .text_footer address {
  margin-bottom: 0;
}
.thailand-p-theme a {
  color: #52331E;
}
.thailand-p-theme .page-item.active .page-link {
  background-color: #52331E;
  border: none;
}
.thailand-p-theme .sidebar {
  background-color: whitesmoke !important;
}
.thailand-p-theme .sidebar .nav-title {
  font-size: 1em;
  margin-top: 1em;
  color: #52331E;
}
.thailand-p-theme .sidebar.sidebar-pills .nav-link.active, .thailand-p-theme .sidebar.sidebar-pills .nav-link:hover {
  background-color: #AB9357;
}
.thailand-p-theme .sidebar.sidebar-pills .nav-link.active, .thailand-p-theme .sidebar.sidebar-pills .nav-link:hover {
  color: #52331E !important;
}
.thailand-p-theme table.table-hover tbody tr:hover {
  background-color: #d9b967;
}
.thailand-p-theme .btn-primary, .thailand-p-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #ffffff !important;
  background-color: #52331E;
}
.thailand-p-theme .article-widget {
  display: flex;
}
.thailand-p-theme .article-widget .thumbnail {
  flex: 0 0 100px;
  background: #eee;
  background-size: cover;
}
.thailand-p-theme .article-widget .content {
  margin-left: 1em;
}
