@-webkit-keyframes ZoomImage {
    0% {
        opacity: .5
    }
    25% {
        opacity: 1
    }
    to {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}

@keyframes ZoomImage {
    0% {
        opacity: .5
    }
    25% {
        opacity: 1
    }
    to {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}

@-webkit-keyframes ZoomImageIE11 {
    0% {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes ZoomImageIE11 {
    0% {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes FadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes FadeInup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes FadeInup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}