$blue: #273848;
$light-blue: #BCC4D8;
$light-blue-10: #E4E8EF;
$dark-gray: #383634;
$dark-gray-10: #404142;
$gray: #808080;
$light-gray: #CBCBCB;
$light-gray-10: #EAEAEA;

$navyblue: #273848;
$bluelagoon: #007F8E;
$brown: #52331E;
$gold: #AB9357;
