$color_primary: #52331E;
$color_primary_light: #AB9357;
$color_background_light: #d9b967;
$color_highlight: #E4895A;
$navbar_width: 300px;

body {
    background-color: #fff;
}

.btn-primary, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: $color_primary;
    border-color: $color_primary;
    color: #fff;
}
.btn-highlight {
    background-color: $color_highlight;
    border-color: $color_highlight;
    color: #fff !important;
    font-weight: bold;
}
.dataTables_wrapper .dataTables_filter input:focus, .dataTables_wrapper .dataTables_length select:focus, .form-control:focus {
    border-color: $color_primary_light;
    box-shadow: 0 0 0 2px $color_primary_light;
}

.sidebar.sidebar-pills .nav-link {
    border-radius: 0px;
}
.sidebar-pills .nav-link.active, .sidebar-pills .nav-link:hover, .sidebar-pills .nav-link:hover .nav-icon {
    color: $color_primary !important;
}
.sidebar.sidebar-pills .nav-link.active .nav-icon, .sidebar.sidebar-pills .nav-link:hover .nav-icon {
    color: $color_primary !important;
}
.app-body {
    .sidebar.sidebar-pills {
        flex: 0 0 $navbar_width;
        li.nav-dropdown {
            ul.nav-dropdown-items {
                li.nav-dropdown {
                    a.nav-dropdown-toggle {
                        padding-left: 1.5em;
                    }
                    ul.nav-dropdown-items {
                        a:not(.nav-dropdown-toggle) {
                            padding-left: 2.5em;
                        }
                    }
                }
            }
        }
        .sidebar-nav, .sidebar-scroll {
            width: $navbar_width - 25px;
        }
    }
}
html:not([dir=rtl]) .sidebar {
    margin-left: -$navbar_width;
}

.sidebar {
    .nav {
        width: $navbar_width;
    }
}

.thailand-p-theme {
    .app-header {
        background-color: $color_primary !important;
        .navbar-brand {
            display: flex;
            opacity: 1;
            width: $navbar_width;
            padding: 0px;
            padding: 0 0.5em;
            background: #fff;
            > div.logo {
                padding: 5px;
            }
            > div {
                font-size: 0.75em;
                .text2 {
                    font-size: 1.125em;
                    font-weight: bold;
                    color: $color_primary;
                }
            }
        }
    }
    .app-footer {
        background-color: $color_primary !important;
        .copyright {
            // display: flex;
            // width: 100%;
        }
        .logo-footer {
            // width:100%;
            img {
                height: 30px;
            }
        }
        .text_footer {
            display: inline-block;
            padding-left: 25px;
            vertical-align: middle;
            // width: calc(100% - 150px);
            color: #ffffff;
            font-size: 0.875em;
            h4 {
                margin-bottom: 0;
                font-size: 1.1rem;
            }
            address {
                margin-bottom: 0;
            }
        }
    }

    a {
        color: $color_primary;
    }
    
    .page-item.active .page-link {
        background-color: $color_primary;
        border: none;
    }

    .sidebar {
        background-color: whitesmoke !important;
        .nav-title {
            font-size: 1em;
            margin-top: 1em;
            color: $color_primary;
        }
    }

    .sidebar.sidebar-pills .nav-link.active, .sidebar.sidebar-pills .nav-link:hover {
        background-color: $color_primary_light;
    }

    .sidebar.sidebar-pills .nav-link.active, .sidebar.sidebar-pills .nav-link:hover {
        color: $color_primary !important;
    }

    table.table-hover tbody tr:hover {
        background-color: $color_background_light;
    }

    .btn-primary, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        color: #ffffff !important;
        background-color: $color_primary;
    }

    .article-widget {
        display: flex;
        .thumbnail {
            flex: 0 0 100px;
            background: #eee;
            background-size: cover;
            
        }
        .content {
            margin-left: 1em;
        }
    }
}