@font-face {
  font-family: 'webfont';
  src: url("../fonts/db_heavent_med_v3.2.woff2") format("woff2"), url("../fonts/db_heavent_med_v3.2.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'webfont';
  src: url("../fonts/db_heavent_v3.2.woff2") format("woff2"), url("../fonts/db_heavent_v3.2.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?najopg");
  src: url("../fonts/icomoon.eot?najopg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?najopg") format("truetype"), url("../fonts/icomoon.woff?najopg") format("woff"), url("../fonts/icomoon.svg?najopg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
