@font-face {
    font-family: 'webfont';
    src: url("../fonts/db_heavent_med_v3.2.woff2") format("woff2"), url("../fonts/db_heavent_med_v3.2.woff") format("woff");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: 'webfont';
    src: url("../fonts/db_heavent_v3.2.woff2") format("woff2"), url("../fonts/db_heavent_v3.2.woff") format("woff");
    font-weight: 400;
    font-style: normal; }