section {
  position: relative
}

html[lang=en] .card {
  font-family: 'webfont';
}

html[lang=th] .card {
  font-family: 'kittithada';
}

a.card,
a.card:hover {
  text-decoration: none
}

a.card:focus {
  outline: 0
}

.card {
  border: 0;
  border-radius: 0;
  position: relative;
  
  .text-center{
    margin-bottom: 0;
    margin-top: auto;
    padding: 1rem 0 0;
  }
}

.card,
.card__figure {
  overflow: hidden
}

.card__image {
  width: 100%
}

.card__icon {
  font-size: 1.25rem
}

.card__category {
  color: #91bd27;
  font-style: italic;
  margin-bottom: 5px
}

.card__bg-image {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2
}

.card .card__zoom-in {
  overflow: hidden;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

.card:hover .card__zoom-in {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}

.card-deck--cards-1>.card {
  flex: 0 0 100%;
  flex-basis: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0
}

.card-deck--cards-2>.card {
  flex: 0 0 calc(50% - 30px);
  flex-basis: calc(50% - 30px);
  max-width: calc(50% - 30px);
  margin-right: 15px;
  margin-left: 15px
}

.card-deck--cards-3>.card {
  flex: 0 0 calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  max-width: calc(33.33333% - 30px);
  margin-right: 15px;
  margin-left: 15px
}

.card-deck--cards-4>.card {
  flex: 0 0 calc(25% - 30px);
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  margin-right: 15px;
  margin-left: 15px
}

.card-deck--cards-5>.card {
  flex: 0 0 calc(20% - 30px);
  flex-basis: calc(20% - 30px);
  max-width: calc(20% - 30px);
  margin-right: 15px;
  margin-left: 15px
}

.card-deck--cards-6>.card {
  flex: 0 0 calc(16.66667% - 30px);
  flex-basis: calc(16.66667% - 30px);
  max-width: calc(16.66667% - 30px);
  margin-right: 15px;
  margin-left: 15px
}

@media(min-width:576px) {
  .card-deck--cards-sm-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-left: 0
  }
  .card-deck--cards-sm-2>.card {
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px);
      max-width: calc(50% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-sm-3>.card {
      flex: 0 0 calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
      max-width: calc(33.33333% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-sm-4>.card {
      flex: 0 0 calc(25% - 30px);
      flex-basis: calc(25% - 30px);
      max-width: calc(25% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-sm-5>.card {
      flex: 0 0 calc(20% - 30px);
      flex-basis: calc(20% - 30px);
      max-width: calc(20% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-sm-6>.card {
      flex: 0 0 calc(16.66667% - 30px);
      flex-basis: calc(16.66667% - 30px);
      max-width: calc(16.66667% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
}

@media(min-width:768px) {
  .card-deck--cards-md-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-left: 0
  }
  .card-deck--cards-md-2>.card {
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px);
      max-width: calc(50% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-md-3>.card {
      flex: 0 0 calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
      max-width: calc(33.33333% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-md-4>.card {
      flex: 0 0 calc(25% - 30px);
      flex-basis: calc(25% - 30px);
      max-width: calc(25% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-md-5>.card {
      flex: 0 0 calc(20% - 30px);
      flex-basis: calc(20% - 30px);
      max-width: calc(20% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-md-6>.card {
      flex: 0 0 calc(16.66667% - 30px);
      flex-basis: calc(16.66667% - 30px);
      max-width: calc(16.66667% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
}

@media(min-width:992px) {
  .card-deck--cards-lg-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-left: 0
  }
  .card-deck--cards-lg-2>.card {
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px);
      max-width: calc(50% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-lg-3>.card {
      flex: 0 0 calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
      max-width: calc(33.33333% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-lg-4>.card {
      flex: 0 0 calc(25% - 30px);
      flex-basis: calc(25% - 30px);
      max-width: calc(25% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-lg-5>.card {
      flex: 0 0 calc(20% - 30px);
      flex-basis: calc(20% - 30px);
      max-width: calc(20% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-lg-6>.card {
      flex: 0 0 calc(16.66667% - 30px);
      flex-basis: calc(16.66667% - 30px);
      max-width: calc(16.66667% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
}

@media(min-width:1200px) {
  .card-deck--cards-xl-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-left: 0
  }
  .card-deck--cards-xl-2>.card {
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px);
      max-width: calc(50% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xl-3>.card {
      flex: 0 0 calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
      max-width: calc(33.33333% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xl-4>.card {
      flex: 0 0 calc(25% - 30px);
      flex-basis: calc(25% - 30px);
      max-width: calc(25% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xl-5>.card {
      flex: 0 0 calc(20% - 30px);
      flex-basis: calc(20% - 30px);
      max-width: calc(20% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xl-6>.card {
      flex: 0 0 calc(16.66667% - 30px);
      flex-basis: calc(16.66667% - 30px);
      max-width: calc(16.66667% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
}

@media(min-width:1560px) {
  .card-deck--cards-xxl-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-left: 0
  }
  .card-deck--cards-xxl-2>.card {
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px);
      max-width: calc(50% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xxl-3>.card {
      flex: 0 0 calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
      max-width: calc(33.33333% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xxl-4>.card {
      flex: 0 0 calc(25% - 30px);
      flex-basis: calc(25% - 30px);
      max-width: calc(25% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xxl-5>.card {
      flex: 0 0 calc(20% - 30px);
      flex-basis: calc(20% - 30px);
      max-width: calc(20% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
  .card-deck--cards-xxl-6>.card {
      flex: 0 0 calc(16.66667% - 30px);
      flex-basis: calc(16.66667% - 30px);
      max-width: calc(16.66667% - 30px);
      margin-right: 15px;
      margin-left: 15px
  }
}

.card-deck .card {
  margin-bottom: 45px
}

.card-group--cards-1>.card {
  flex: 0 0 100%;
  flex-basis: 100%;
  max-width: 100%
}

.card-group--cards-2>.card {
  flex: 0 0 50%;
  flex-basis: 50%;
  max-width: 50%
}

.card-group--cards-3>.card {
  flex: 0 0 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%
}

.card-group--cards-4>.card {
  flex: 0 0 25%;
  flex-basis: 25%;
  max-width: 25%
}

.card-group--cards-5>.card {
  flex: 0 0 20%;
  flex-basis: 20%;
  max-width: 20%
}

.card-group--cards-6>.card {
  flex: 0 0 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%
}

@media(min-width:576px) {
  .card-group--cards-sm-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%
  }
  .card-group--cards-sm-2>.card {
      flex: 0 0 50%;
      flex-basis: 50%;
      max-width: 50%
  }
  .card-group--cards-sm-3>.card {
      flex: 0 0 33.33333%;
      flex-basis: 33.33333%;
      max-width: 33.33333%
  }
  .card-group--cards-sm-4>.card {
      flex: 0 0 25%;
      flex-basis: 25%;
      max-width: 25%
  }
  .card-group--cards-sm-5>.card {
      flex: 0 0 20%;
      flex-basis: 20%;
      max-width: 20%
  }
  .card-group--cards-sm-6>.card {
      flex: 0 0 16.66667%;
      flex-basis: 16.66667%;
      max-width: 16.66667%
  }
}

@media(min-width:768px) {
  .card-group--cards-md-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%
  }
  .card-group--cards-md-2>.card {
      flex: 0 0 50%;
      flex-basis: 50%;
      max-width: 50%
  }
  .card-group--cards-md-3>.card {
      flex: 0 0 33.33333%;
      flex-basis: 33.33333%;
      max-width: 33.33333%
  }
  .card-group--cards-md-4>.card {
      flex: 0 0 25%;
      flex-basis: 25%;
      max-width: 25%
  }
  .card-group--cards-md-5>.card {
      flex: 0 0 20%;
      flex-basis: 20%;
      max-width: 20%
  }
  .card-group--cards-md-6>.card {
      flex: 0 0 16.66667%;
      flex-basis: 16.66667%;
      max-width: 16.66667%
  }
}

@media(min-width:992px) {
  .card-group--cards-lg-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%
  }
  .card-group--cards-lg-2>.card {
      flex: 0 0 50%;
      flex-basis: 50%;
      max-width: 50%
  }
  .card-group--cards-lg-3>.card {
      flex: 0 0 33.33333%;
      flex-basis: 33.33333%;
      max-width: 33.33333%
  }
  .card-group--cards-lg-4>.card {
      flex: 0 0 25%;
      flex-basis: 25%;
      max-width: 25%
  }
  .card-group--cards-lg-5>.card {
      flex: 0 0 20%;
      flex-basis: 20%;
      max-width: 20%
  }
  .card-group--cards-lg-6>.card {
      flex: 0 0 16.66667%;
      flex-basis: 16.66667%;
      max-width: 16.66667%
  }
}

@media(min-width:1200px) {
  .card-group--cards-xl-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%
  }
  .card-group--cards-xl-2>.card {
      flex: 0 0 50%;
      flex-basis: 50%;
      max-width: 50%
  }
  .card-group--cards-xl-3>.card {
      flex: 0 0 33.33333%;
      flex-basis: 33.33333%;
      max-width: 33.33333%
  }
  .card-group--cards-xl-4>.card {
      flex: 0 0 25%;
      flex-basis: 25%;
      max-width: 25%
  }
  .card-group--cards-xl-5>.card {
      flex: 0 0 20%;
      flex-basis: 20%;
      max-width: 20%
  }
  .card-group--cards-xl-6>.card {
      flex: 0 0 16.66667%;
      flex-basis: 16.66667%;
      max-width: 16.66667%
  }
}

@media(min-width:1560px) {
  .card-group--cards-xxl-1>.card {
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%
  }
  .card-group--cards-xxl-2>.card {
      flex: 0 0 50%;
      flex-basis: 50%;
      max-width: 50%
  }
  .card-group--cards-xxl-3>.card {
      flex: 0 0 33.33333%;
      flex-basis: 33.33333%;
      max-width: 33.33333%
  }
  .card-group--cards-xxl-4>.card {
      flex: 0 0 25%;
      flex-basis: 25%;
      max-width: 25%
  }
  .card-group--cards-xxl-5>.card {
      flex: 0 0 20%;
      flex-basis: 20%;
      max-width: 20%
  }
  .card-group--cards-xxl-6>.card {
      flex: 0 0 16.66667%;
      flex-basis: 16.66667%;
      max-width: 16.66667%
  }
}

.card-group .card {
  margin-bottom: 0
}

.card--primary .card__title {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700
}

@media(max-width:1199.98px) {
  .card--primary .card__title {
      font-size: 1.75rem
  }
}

.card--primary .card__text {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400
}

@media(max-width:1199.98px) {
  .card--primary .card__text {
    font-size: 1rem
  }
}

.card--primary {
  background-color: transparent
}

.card--primary .card__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain
}

.card--primary .card__icon {
  transition: all .3s ease-out
}

.card--primary .card__title {
  margin-bottom: 0
}

.card--primary .card__header{
padding: 0;
margin: 0
}

.card--primary .card__body {
border-top: 1px solid #EBEBEB;
padding: 30px 0 0 0;
margin: 30px 0 0 0;
}

.card--primary:hover .card__icon {
-webkit-transform: translateX(10px);
transform: translateX(10px)
}

.card--member{
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
background-color: transparent;

.card__figure{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  color: $color-primary;
  border-radius: 50%;
  border: solid 5px $color-primary;
  transition: all 0.3s ease-out;

  span{
    font-size: 3rem;
    line-height: 3rem;
  }
}

.card__image{
  width: auto;
  max-width: 48px;
  margin: 0 auto;
}

.image__hover{
  display: none;
}

.card__body{
  margin-bottom: 0;
  margin-top: auto;
  padding: 1rem 0 0;
  text-align: center;
}

.card__title{
  font-size: $font-sm;
  line-height: $font-sm;
  color: #080808;
  transition: all 0.3s ease-out;
}

&:hover{
  text-decoration: none;

  .card__figure{
    color: white;
    background-color: $color-primary;
    transition: all 0.3s ease-out;
  }

  .card__image{
    display: none;
  }

  .image__hover{
    display: block;
  }

  .card__title{
    color: $color-primary;
    transition: all 0.3s ease-out;
  }
}

@media (max-width: 767.98px){
  .card__figure{
    width: 100px;
    height: 100px;
  }

  .card__image{
    max-width: 40px;
  }
}
}

.card--knowledge{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  text-decoration: none;
  background-color: transparent;

  &.spotlight{
    video, iframe{
      // width: 320px;
      // height: 215px;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
    }

    .card__body{
      min-height: 125px;
      padding: 0 0 2rem 0;
    }
  }

  .card__figure{
    // position: relative;
    // width: 100%;
    // height: 215px;
    // margin: 0;

    // .card__image{
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }

    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 66.6666666667%;
        background-color: transparent;
    }

    .card__image{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
    }

    .card__icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      color: white;
      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.67);
    }

    iframe{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .card__body{
    min-height: 200px;
    padding: 0 0 2rem 0;
  }

  &__video{
    position: relative;

    .card__figure{
      width: 100%;
      min-height: 430px;
      height: auto;
    }

    .card__body{
      position: absolute;
      width: 100%;
      min-height: 1rem;
      height: auto;
      left: 0;
      bottom: 1rem;
      padding: 0 15px !important;
      background-color: rgba($color: #fff, $alpha: 0.67);
    }
  }

  .card__type{
    width: max-content;
    padding: 5px 15px;
    margin: 15px 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: white;
    text-align: center;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
  }

  .card__title{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    font-size: $font-sm;
    line-height: $font-sm;
    color: $dark-gray;
  }

  .card__text{
    margin: 0;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: $font-xs;
    line-height: $font-xs;
    color: $dark-gray-10;
  }

  .list-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

    .list-group-item{
      border: none;
      padding: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 1.25rem;
      line-height: 1.25rem;
      color: #817F7F;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent ;

      i{
        padding-right: 5px;
      }

      &:last-child{
        margin-right: 0;;
      }
    }
  }
}

.card--news-highlight{
padding: 20px 15px;
display: flex;
flex-direction: row;
justify-content: center;
text-decoration: none;
background-color: transparent;

.card__item{
  width: 50%;
}

.card__figure{
  margin-bottom: 0;

  position: relative;
  overflow: hidden;

  &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 66.6666666667%;
      background-color: transparent;
  }

  img{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
  }
}


.card__body{
  margin: 0 0 0 45px;
}

.card__type{
  width: max-content;
  padding: 5px 15px;
  margin: 0 0 15px 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  text-align: center;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-md;
  line-height: $font-md;
  color: $dark-gray;

  &:hover{
    color: $color-secondary;
  }
}

.card__text{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray-10;
}

.list-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 35px;
  margin: 30px 0;
  border-radius: 0;
  border-bottom: 1px solid $gray;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}

@media (max-width: 991.98px) {
  flex-direction: column;

  .card__item{
    width: 100%;
  }

  .card__body{
    margin: 30px 0 0 0;
  }
}
}

.card--news{
display: flex;
flex-direction: row;
justify-content: flex-start;
text-decoration: none;
background-color: transparent;

.card__figure{
  margin-bottom: 0;
}

.card__image{
  max-width: 100%;
}

.card__body{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 15px;
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-sm;
  line-height: $font-sm;
  color: $dark-gray;

  &:hover{
    color: $color-secondary;
  }
}

.card__text{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray-10;
}

.list-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  padding: 15px 0 0;
  border-radius: 0;
  border: none;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}
}

.card--announce{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  text-decoration: none;
  background-color: transparent;

.card__figure{
  margin-bottom: 0;

  position: relative;
  overflow: hidden;

  &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 66.6666666667%;
      background-color: transparent;
  }

  img{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
  }
}

.card__body{
  margin: 15px 0;
}

.card__catalogue{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card__type{
  width: max-content;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  text-align: center;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

.card__level{
  min-width: 113px;
  padding: 5px 15px;
  margin: 1rem 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: $dark-gray;
  text-align: center;
  border: 1px solid $gray;
  background-color: white;

  &--v-important{
    @extend .card__level;
    color: white;
    background-color: #911010;
  }

  &--important{
    @extend .card__level;
    color: white;
    background-color: #E6BC0A;
  }
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-sm;
  line-height: $font-sm;
  color: $dark-gray;
}

.card__text{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray-10;
}

.list-group{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}
}

.card--announce-horizontal{
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 45px;
  text-decoration: none;
  background-color: transparent;

  @media (max-width: 767.98px){
    flex-direction: column;
  }

  .card__figure{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 275px;
    margin: 0 30px 0 0;

    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 66.6666666667%;
        background-color: transparent;
    }

    img{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
        transition: all .6s ease-in-out;
    }

    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }

  .card__body{
    margin: 5px 0 0;
  }

  .card__catalogue{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .card__type{
    width: max-content;
    padding: 5px 15px;
    margin: 0 10px 0 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: white;
    text-align: center;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
  }

  .card__level{
    min-width: 113px;
    padding: 5px 15px;
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: $dark-gray;
    text-align: center;
    border: 1px solid $gray;
    background-color: white;

    &--v-important{
      @extend .card__level;
      color: white;
      background-color: #911010;
    }

    &--important{
      @extend .card__level;
      color: white;
      background-color: #E6BC0A;
    }
  }

  .card__title{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    font-size: $font-md;
    line-height: $font-md;
    color: $dark-gray;
  }

  .card__text{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: $font-xs;
    line-height: $font-xs;
    color: $dark-gray-10;
  }

  .list-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

    .list-group-item{
      border: none;
      padding: 0;
      margin-right: 10px;
      font-size: 1.25rem;
      line-height: 1.25rem;
      color: #817F7F;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      i{
        padding-right: 5px;
      }

      &:last-child{
        margin-right: 0;;
      }
    }
  }
}

.card--calendar{
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
background-color: transparent;

.card__figure{
  margin-bottom: 0;

  position: relative;
  overflow: hidden;

  &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 66.6666666667%;
      background-color: transparent;
  }

  .card__image{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
  }
}

.card__body{
  margin: 1rem 0;
}

.card__catalogue{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card__type{
  width: max-content;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  text-align: center;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

.card__date{
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  padding: 10px;
  text-align: center;
  background-color: #A51414;

  .date__title{
    margin-bottom: 0;
    font-size: $font-lg;
    line-height: $font-sm;
    color: white;
  }

  .date__text{
    margin-bottom: 0;
    font-size: 1rem;
    line-height: $font-xs;
    color: white;
  }
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-sm;
  line-height: $font-sm;
  color: $dark-gray;
}

.card__text{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray-10;
}

.list-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}
}

.card--video{
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
background-color: transparent;

.card__figure{
  overflow: hidden;
  margin-bottom: 0;
}

.card__image{
  position: relative;
  display: block;
  width: 100%;
  height: 385px;
  margin-bottom: 0;
  background-position: center;
  background-size: cover;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

.card__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  line-height: 5rem;
  color: white;
}

.card__body{
  padding: 0 0 3rem;
  margin: 1rem 0;
}

.card__type{
  width: max-content;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  text-align: center;
  background-color: $color-secondary;
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-sm;
  line-height: $font-sm;
  color: $dark-gray;
}

.card__text{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray-10;
}

.list-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}

&:hover{
  .card__image{
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}
}

.card--course{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 25px;

  .card__figure{
    flex-basis: 17.5rem;
    
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 66.6666666667%;
        background-color: transparent;
    }

    .card__image{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
    }
  }

  .card__image{
    width: 100%;
  }

  .card__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    line-height: 2rem;
    color: white;
  }

  .card__body{
    flex-basis: calc(100% - 19.5rem);
    margin: 0 0 0 2rem;
  }

  .card__title{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    font-size: $font-sm;
    line-height: $font-sm;
    color: white;
  }

  .card__text{
    display: -webkit-box;
      width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: white;
    padding-top: 15px;
    margin-right: 1rem;
    border-top: 1px solid white;
  }

  .rating__star{
    font-size: 1.375rem;
    color: #FFCE00;

    .icon-star{
      font-size: 0.8rem;
      color: #FFCE00;
    }
  }

  .list-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

    .list-group-item{
      border: none;
      padding: 0;
      margin-right: 15px;
      font-size: 1.375rem;
      line-height: 1.375rem;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent;
    }
  }

  &:hover{
    .card__image{
      -webkit-transform: scale(1.05);
      transform: scale(1.05)
    }
  }

  @media (max-width: 767.98px){
    flex-direction: column;

    .card__image{
      width: 100%;
      height: 250px;
    }

    .card__body{
      margin: 20px 0 0 0;
    }
  }
}

.card--course-horizontal{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: stretch;
text-decoration: none;

.card__figure{
  order: 1;
  flex-basis: 100%;
}

.card__body{
  order: 2;
  flex-basis: 100%;
  margin: 30px 0 0;
}

.card__type{
  width: max-content;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  text-align: center;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-md;
  line-height: $font-md;
  color: $dark-gray;
}

.card__text{
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray;
}

.list-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}

.list--detail{
  display: block;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid $gray;

  .list--detail__label{
    display: flex;
    align-items: center;
    font-size: $font-xs;
    line-height: $font-xs;
    color: $dark-gray;
    margin-bottom: 20px;

    i{
      margin-right: 10px;
    }
  }

  .list--detail__text{
    font-size: $font-xs;
    line-height: $font-xs;
    color: $dark-gray;
    margin-bottom: 20px;
  }
}

@media  (min-width: 768px) {
  flex-wrap:nowrap;

  .card__body{
    margin: 0 15px 0 30px;
  }
}
}

.card--course-list{
display: flex;
flex-direction: column;
justify-content: center;

height: 560px;
text-decoration: none;
border: 1px solid #ADADAD;
background-color: white;

.card__figure{
  margin-bottom: 0;
}

.card__body{
  margin: 1rem 0;
}

.card__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #C9C9C9;
}

.card__type{
  width: max-content;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  text-align: center;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-sm;
  line-height: $font-sm;
  color: $dark-gray;
}

.card__text{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray-10;
}

.card__time{
  display: flex;
  align-items: center;
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray;

  .icon-time{
    margin-right: 10px;
  }
}

.card__price{
  font-size: $font-xs;
  line-height: $font-xs;
  color: #D01313;
}

.list-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}
}

.card--blog-highlight{
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
background-color: transparent;

.card__figure{
  overflow: hidden;
  margin-bottom: 0;
}

.card__image{
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

.card__body{
  margin: 1rem 0;
}

.card__type{
  width: max-content;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  text-align: center;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

.card__title{
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: $font-md;
  line-height: $font-md;
  color: $dark-gray;
}

.card__text{
  font-size: $font-xs;
  line-height: $font-xs;
  color: $dark-gray;
}

.list-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;

  .list-group-item{
    border: none;
    padding: 0;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #817F7F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
      padding-right: 5px;
    }

    &:last-child{
      margin-right: 0;;
    }
  }
}

&:hover{
  .card__image{
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}

@media (max-width: 767.98px){
  flex-direction: column;

  .card__image{
    width: 100%;
    height: 250px;
  }

  .card__body{
    margin: 20px 0 0 0;
  }
}
}

.card--blog{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 3.75rem;

  .card__figure{
    flex-basis: 17.5rem;
    margin-bottom: 0;

    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 66.6666666667%;
        background-color: transparent;
    }

    .card__image{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
    }
  }

  .card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .card__body{
    flex-basis: calc(100% - 19.5rem);
    margin: 0 0 0 2rem;
  }

  .card__type{
    width: max-content;
    padding: 5px 15px;
    margin: 0 0 15px 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: white;
    text-align: center;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
  }

  .card__title{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    font-size: $font-sm;
    line-height: $font-sm;
    color: $dark-gray;
  }

  .card__text{
    font-size: $font-xs;
    line-height: $font-xs;
    color: $dark-gray;
  }

  .list-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

    .list-group-item{
      border: none;
      padding: 0;
      margin-right: 10px;
      font-size: 1.25rem;
      line-height: 1.25rem;
      color: #817F7F;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      i{
        padding-right: 5px;
      }

      &:last-child{
        margin-right: 0;;
      }
    }
  }

  @media (max-width: 991.98px){
    flex-direction: column;

    .card__image{
      max-width: 100%;
      margin: 0 auto;
    }

    .card__body{
      margin: 20px 0 0 0;
    }
  }
}
