
.footer {
    position: relative;
    background-color: $color-primary
}

.footer__top {  
    padding: 30px 0;
    font-size: $font-xs;
    line-height: $font-xs;
    color: white;

    a{
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-out;

        &:hover{
            color: $color-secondary;
        }
    }

    address{
        margin-bottom: 0;
    }

    @media (max-width: 767.98px){
        text-align: center;
    }
}

.footer__nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width:767.98px) {
    .footer__nav {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }
}

.footer__nav-item {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid
}

.footer__bottom-link,
.footer__bottom-link:hover,
.footer__nav-link,
.footer__nav-link:hover,
.footer__nav-link--sub,
.footer__nav-link--sub:hover {
    color: #fff;
    text-decoration: none
}

.footer__nav-icon {
    font-size: .75rem;
    width: 30px;
    display: inline-block
}

.footer__share {
    display: inline-flex;
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    color: #000;
    margin: 0 5px
}

.footer__share,
.footer__share:hover {
    text-decoration: none
}

.footer__bottom {
    padding-bottom: 30px;
    margin-top: 24px;
    font-size: 0.75rem;
    line-height: 1.5rem
}

.footer__bottom-link {
    margin-left: 15px
}

@media(max-width:1559.98px) {
    .footer__bottom-link {
        margin-left: 0;
        margin-right: 15px
    }
}

.footer__bottom-menu-wrapper {
    text-align: right
}

@media(max-width:1559.98px) {
    .footer__bottom-menu-wrapper {
        text-align: left
    }
}

.bg-menu-active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-gray-10;
    display: none;
    opacity: 0;
    transition: all .3s ease-out;

    &.is-active{
        display: block;
        opacity: 0.5;
    }
}