.breadcrumb__outer{
    position: relative;
    display: block;
    margin: 30px 0;
  
    @media( max-width:991.98px) {
        margin: 20px 0;
    }
}
  
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  
    .breadcrumb-item{
        font-weight: 400;
        font-size: $font-xs;
        line-height: $font-sm;
        color: #9B9B9B;

        .icon-home{
            font-size: 1rem;
            line-height: $font-sm;
        }
    
        &+ .breadcrumb-item{
            padding-left: 10px;

            &:before{
                font-family: 'icomoon';
                content: '\e902';
                font-size: 0.5rem;
                padding-right: 10px;
                color: #9B9B9B;
            }
        }
  
        .breadcrumb-link{
            text-decoration: none;
            color: #9B9B9B;

            &:hover{
                color: $color-secondary;
            }
        }
  
    }
}

.accordion--primary{
    margin-bottom: 30px;
    
    .accordion__title{
      position: relative;
      display: block;
      padding: 15px 70px 15px 35px;
      margin-top: 20px;
      font-weight: 500;
      font-size: $font-xs;
      line-height: 100%;
      color: $dark-gray;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      background-color: #EBEBEB;
  
      &:hover{
        font-weight: 500;
        color: white !important;
        background-color: $color-secondary;

        .more-less {
            color: white !important;
        }
      }
  
      &[aria-expanded='true']{
        font-weight: 500;
        color: white !important;
        background-color: $color-secondary !important;
  
        .more-less {
          color: white !important;
          font-size: 0.8rem;
          transform: translate(0, -50%) rotate(180deg);
        }
      }

      .title__media{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 30px;

          .media__detail{
            display: flex;
            align-items: center;

            p{
                margin-bottom: 0;
                display: flex;
                align-items: center;

                &:not(first-child){
                    margin-left: 20px;
                }
            }

            i{
                margin-right: 10px;
                font-size: 1.25rem;
            }
          }
      }
    }
    
    .accordion__body{
      padding: 32px;
      margin: 0;
      font-size: $font-xs;
      line-height: 100%;
      border: 1px solid #A7A6A6;
      background-color: white;

      .media__list{
        display: block;

        .media__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid $gray;
            opacity: 0.35;

            &:last-child{
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0 solid $gray;
            }

            &.active{
                opacity: 1;
            }
        }

        .media__link{
            display: flex;
            align-items: center;

            i{
                margin-right: 10px;
                font-size: 1.25rem;
            }
        }
        .media__text{
            margin-bottom: 0;
        }
      }
    }
  
    .more-less {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translate(0, -50%);
      color: $dark-gray;
      font-size: 0.8rem;
      transition: all 0.3s ease-out;
    }
  
    @media (max-width: 767.98px){
      .accordion__title{
        padding: 15px 45px 15px 15px;

        .title__media{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-right: 0;

            .media__detail p:not(first-child){
                margin: 0;
                margin-right: 10px;
            }
        }
      }
  
      .accordion__body{
        padding: 15px;
      }
  
      .more-less {
        right: 15px;
      }
    }
}

.tag--container{
    display: block;
    margin-bottom: 30px;

    .tag__title{
        display: inline-block;
        min-width: 50px;
        padding: 5px 40px;
        margin: 0 15px 0 0;
        font-size: 1.25rem;
        line-height: 1.25rem;
        color: #555;
        border-radius: 30px;
        background-color: #CECECE;
    }

    .tag__text{
        display: inline-block;
        min-width: 50px;
        padding: 5px 40px;
        margin: 0 15px 0 0;
        font-size: 1.25rem;
        line-height: 1.25rem;
        color: #555;
        border: 1px solid #CECECE;
        border-radius: 30px;
    }

    @media (max-width: 991.98px) {
        .tag__title{
            margin-bottom: 15px;
        }

        .tag__text{
            margin-bottom: 15px;
        }
    }
}

.share--container{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 30px;

    .share--container-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        text-decoration: none;
        padding: 0 20px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid #C6C6C6;
        background-color: transparent;
        transition: all 0.3s ease-out;

        &--facebook{
            color: white;
            border-color: #4268b2;
            background-color: #4268b2;

            &:hover{
                color: #4268b2;
                background-color: white;
            }
        }

        &--line{
            color: white;
            border-color: #4caf50;
            background-color: #4caf50;

            &:hover{
                color: #4caf50;
                background-color: white;
            }
        }

        &--email{
            color: white;
            border-color: #f46e0f;
            background-color: #f46e0f;

            &:hover{
                color: #f46e0f;
                background-color: white;
            }
        }

        &--like{
            color: white;
            border-color: #2C82E6;
            background-color: #2C82E6;

            &:hover{
                color: #2C82E6;
                background-color: white;
            }
            
            &.active{
                color: #2C82E6;
                background-color: white;
            }
        }

        &--fav{
            color: white;
            border-color: #B13A3A;
            background-color: #B13A3A;

            &:visited {
                color: #B13A3A;
                background-color: white;
            }

            &:hover{
                color: #B13A3A;
                background-color: white;
            }

            &.active{
                color: #B13A3A;
                background-color: white;
            }
        }

        &:last-child{
            margin-right: 0;
        }

        .share--container-icon{
            font-size: 1.25rem;
            font-weight: 100;
            line-height: 0;
        }
        
        .share--container-text{
            font-size: 1.25rem;
            margin-left: 10px;
        }
    }

    @media (max-width: 767.98px){
        flex-flow: row wrap;

        .share--container-link{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 40%;
            margin: 0 10px 10px 0;

            &:last-child{
                margin: 0 10px 10px 0;
            }
        }
    }
}

.btn:focus,
button:focus {
    outline: 0;
    box-shadow: none
}

.btn {
    font-weight: 500;
    font-size: $font-xs;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    transition: all .3s ease;
    text-decoration: none;
    border: 0;
    padding: 0;
    border-radius: 30px;
}

.btn.disabled {
    pointer-events: none
}

.btn__text {
    transition: all .3s ease-out
}

.btn__icon {
    color: #3aa537;
    font-size: $font-xs;
    line-height: 0;
    display: flex;
    padding: 5px
}

.btn .btn__slide-left {
    display: flex;
    align-items: center;
    transition: all .3s ease-out
}

.btn:hover .btn__slide-left {
    -webkit-transform: translateX(30px);
    transform: translateX(30px)
}

.btn .btn__slide-right {
    display: flex;
    align-items: center;
    transition: all .3s ease-out
}

.btn:hover .btn__slide-right {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px)
}

.btn--primary {
    color: white;
    min-width: 100px;
    padding: 5px 1.25rem;
    background-color: $color-secondary;

    &:hover{
        color: white;
        background-color: $color-primary;
    }
}

.btn--secondary {
    color: white;
    min-width: 100px;
    padding: 5px 1.25rem;
    background-color: $color-primary;

    &:hover{
        color: white;
        background-color: $color-secondary;
    }
}

.btn--link-primary {
    position: relative;
    min-width: 150px;
    padding: 5px 1.25rem;
    padding-left: 2.5rem;
    padding-right: 4rem;
    color: white;
    background-color: $color-primary;
    border: solid 1px $color-primary;

    .icon__link{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-20px, -50%);
        transition: all .3s ease-out;

        i{
            font-size: 0.8rem;
            line-height: 1.5rem;
            color: white;
        }
    }

    &:hover{
        color: white;
        border-color: $color-secondary;
        background-color: $color-secondary;
        .icon__link{
            transform: translate(-15px, -50%);
        }
    }

    @media(max-width:767.98px) {
        padding-left: 2.5rem;
        padding-right: 4rem
    }
}

.btn--link-secondary {
    position: relative;
    min-width: 150px;
    padding: 5px 1.25rem;
    padding-left: 2.5rem;
    padding-right: 4rem;
    color: white;
    background-color: $color-secondary;
    border: solid 1px $color-secondary;

    .icon__link{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-20px, -50%);
        transition: all .3s ease-out;

        i{
            font-size: 0.8rem;
            line-height: 1.5rem;
            color: white;
        }
    }

    &:hover{
        color: white;
        border-color: $color-primary;
        background-color: $color-primary;
        .icon__link{
            transform: translate(-15px, -50%);
        }
    }

    @media(max-width:767.98px) {
        padding-left: 2.5rem;
        padding-right: 4rem
    }
}

.btn--add-primary {
    position: relative;
    min-width: 150px;
    padding: 5px 1.25rem;
    padding-left: 4rem;
    padding-right: 2.5rem;
    color: $dark-gray;
    background-color: white;
    border: solid 1px $gray;
    border-radius: 0;

    .icon__link{
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 24px;
        transform: translate(15px, -50%);
        transition: all .3s ease-out;

        i{
            font-size: 1.5rem;
            color: #716f6c;
        }
    }

    &:hover{
        color: white;
        border-color: $color-secondary;
        background-color: $color-secondary;
        .icon__link{
            transform: translate(20px, -50%);
            i{
                color: white;
            }
        }
    }

    @media(max-width:767.98px) {
        padding-left: 4rem;
        padding-right: 2.5rem;
    }
}

.btn--loadmore {
    position: relative;
    min-width: 150px;
    padding: 5px 2.5rem;
    color: white;
    background-color: $color-primary;
    border: solid 1px $color-primary;

    &:hover{
        color: white;
        border-color: $color-secondary;
        background-color: $color-secondary;
    }
}

.btn--cancel {
    position: relative;
    min-width: 150px;
    padding: 5px 2.5rem;
    color: white;
    background-color: #A7A7A7;
    border: solid 1px #A7A7A7;

    &:hover{
        color: white;
        border-color: #666;
        background-color: #666;
    }
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px
}

.form-group .form-control {
    border-radius: 30px;
    padding: 5px 1.25rem;
    font-size: 1.35rem;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.form-group .form-control:focus {
    outline: 0;
    box-shadow: none
}

.form--select{
    position: relative;
    &:focus{
        outline: 0;
        box-shadow: none
    }
    &:after{
        content: '\e900';
        position: absolute;
        top: 50%;
        right: 15px;
        bottom: 0;
        padding: 0;
        transform: translate(0, -50%);
        font-family: 'icomoon';
        font-size: 0.5rem;
        color: #8B8B8B;
        pointer-events: none;
        transition: all .25s ease;
    }
}

.form--select-white{
    position: relative;
    &:focus{
        outline: 0;
        box-shadow: none
    }
    &:after{
        content: '\e900';
        position: absolute;
        top: 50%;
        right: 15px;
        bottom: 0;
        padding: 0;
        transform: translate(0, -50%);
        font-family: 'icomoon';
        font-size: 0.5rem;
        color: white;
        pointer-events: none;
        transition: all .25s ease;
    }
}

.lists {
    margin: 0 0 15px;
    padding: 0;
    list-style: none
}

.lists li {
    font-weight: 400;
    position: relative;
    padding-left: 15px;
    margin-bottom: 16px;
}

.lists li:before {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $dark-gray-10;
    top: 10px;
    left: 0
}

ol,
ul {
    margin: 0 0 15px;
    padding-left: 20px
}

.shadow {
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2)
}

//override select2
.form-group{
    .select2-container{
        max-width: 100% !important;
    }

    .select2-container{
        max-width: 100% !important;
    }

    .select2-container .select2-selection--single {
        width: 100% !important;
        height: calc(1.5em + 0.75rem + 2px) !important;
    }

    .select2-container--default .select2-selection--single {
        padding: 5px 1.25rem  !important;
        font-size: 1.35rem  !important;
        border: 1px solid #707070 !important;
        border-radius: 30px  !important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out  !important;

        .select2-selection__rendered{
            font-weight: 400 !important;
            font-size: 1.35rem  !important;
            line-height: 1.5 !important;
            color: #B7B7B7  !important;
        }

        .select2-selection__arrow{
            visibility: hidden !important;
        }

        &:after{
            content: '\e900';
            position: absolute;
            top: 50%;
            right: 15px;
            bottom: 0;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-family: 'icomoon';
            font-size: 0.5rem;
            color: #8B8B8B;
            pointer-events: none;
            -webkit-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }
    }
}
// .select2-container--default {
//     .select2-selection--single{
//         display: block !important;
//         width: 100% !important;
//         height: calc(1.5em + 0.75rem + 2px) !important;
//         font-weight: 400 !important;
//         line-height: 1.5 !important;
//         background-clip: padding-box !important;
//         border: 1px solid #ced4da !important;
//         transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out  !important;
//         border-radius: 30px  !important;
//         padding: 5px 1.25rem  !important;
//         font-size: 1.35rem  !important;
//         -moz-appearance: none  !important;
//         -webkit-appearance: none  !important;
//         appearance: none  !important;
//         color: #B7B7B7  !important;
//         border-color: #707070  !important;
    
//         .select2-selection__arrow{
//             visibility: hidden !important;
//         }
    
//         &:after{
//             content: '\e900';
//             position: absolute;
//             top: 50%;
//             right: 15px;
//             bottom: 0;
//             padding: 0;
//             -webkit-transform: translate(0, -50%);
//             -ms-transform: translate(0, -50%);
//             transform: translate(0, -50%);
//             font-family: 'icomoon';
//             font-size: 0.5rem;
//             color: #8B8B8B;
//             pointer-events: none;
//             -webkit-transition: all .25s ease;
//             -o-transition: all .25s ease;
//             transition: all .25s ease;
//         }
//     }
// }