html {
    scroll-behavior: smooth;
    font-size: 100%;

    @media screen and (max-width: 991.98px){
        font-size: 90%;
    }
    
    @media screen and (max-width: 767.98px){
        font-size: 80%;
    }
}

body::-webkit-scrollbar {
    width: .3125rem;
}

body::-webkit-scrollbar-thumb {
    background-color: $dark-gray-10;
}

.bg-blue {
    background-color: #002842 !important
}

.bg-light-blue {
    background-color: #BCC4D8 !important
}

.bg-light-blue-10{
    background-color: #E4E8EF !important
}

.bg-white{
    background-color: white !important;
}

.bg-gray{
    background-color: #808080 !important;
}

.bg-light-gray{
    background-color: #EDEDED !important;
}

.bg-light-gray-10{
    background-color: #EAEAEA !important;
}

.bg-dark-gray{
    background-color: #2A2A2A !important;
}

.bg-dark-gray-10{
    background-color: #414142 !important;
}

.bg-black{
    background-color: #000 !important;
}

.bg-transparent {
    background-color: transparent
}

.bg-contain {
    background-size: contain
}

.bg-cover {
    background-size: cover
}

.bg-contain,
.bg-cover {
    background-position: 50%;
    background-repeat: no-repeat
}

.bg-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.bg-absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.bg-attachment-fixed {
    background-attachment: fixed;
    background-size: cover
}

.bg-parallax {
    position: relative
}

.bg-black-opacity {
    background: rgba(0, 0, 0, .5)
}

.m-0 {
    margin: 0 !important
}

.mt-0,
.my-0 {
    margin-top: 0 !important
}

.mr-0,
.mx-0 {
    margin-right: 0 !important
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important
}

.ml-0,
.mx-0 {
    margin-left: 0 !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1,
.my-1 {
    margin-top: .25rem !important
}

.mr-1,
.mx-1 {
    margin-right: .25rem !important
}

.mb-1,
.my-1 {
    margin-bottom: .25rem !important
}

.ml-1,
.mx-1 {
    margin-left: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2,
.my-2 {
    margin-top: .5rem !important
}

.mr-2,
.mx-2 {
    margin-right: .5rem !important
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important
}

.ml-2,
.mx-2 {
    margin-left: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3,
.my-3 {
    margin-top: 1rem !important
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important
}

.m-5 {
    margin: 3rem !important
}

.mt-5,
.my-5 {
    margin-top: 3rem !important
}

.mr-5,
.mx-5 {
    margin-right: 3rem !important
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important
}

.m-6 {
    margin: 4.5rem !important
}

.mt-6,
.my-6 {
    margin-top: 4.5rem !important
}

.mr-6,
.mx-6 {
    margin-right: 4.5rem !important
}

.mb-6,
.my-6 {
    margin-bottom: 4.5rem !important
}

.ml-6,
.mx-6 {
    margin-left: 4.5rem !important
}

.m-7 {
    margin: 6rem !important
}

.mt-7,
.my-7 {
    margin-top: 6rem !important
}

.mr-7,
.mx-7 {
    margin-right: 6rem !important
}

.mb-7,
.my-7 {
    margin-bottom: 6rem !important
}

.ml-7,
.mx-7 {
    margin-left: 6rem !important
}

.m-8 {
    margin: 7.5rem !important
}

.mt-8,
.my-8 {
    margin-top: 7.5rem !important
}

.mr-8,
.mx-8 {
    margin-right: 7.5rem !important
}

.mb-8,
.my-8 {
    margin-bottom: 7.5rem !important
}

.ml-8,
.mx-8 {
    margin-left: 7.5rem !important
}

.m-9 {
    margin: 9rem !important
}

.mt-9,
.my-9 {
    margin-top: 9rem !important
}

.mr-9,
.mx-9 {
    margin-right: 9rem !important
}

.mb-9,
.my-9 {
    margin-bottom: 9rem !important
}

.ml-9,
.mx-9 {
    margin-left: 9rem !important
}

.m-10 {
    margin: 10.5rem !important
}

.mt-10,
.my-10 {
    margin-top: 10.5rem !important
}

.mr-10,
.mx-10 {
    margin-right: 10.5rem !important
}

.mb-10,
.my-10 {
    margin-bottom: 10.5rem !important
}

.ml-10,
.mx-10 {
    margin-left: 10.5rem !important
}

.p-0 {
    padding: 0 !important
}

.pt-0,
.py-0 {
    padding-top: 0 !important
}

.pr-0,
.px-0 {
    padding-right: 0 !important
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important
}

.pl-0,
.px-0 {
    padding-left: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.pt-1,
.py-1 {
    padding-top: .25rem !important
}

.pr-1,
.px-1 {
    padding-right: .25rem !important
}

.pb-1,
.py-1 {
    padding-bottom: .25rem !important
}

.pl-1,
.px-1 {
    padding-left: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.pt-2,
.py-2 {
    padding-top: .5rem !important
}

.pr-2,
.px-2 {
    padding-right: .5rem !important
}

.pb-2,
.py-2 {
    padding-bottom: .5rem !important
}

.pl-2,
.px-2 {
    padding-left: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.pt-3,
.py-3 {
    padding-top: 1rem !important
}

.pr-3,
.px-3 {
    padding-right: 1rem !important
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.pt-5,
.py-5 {
    padding-top: 3rem !important
}

.pr-5,
.px-5 {
    padding-right: 3rem !important
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important
}

.pl-5,
.px-5 {
    padding-left: 3rem !important
}

.p-6 {
    padding: 4.5rem !important
}

.pt-6,
.py-6 {
    padding-top: 4.5rem !important
}

.pr-6,
.px-6 {
    padding-right: 4.5rem !important
}

.pb-6,
.py-6 {
    padding-bottom: 4.5rem !important
}

.pl-6,
.px-6 {
    padding-left: 4.5rem !important
}

.p-7 {
    padding: 6rem !important
}

.pt-7,
.py-7 {
    padding-top: 6rem !important
}

.pr-7,
.px-7 {
    padding-right: 6rem !important
}

.pb-7,
.py-7 {
    padding-bottom: 6rem !important
}

.pl-7,
.px-7 {
    padding-left: 6rem !important
}

.p-8 {
    padding: 7.5rem !important
}

.pt-8,
.py-8 {
    padding-top: 7.5rem !important
}

.pr-8,
.px-8 {
    padding-right: 7.5rem !important
}

.pb-8,
.py-8 {
    padding-bottom: 7.5rem !important
}

.pl-8,
.px-8 {
    padding-left: 7.5rem !important
}

.p-9 {
    padding: 9rem !important
}

.pt-9,
.py-9 {
    padding-top: 9rem !important
}

.pr-9,
.px-9 {
    padding-right: 9rem !important
}

.pb-9,
.py-9 {
    padding-bottom: 9rem !important
}

.pl-9,
.px-9 {
    padding-left: 9rem !important
}

.p-10 {
    padding: 10.5rem !important
}

.pt-10,
.py-10 {
    padding-top: 10.5rem !important
}

.pr-10,
.px-10 {
    padding-right: 10.5rem !important
}

.pb-10,
.py-10 {
    padding-bottom: 10.5rem !important
}

.pl-10,
.px-10 {
    padding-left: 10.5rem !important
}

.m-n1 {
    margin: -.25rem !important
}

.mt-n1,
.my-n1 {
    margin-top: -.25rem !important
}

.mr-n1,
.mx-n1 {
    margin-right: -.25rem !important
}

.mb-n1,
.my-n1 {
    margin-bottom: -.25rem !important
}

.ml-n1,
.mx-n1 {
    margin-left: -.25rem !important
}

.m-n2 {
    margin: -.5rem !important
}

.mt-n2,
.my-n2 {
    margin-top: -.5rem !important
}

.mr-n2,
.mx-n2 {
    margin-right: -.5rem !important
}

.mb-n2,
.my-n2 {
    margin-bottom: -.5rem !important
}

.ml-n2,
.mx-n2 {
    margin-left: -.5rem !important
}

.m-n3 {
    margin: -1rem !important
}

.mt-n3,
.my-n3 {
    margin-top: -1rem !important
}

.mr-n3,
.mx-n3 {
    margin-right: -1rem !important
}

.mb-n3,
.my-n3 {
    margin-bottom: -1rem !important
}

.ml-n3,
.mx-n3 {
    margin-left: -1rem !important
}

.m-n4 {
    margin: -1.5rem !important
}

.mt-n4,
.my-n4 {
    margin-top: -1.5rem !important
}

.mr-n4,
.mx-n4 {
    margin-right: -1.5rem !important
}

.mb-n4,
.my-n4 {
    margin-bottom: -1.5rem !important
}

.ml-n4,
.mx-n4 {
    margin-left: -1.5rem !important
}

.m-n5 {
    margin: -3rem !important
}

.mt-n5,
.my-n5 {
    margin-top: -3rem !important
}

.mr-n5,
.mx-n5 {
    margin-right: -3rem !important
}

.mb-n5,
.my-n5 {
    margin-bottom: -3rem !important
}

.ml-n5,
.mx-n5 {
    margin-left: -3rem !important
}

.m-n6 {
    margin: -4.5rem !important
}

.mt-n6,
.my-n6 {
    margin-top: -4.5rem !important
}

.mr-n6,
.mx-n6 {
    margin-right: -4.5rem !important
}

.mb-n6,
.my-n6 {
    margin-bottom: -4.5rem !important
}

.ml-n6,
.mx-n6 {
    margin-left: -4.5rem !important
}

.m-n7 {
    margin: -6rem !important
}

.mt-n7,
.my-n7 {
    margin-top: -6rem !important
}

.mr-n7,
.mx-n7 {
    margin-right: -6rem !important
}

.mb-n7,
.my-n7 {
    margin-bottom: -6rem !important
}

.ml-n7,
.mx-n7 {
    margin-left: -6rem !important
}

.m-n8 {
    margin: -7.5rem !important
}

.mt-n8,
.my-n8 {
    margin-top: -7.5rem !important
}

.mr-n8,
.mx-n8 {
    margin-right: -7.5rem !important
}

.mb-n8,
.my-n8 {
    margin-bottom: -7.5rem !important
}

.ml-n8,
.mx-n8 {
    margin-left: -7.5rem !important
}

.m-n9 {
    margin: -9rem !important
}

.mt-n9,
.my-n9 {
    margin-top: -9rem !important
}

.mr-n9,
.mx-n9 {
    margin-right: -9rem !important
}

.mb-n9,
.my-n9 {
    margin-bottom: -9rem !important
}

.ml-n9,
.mx-n9 {
    margin-left: -9rem !important
}

.m-n10 {
    margin: -10.5rem !important
}

.mt-n10,
.my-n10 {
    margin-top: -10.5rem !important
}

.mr-n10,
.mx-n10 {
    margin-right: -10.5rem !important
}

.mb-n10,
.my-n10 {
    margin-bottom: -10.5rem !important
}

.ml-n10,
.mx-n10 {
    margin-left: -10.5rem !important
}

.m-auto {
    margin: auto !important
}

.mt-auto,
.my-auto {
    margin-top: auto !important
}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important
}

.ml-auto,
.mx-auto {
    margin-left: auto !important
}

@media(min-width:576px) {
    .m-sm-0 {
        margin: 0 !important
    }
    .mt-sm-0,
    .my-sm-0 {
        margin-top: 0 !important
    }
    .mr-sm-0,
    .mx-sm-0 {
        margin-right: 0 !important
    }
    .mb-sm-0,
    .my-sm-0 {
        margin-bottom: 0 !important
    }
    .ml-sm-0,
    .mx-sm-0 {
        margin-left: 0 !important
    }
    .m-sm-1 {
        margin: .25rem !important
    }
    .mt-sm-1,
    .my-sm-1 {
        margin-top: .25rem !important
    }
    .mr-sm-1,
    .mx-sm-1 {
        margin-right: .25rem !important
    }
    .mb-sm-1,
    .my-sm-1 {
        margin-bottom: .25rem !important
    }
    .ml-sm-1,
    .mx-sm-1 {
        margin-left: .25rem !important
    }
    .m-sm-2 {
        margin: .5rem !important
    }
    .mt-sm-2,
    .my-sm-2 {
        margin-top: .5rem !important
    }
    .mr-sm-2,
    .mx-sm-2 {
        margin-right: .5rem !important
    }
    .mb-sm-2,
    .my-sm-2 {
        margin-bottom: .5rem !important
    }
    .ml-sm-2,
    .mx-sm-2 {
        margin-left: .5rem !important
    }
    .m-sm-3 {
        margin: 1rem !important
    }
    .mt-sm-3,
    .my-sm-3 {
        margin-top: 1rem !important
    }
    .mr-sm-3,
    .mx-sm-3 {
        margin-right: 1rem !important
    }
    .mb-sm-3,
    .my-sm-3 {
        margin-bottom: 1rem !important
    }
    .ml-sm-3,
    .mx-sm-3 {
        margin-left: 1rem !important
    }
    .m-sm-4 {
        margin: 1.5rem !important
    }
    .mt-sm-4,
    .my-sm-4 {
        margin-top: 1.5rem !important
    }
    .mr-sm-4,
    .mx-sm-4 {
        margin-right: 1.5rem !important
    }
    .mb-sm-4,
    .my-sm-4 {
        margin-bottom: 1.5rem !important
    }
    .ml-sm-4,
    .mx-sm-4 {
        margin-left: 1.5rem !important
    }
    .m-sm-5 {
        margin: 3rem !important
    }
    .mt-sm-5,
    .my-sm-5 {
        margin-top: 3rem !important
    }
    .mr-sm-5,
    .mx-sm-5 {
        margin-right: 3rem !important
    }
    .mb-sm-5,
    .my-sm-5 {
        margin-bottom: 3rem !important
    }
    .ml-sm-5,
    .mx-sm-5 {
        margin-left: 3rem !important
    }
    .m-sm-6 {
        margin: 4.5rem !important
    }
    .mt-sm-6,
    .my-sm-6 {
        margin-top: 4.5rem !important
    }
    .mr-sm-6,
    .mx-sm-6 {
        margin-right: 4.5rem !important
    }
    .mb-sm-6,
    .my-sm-6 {
        margin-bottom: 4.5rem !important
    }
    .ml-sm-6,
    .mx-sm-6 {
        margin-left: 4.5rem !important
    }
    .m-sm-7 {
        margin: 6rem !important
    }
    .mt-sm-7,
    .my-sm-7 {
        margin-top: 6rem !important
    }
    .mr-sm-7,
    .mx-sm-7 {
        margin-right: 6rem !important
    }
    .mb-sm-7,
    .my-sm-7 {
        margin-bottom: 6rem !important
    }
    .ml-sm-7,
    .mx-sm-7 {
        margin-left: 6rem !important
    }
    .m-sm-8 {
        margin: 7.5rem !important
    }
    .mt-sm-8,
    .my-sm-8 {
        margin-top: 7.5rem !important
    }
    .mr-sm-8,
    .mx-sm-8 {
        margin-right: 7.5rem !important
    }
    .mb-sm-8,
    .my-sm-8 {
        margin-bottom: 7.5rem !important
    }
    .ml-sm-8,
    .mx-sm-8 {
        margin-left: 7.5rem !important
    }
    .m-sm-9 {
        margin: 9rem !important
    }
    .mt-sm-9,
    .my-sm-9 {
        margin-top: 9rem !important
    }
    .mr-sm-9,
    .mx-sm-9 {
        margin-right: 9rem !important
    }
    .mb-sm-9,
    .my-sm-9 {
        margin-bottom: 9rem !important
    }
    .ml-sm-9,
    .mx-sm-9 {
        margin-left: 9rem !important
    }
    .m-sm-10 {
        margin: 10.5rem !important
    }
    .mt-sm-10,
    .my-sm-10 {
        margin-top: 10.5rem !important
    }
    .mr-sm-10,
    .mx-sm-10 {
        margin-right: 10.5rem !important
    }
    .mb-sm-10,
    .my-sm-10 {
        margin-bottom: 10.5rem !important
    }
    .ml-sm-10,
    .mx-sm-10 {
        margin-left: 10.5rem !important
    }
    .p-sm-0 {
        padding: 0 !important
    }
    .pt-sm-0,
    .py-sm-0 {
        padding-top: 0 !important
    }
    .pr-sm-0,
    .px-sm-0 {
        padding-right: 0 !important
    }
    .pb-sm-0,
    .py-sm-0 {
        padding-bottom: 0 !important
    }
    .pl-sm-0,
    .px-sm-0 {
        padding-left: 0 !important
    }
    .p-sm-1 {
        padding: .25rem !important
    }
    .pt-sm-1,
    .py-sm-1 {
        padding-top: .25rem !important
    }
    .pr-sm-1,
    .px-sm-1 {
        padding-right: .25rem !important
    }
    .pb-sm-1,
    .py-sm-1 {
        padding-bottom: .25rem !important
    }
    .pl-sm-1,
    .px-sm-1 {
        padding-left: .25rem !important
    }
    .p-sm-2 {
        padding: .5rem !important
    }
    .pt-sm-2,
    .py-sm-2 {
        padding-top: .5rem !important
    }
    .pr-sm-2,
    .px-sm-2 {
        padding-right: .5rem !important
    }
    .pb-sm-2,
    .py-sm-2 {
        padding-bottom: .5rem !important
    }
    .pl-sm-2,
    .px-sm-2 {
        padding-left: .5rem !important
    }
    .p-sm-3 {
        padding: 1rem !important
    }
    .pt-sm-3,
    .py-sm-3 {
        padding-top: 1rem !important
    }
    .pr-sm-3,
    .px-sm-3 {
        padding-right: 1rem !important
    }
    .pb-sm-3,
    .py-sm-3 {
        padding-bottom: 1rem !important
    }
    .pl-sm-3,
    .px-sm-3 {
        padding-left: 1rem !important
    }
    .p-sm-4 {
        padding: 1.5rem !important
    }
    .pt-sm-4,
    .py-sm-4 {
        padding-top: 1.5rem !important
    }
    .pr-sm-4,
    .px-sm-4 {
        padding-right: 1.5rem !important
    }
    .pb-sm-4,
    .py-sm-4 {
        padding-bottom: 1.5rem !important
    }
    .pl-sm-4,
    .px-sm-4 {
        padding-left: 1.5rem !important
    }
    .p-sm-5 {
        padding: 3rem !important
    }
    .pt-sm-5,
    .py-sm-5 {
        padding-top: 3rem !important
    }
    .pr-sm-5,
    .px-sm-5 {
        padding-right: 3rem !important
    }
    .pb-sm-5,
    .py-sm-5 {
        padding-bottom: 3rem !important
    }
    .pl-sm-5,
    .px-sm-5 {
        padding-left: 3rem !important
    }
    .p-sm-6 {
        padding: 4.5rem !important
    }
    .pt-sm-6,
    .py-sm-6 {
        padding-top: 4.5rem !important
    }
    .pr-sm-6,
    .px-sm-6 {
        padding-right: 4.5rem !important
    }
    .pb-sm-6,
    .py-sm-6 {
        padding-bottom: 4.5rem !important
    }
    .pl-sm-6,
    .px-sm-6 {
        padding-left: 4.5rem !important
    }
    .p-sm-7 {
        padding: 6rem !important
    }
    .pt-sm-7,
    .py-sm-7 {
        padding-top: 6rem !important
    }
    .pr-sm-7,
    .px-sm-7 {
        padding-right: 6rem !important
    }
    .pb-sm-7,
    .py-sm-7 {
        padding-bottom: 6rem !important
    }
    .pl-sm-7,
    .px-sm-7 {
        padding-left: 6rem !important
    }
    .p-sm-8 {
        padding: 7.5rem !important
    }
    .pt-sm-8,
    .py-sm-8 {
        padding-top: 7.5rem !important
    }
    .pr-sm-8,
    .px-sm-8 {
        padding-right: 7.5rem !important
    }
    .pb-sm-8,
    .py-sm-8 {
        padding-bottom: 7.5rem !important
    }
    .pl-sm-8,
    .px-sm-8 {
        padding-left: 7.5rem !important
    }
    .p-sm-9 {
        padding: 9rem !important
    }
    .pt-sm-9,
    .py-sm-9 {
        padding-top: 9rem !important
    }
    .pr-sm-9,
    .px-sm-9 {
        padding-right: 9rem !important
    }
    .pb-sm-9,
    .py-sm-9 {
        padding-bottom: 9rem !important
    }
    .pl-sm-9,
    .px-sm-9 {
        padding-left: 9rem !important
    }
    .p-sm-10 {
        padding: 10.5rem !important
    }
    .pt-sm-10,
    .py-sm-10 {
        padding-top: 10.5rem !important
    }
    .pr-sm-10,
    .px-sm-10 {
        padding-right: 10.5rem !important
    }
    .pb-sm-10,
    .py-sm-10 {
        padding-bottom: 10.5rem !important
    }
    .pl-sm-10,
    .px-sm-10 {
        padding-left: 10.5rem !important
    }
    .m-sm-n1 {
        margin: -.25rem !important
    }
    .mt-sm-n1,
    .my-sm-n1 {
        margin-top: -.25rem !important
    }
    .mr-sm-n1,
    .mx-sm-n1 {
        margin-right: -.25rem !important
    }
    .mb-sm-n1,
    .my-sm-n1 {
        margin-bottom: -.25rem !important
    }
    .ml-sm-n1,
    .mx-sm-n1 {
        margin-left: -.25rem !important
    }
    .m-sm-n2 {
        margin: -.5rem !important
    }
    .mt-sm-n2,
    .my-sm-n2 {
        margin-top: -.5rem !important
    }
    .mr-sm-n2,
    .mx-sm-n2 {
        margin-right: -.5rem !important
    }
    .mb-sm-n2,
    .my-sm-n2 {
        margin-bottom: -.5rem !important
    }
    .ml-sm-n2,
    .mx-sm-n2 {
        margin-left: -.5rem !important
    }
    .m-sm-n3 {
        margin: -1rem !important
    }
    .mt-sm-n3,
    .my-sm-n3 {
        margin-top: -1rem !important
    }
    .mr-sm-n3,
    .mx-sm-n3 {
        margin-right: -1rem !important
    }
    .mb-sm-n3,
    .my-sm-n3 {
        margin-bottom: -1rem !important
    }
    .ml-sm-n3,
    .mx-sm-n3 {
        margin-left: -1rem !important
    }
    .m-sm-n4 {
        margin: -1.5rem !important
    }
    .mt-sm-n4,
    .my-sm-n4 {
        margin-top: -1.5rem !important
    }
    .mr-sm-n4,
    .mx-sm-n4 {
        margin-right: -1.5rem !important
    }
    .mb-sm-n4,
    .my-sm-n4 {
        margin-bottom: -1.5rem !important
    }
    .ml-sm-n4,
    .mx-sm-n4 {
        margin-left: -1.5rem !important
    }
    .m-sm-n5 {
        margin: -3rem !important
    }
    .mt-sm-n5,
    .my-sm-n5 {
        margin-top: -3rem !important
    }
    .mr-sm-n5,
    .mx-sm-n5 {
        margin-right: -3rem !important
    }
    .mb-sm-n5,
    .my-sm-n5 {
        margin-bottom: -3rem !important
    }
    .ml-sm-n5,
    .mx-sm-n5 {
        margin-left: -3rem !important
    }
    .m-sm-n6 {
        margin: -4.5rem !important
    }
    .mt-sm-n6,
    .my-sm-n6 {
        margin-top: -4.5rem !important
    }
    .mr-sm-n6,
    .mx-sm-n6 {
        margin-right: -4.5rem !important
    }
    .mb-sm-n6,
    .my-sm-n6 {
        margin-bottom: -4.5rem !important
    }
    .ml-sm-n6,
    .mx-sm-n6 {
        margin-left: -4.5rem !important
    }
    .m-sm-n7 {
        margin: -6rem !important
    }
    .mt-sm-n7,
    .my-sm-n7 {
        margin-top: -6rem !important
    }
    .mr-sm-n7,
    .mx-sm-n7 {
        margin-right: -6rem !important
    }
    .mb-sm-n7,
    .my-sm-n7 {
        margin-bottom: -6rem !important
    }
    .ml-sm-n7,
    .mx-sm-n7 {
        margin-left: -6rem !important
    }
    .m-sm-n8 {
        margin: -7.5rem !important
    }
    .mt-sm-n8,
    .my-sm-n8 {
        margin-top: -7.5rem !important
    }
    .mr-sm-n8,
    .mx-sm-n8 {
        margin-right: -7.5rem !important
    }
    .mb-sm-n8,
    .my-sm-n8 {
        margin-bottom: -7.5rem !important
    }
    .ml-sm-n8,
    .mx-sm-n8 {
        margin-left: -7.5rem !important
    }
    .m-sm-n9 {
        margin: -9rem !important
    }
    .mt-sm-n9,
    .my-sm-n9 {
        margin-top: -9rem !important
    }
    .mr-sm-n9,
    .mx-sm-n9 {
        margin-right: -9rem !important
    }
    .mb-sm-n9,
    .my-sm-n9 {
        margin-bottom: -9rem !important
    }
    .ml-sm-n9,
    .mx-sm-n9 {
        margin-left: -9rem !important
    }
    .m-sm-n10 {
        margin: -10.5rem !important
    }
    .mt-sm-n10,
    .my-sm-n10 {
        margin-top: -10.5rem !important
    }
    .mr-sm-n10,
    .mx-sm-n10 {
        margin-right: -10.5rem !important
    }
    .mb-sm-n10,
    .my-sm-n10 {
        margin-bottom: -10.5rem !important
    }
    .ml-sm-n10,
    .mx-sm-n10 {
        margin-left: -10.5rem !important
    }
    .m-sm-auto {
        margin: auto !important
    }
    .mt-sm-auto,
    .my-sm-auto {
        margin-top: auto !important
    }
    .mr-sm-auto,
    .mx-sm-auto {
        margin-right: auto !important
    }
    .mb-sm-auto,
    .my-sm-auto {
        margin-bottom: auto !important
    }
    .ml-sm-auto,
    .mx-sm-auto {
        margin-left: auto !important
    }
}

@media(min-width:768px) {
    .m-md-0 {
        margin: 0 !important
    }
    .mt-md-0,
    .my-md-0 {
        margin-top: 0 !important
    }
    .mr-md-0,
    .mx-md-0 {
        margin-right: 0 !important
    }
    .mb-md-0,
    .my-md-0 {
        margin-bottom: 0 !important
    }
    .ml-md-0,
    .mx-md-0 {
        margin-left: 0 !important
    }
    .m-md-1 {
        margin: .25rem !important
    }
    .mt-md-1,
    .my-md-1 {
        margin-top: .25rem !important
    }
    .mr-md-1,
    .mx-md-1 {
        margin-right: .25rem !important
    }
    .mb-md-1,
    .my-md-1 {
        margin-bottom: .25rem !important
    }
    .ml-md-1,
    .mx-md-1 {
        margin-left: .25rem !important
    }
    .m-md-2 {
        margin: .5rem !important
    }
    .mt-md-2,
    .my-md-2 {
        margin-top: .5rem !important
    }
    .mr-md-2,
    .mx-md-2 {
        margin-right: .5rem !important
    }
    .mb-md-2,
    .my-md-2 {
        margin-bottom: .5rem !important
    }
    .ml-md-2,
    .mx-md-2 {
        margin-left: .5rem !important
    }
    .m-md-3 {
        margin: 1rem !important
    }
    .mt-md-3,
    .my-md-3 {
        margin-top: 1rem !important
    }
    .mr-md-3,
    .mx-md-3 {
        margin-right: 1rem !important
    }
    .mb-md-3,
    .my-md-3 {
        margin-bottom: 1rem !important
    }
    .ml-md-3,
    .mx-md-3 {
        margin-left: 1rem !important
    }
    .m-md-4 {
        margin: 1.5rem !important
    }
    .mt-md-4,
    .my-md-4 {
        margin-top: 1.5rem !important
    }
    .mr-md-4,
    .mx-md-4 {
        margin-right: 1.5rem !important
    }
    .mb-md-4,
    .my-md-4 {
        margin-bottom: 1.5rem !important
    }
    .ml-md-4,
    .mx-md-4 {
        margin-left: 1.5rem !important
    }
    .m-md-5 {
        margin: 3rem !important
    }
    .mt-md-5,
    .my-md-5 {
        margin-top: 3rem !important
    }
    .mr-md-5,
    .mx-md-5 {
        margin-right: 3rem !important
    }
    .mb-md-5,
    .my-md-5 {
        margin-bottom: 3rem !important
    }
    .ml-md-5,
    .mx-md-5 {
        margin-left: 3rem !important
    }
    .m-md-6 {
        margin: 4.5rem !important
    }
    .mt-md-6,
    .my-md-6 {
        margin-top: 4.5rem !important
    }
    .mr-md-6,
    .mx-md-6 {
        margin-right: 4.5rem !important
    }
    .mb-md-6,
    .my-md-6 {
        margin-bottom: 4.5rem !important
    }
    .ml-md-6,
    .mx-md-6 {
        margin-left: 4.5rem !important
    }
    .m-md-7 {
        margin: 6rem !important
    }
    .mt-md-7,
    .my-md-7 {
        margin-top: 6rem !important
    }
    .mr-md-7,
    .mx-md-7 {
        margin-right: 6rem !important
    }
    .mb-md-7,
    .my-md-7 {
        margin-bottom: 6rem !important
    }
    .ml-md-7,
    .mx-md-7 {
        margin-left: 6rem !important
    }
    .m-md-8 {
        margin: 7.5rem !important
    }
    .mt-md-8,
    .my-md-8 {
        margin-top: 7.5rem !important
    }
    .mr-md-8,
    .mx-md-8 {
        margin-right: 7.5rem !important
    }
    .mb-md-8,
    .my-md-8 {
        margin-bottom: 7.5rem !important
    }
    .ml-md-8,
    .mx-md-8 {
        margin-left: 7.5rem !important
    }
    .m-md-9 {
        margin: 9rem !important
    }
    .mt-md-9,
    .my-md-9 {
        margin-top: 9rem !important
    }
    .mr-md-9,
    .mx-md-9 {
        margin-right: 9rem !important
    }
    .mb-md-9,
    .my-md-9 {
        margin-bottom: 9rem !important
    }
    .ml-md-9,
    .mx-md-9 {
        margin-left: 9rem !important
    }
    .m-md-10 {
        margin: 10.5rem !important
    }
    .mt-md-10,
    .my-md-10 {
        margin-top: 10.5rem !important
    }
    .mr-md-10,
    .mx-md-10 {
        margin-right: 10.5rem !important
    }
    .mb-md-10,
    .my-md-10 {
        margin-bottom: 10.5rem !important
    }
    .ml-md-10,
    .mx-md-10 {
        margin-left: 10.5rem !important
    }
    .p-md-0 {
        padding: 0 !important
    }
    .pt-md-0,
    .py-md-0 {
        padding-top: 0 !important
    }
    .pr-md-0,
    .px-md-0 {
        padding-right: 0 !important
    }
    .pb-md-0,
    .py-md-0 {
        padding-bottom: 0 !important
    }
    .pl-md-0,
    .px-md-0 {
        padding-left: 0 !important
    }
    .p-md-1 {
        padding: .25rem !important
    }
    .pt-md-1,
    .py-md-1 {
        padding-top: .25rem !important
    }
    .pr-md-1,
    .px-md-1 {
        padding-right: .25rem !important
    }
    .pb-md-1,
    .py-md-1 {
        padding-bottom: .25rem !important
    }
    .pl-md-1,
    .px-md-1 {
        padding-left: .25rem !important
    }
    .p-md-2 {
        padding: .5rem !important
    }
    .pt-md-2,
    .py-md-2 {
        padding-top: .5rem !important
    }
    .pr-md-2,
    .px-md-2 {
        padding-right: .5rem !important
    }
    .pb-md-2,
    .py-md-2 {
        padding-bottom: .5rem !important
    }
    .pl-md-2,
    .px-md-2 {
        padding-left: .5rem !important
    }
    .p-md-3 {
        padding: 1rem !important
    }
    .pt-md-3,
    .py-md-3 {
        padding-top: 1rem !important
    }
    .pr-md-3,
    .px-md-3 {
        padding-right: 1rem !important
    }
    .pb-md-3,
    .py-md-3 {
        padding-bottom: 1rem !important
    }
    .pl-md-3,
    .px-md-3 {
        padding-left: 1rem !important
    }
    .p-md-4 {
        padding: 1.5rem !important
    }
    .pt-md-4,
    .py-md-4 {
        padding-top: 1.5rem !important
    }
    .pr-md-4,
    .px-md-4 {
        padding-right: 1.5rem !important
    }
    .pb-md-4,
    .py-md-4 {
        padding-bottom: 1.5rem !important
    }
    .pl-md-4,
    .px-md-4 {
        padding-left: 1.5rem !important
    }
    .p-md-5 {
        padding: 3rem !important
    }
    .pt-md-5,
    .py-md-5 {
        padding-top: 3rem !important
    }
    .pr-md-5,
    .px-md-5 {
        padding-right: 3rem !important
    }
    .pb-md-5,
    .py-md-5 {
        padding-bottom: 3rem !important
    }
    .pl-md-5,
    .px-md-5 {
        padding-left: 3rem !important
    }
    .p-md-6 {
        padding: 4.5rem !important
    }
    .pt-md-6,
    .py-md-6 {
        padding-top: 4.5rem !important
    }
    .pr-md-6,
    .px-md-6 {
        padding-right: 4.5rem !important
    }
    .pb-md-6,
    .py-md-6 {
        padding-bottom: 4.5rem !important
    }
    .pl-md-6,
    .px-md-6 {
        padding-left: 4.5rem !important
    }
    .p-md-7 {
        padding: 6rem !important
    }
    .pt-md-7,
    .py-md-7 {
        padding-top: 6rem !important
    }
    .pr-md-7,
    .px-md-7 {
        padding-right: 6rem !important
    }
    .pb-md-7,
    .py-md-7 {
        padding-bottom: 6rem !important
    }
    .pl-md-7,
    .px-md-7 {
        padding-left: 6rem !important
    }
    .p-md-8 {
        padding: 7.5rem !important
    }
    .pt-md-8,
    .py-md-8 {
        padding-top: 7.5rem !important
    }
    .pr-md-8,
    .px-md-8 {
        padding-right: 7.5rem !important
    }
    .pb-md-8,
    .py-md-8 {
        padding-bottom: 7.5rem !important
    }
    .pl-md-8,
    .px-md-8 {
        padding-left: 7.5rem !important
    }
    .p-md-9 {
        padding: 9rem !important
    }
    .pt-md-9,
    .py-md-9 {
        padding-top: 9rem !important
    }
    .pr-md-9,
    .px-md-9 {
        padding-right: 9rem !important
    }
    .pb-md-9,
    .py-md-9 {
        padding-bottom: 9rem !important
    }
    .pl-md-9,
    .px-md-9 {
        padding-left: 9rem !important
    }
    .p-md-10 {
        padding: 10.5rem !important
    }
    .pt-md-10,
    .py-md-10 {
        padding-top: 10.5rem !important
    }
    .pr-md-10,
    .px-md-10 {
        padding-right: 10.5rem !important
    }
    .pb-md-10,
    .py-md-10 {
        padding-bottom: 10.5rem !important
    }
    .pl-md-10,
    .px-md-10 {
        padding-left: 10.5rem !important
    }
    .m-md-n1 {
        margin: -.25rem !important
    }
    .mt-md-n1,
    .my-md-n1 {
        margin-top: -.25rem !important
    }
    .mr-md-n1,
    .mx-md-n1 {
        margin-right: -.25rem !important
    }
    .mb-md-n1,
    .my-md-n1 {
        margin-bottom: -.25rem !important
    }
    .ml-md-n1,
    .mx-md-n1 {
        margin-left: -.25rem !important
    }
    .m-md-n2 {
        margin: -.5rem !important
    }
    .mt-md-n2,
    .my-md-n2 {
        margin-top: -.5rem !important
    }
    .mr-md-n2,
    .mx-md-n2 {
        margin-right: -.5rem !important
    }
    .mb-md-n2,
    .my-md-n2 {
        margin-bottom: -.5rem !important
    }
    .ml-md-n2,
    .mx-md-n2 {
        margin-left: -.5rem !important
    }
    .m-md-n3 {
        margin: -1rem !important
    }
    .mt-md-n3,
    .my-md-n3 {
        margin-top: -1rem !important
    }
    .mr-md-n3,
    .mx-md-n3 {
        margin-right: -1rem !important
    }
    .mb-md-n3,
    .my-md-n3 {
        margin-bottom: -1rem !important
    }
    .ml-md-n3,
    .mx-md-n3 {
        margin-left: -1rem !important
    }
    .m-md-n4 {
        margin: -1.5rem !important
    }
    .mt-md-n4,
    .my-md-n4 {
        margin-top: -1.5rem !important
    }
    .mr-md-n4,
    .mx-md-n4 {
        margin-right: -1.5rem !important
    }
    .mb-md-n4,
    .my-md-n4 {
        margin-bottom: -1.5rem !important
    }
    .ml-md-n4,
    .mx-md-n4 {
        margin-left: -1.5rem !important
    }
    .m-md-n5 {
        margin: -3rem !important
    }
    .mt-md-n5,
    .my-md-n5 {
        margin-top: -3rem !important
    }
    .mr-md-n5,
    .mx-md-n5 {
        margin-right: -3rem !important
    }
    .mb-md-n5,
    .my-md-n5 {
        margin-bottom: -3rem !important
    }
    .ml-md-n5,
    .mx-md-n5 {
        margin-left: -3rem !important
    }
    .m-md-n6 {
        margin: -4.5rem !important
    }
    .mt-md-n6,
    .my-md-n6 {
        margin-top: -4.5rem !important
    }
    .mr-md-n6,
    .mx-md-n6 {
        margin-right: -4.5rem !important
    }
    .mb-md-n6,
    .my-md-n6 {
        margin-bottom: -4.5rem !important
    }
    .ml-md-n6,
    .mx-md-n6 {
        margin-left: -4.5rem !important
    }
    .m-md-n7 {
        margin: -6rem !important
    }
    .mt-md-n7,
    .my-md-n7 {
        margin-top: -6rem !important
    }
    .mr-md-n7,
    .mx-md-n7 {
        margin-right: -6rem !important
    }
    .mb-md-n7,
    .my-md-n7 {
        margin-bottom: -6rem !important
    }
    .ml-md-n7,
    .mx-md-n7 {
        margin-left: -6rem !important
    }
    .m-md-n8 {
        margin: -7.5rem !important
    }
    .mt-md-n8,
    .my-md-n8 {
        margin-top: -7.5rem !important
    }
    .mr-md-n8,
    .mx-md-n8 {
        margin-right: -7.5rem !important
    }
    .mb-md-n8,
    .my-md-n8 {
        margin-bottom: -7.5rem !important
    }
    .ml-md-n8,
    .mx-md-n8 {
        margin-left: -7.5rem !important
    }
    .m-md-n9 {
        margin: -9rem !important
    }
    .mt-md-n9,
    .my-md-n9 {
        margin-top: -9rem !important
    }
    .mr-md-n9,
    .mx-md-n9 {
        margin-right: -9rem !important
    }
    .mb-md-n9,
    .my-md-n9 {
        margin-bottom: -9rem !important
    }
    .ml-md-n9,
    .mx-md-n9 {
        margin-left: -9rem !important
    }
    .m-md-n10 {
        margin: -10.5rem !important
    }
    .mt-md-n10,
    .my-md-n10 {
        margin-top: -10.5rem !important
    }
    .mr-md-n10,
    .mx-md-n10 {
        margin-right: -10.5rem !important
    }
    .mb-md-n10,
    .my-md-n10 {
        margin-bottom: -10.5rem !important
    }
    .ml-md-n10,
    .mx-md-n10 {
        margin-left: -10.5rem !important
    }
    .m-md-auto {
        margin: auto !important
    }
    .mt-md-auto,
    .my-md-auto {
        margin-top: auto !important
    }
    .mr-md-auto,
    .mx-md-auto {
        margin-right: auto !important
    }
    .mb-md-auto,
    .my-md-auto {
        margin-bottom: auto !important
    }
    .ml-md-auto,
    .mx-md-auto {
        margin-left: auto !important
    }
}

@media(min-width:992px) {
    .m-lg-0 {
        margin: 0 !important
    }
    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important
    }
    .mr-lg-0,
    .mx-lg-0 {
        margin-right: 0 !important
    }
    .mb-lg-0,
    .my-lg-0 {
        margin-bottom: 0 !important
    }
    .ml-lg-0,
    .mx-lg-0 {
        margin-left: 0 !important
    }
    .m-lg-1 {
        margin: .25rem !important
    }
    .mt-lg-1,
    .my-lg-1 {
        margin-top: .25rem !important
    }
    .mr-lg-1,
    .mx-lg-1 {
        margin-right: .25rem !important
    }
    .mb-lg-1,
    .my-lg-1 {
        margin-bottom: .25rem !important
    }
    .ml-lg-1,
    .mx-lg-1 {
        margin-left: .25rem !important
    }
    .m-lg-2 {
        margin: .5rem !important
    }
    .mt-lg-2,
    .my-lg-2 {
        margin-top: .5rem !important
    }
    .mr-lg-2,
    .mx-lg-2 {
        margin-right: .5rem !important
    }
    .mb-lg-2,
    .my-lg-2 {
        margin-bottom: .5rem !important
    }
    .ml-lg-2,
    .mx-lg-2 {
        margin-left: .5rem !important
    }
    .m-lg-3 {
        margin: 1rem !important
    }
    .mt-lg-3,
    .my-lg-3 {
        margin-top: 1rem !important
    }
    .mr-lg-3,
    .mx-lg-3 {
        margin-right: 1rem !important
    }
    .mb-lg-3,
    .my-lg-3 {
        margin-bottom: 1rem !important
    }
    .ml-lg-3,
    .mx-lg-3 {
        margin-left: 1rem !important
    }
    .m-lg-4 {
        margin: 1.5rem !important
    }
    .mt-lg-4,
    .my-lg-4 {
        margin-top: 1.5rem !important
    }
    .mr-lg-4,
    .mx-lg-4 {
        margin-right: 1.5rem !important
    }
    .mb-lg-4,
    .my-lg-4 {
        margin-bottom: 1.5rem !important
    }
    .ml-lg-4,
    .mx-lg-4 {
        margin-left: 1.5rem !important
    }
    .m-lg-5 {
        margin: 3rem !important
    }
    .mt-lg-5,
    .my-lg-5 {
        margin-top: 3rem !important
    }
    .mr-lg-5,
    .mx-lg-5 {
        margin-right: 3rem !important
    }
    .mb-lg-5,
    .my-lg-5 {
        margin-bottom: 3rem !important
    }
    .ml-lg-5,
    .mx-lg-5 {
        margin-left: 3rem !important
    }
    .m-lg-6 {
        margin: 4.5rem !important
    }
    .mt-lg-6,
    .my-lg-6 {
        margin-top: 4.5rem !important
    }
    .mr-lg-6,
    .mx-lg-6 {
        margin-right: 4.5rem !important
    }
    .mb-lg-6,
    .my-lg-6 {
        margin-bottom: 4.5rem !important
    }
    .ml-lg-6,
    .mx-lg-6 {
        margin-left: 4.5rem !important
    }
    .m-lg-7 {
        margin: 6rem !important
    }
    .mt-lg-7,
    .my-lg-7 {
        margin-top: 6rem !important
    }
    .mr-lg-7,
    .mx-lg-7 {
        margin-right: 6rem !important
    }
    .mb-lg-7,
    .my-lg-7 {
        margin-bottom: 6rem !important
    }
    .ml-lg-7,
    .mx-lg-7 {
        margin-left: 6rem !important
    }
    .m-lg-8 {
        margin: 7.5rem !important
    }
    .mt-lg-8,
    .my-lg-8 {
        margin-top: 7.5rem !important
    }
    .mr-lg-8,
    .mx-lg-8 {
        margin-right: 7.5rem !important
    }
    .mb-lg-8,
    .my-lg-8 {
        margin-bottom: 7.5rem !important
    }
    .ml-lg-8,
    .mx-lg-8 {
        margin-left: 7.5rem !important
    }
    .m-lg-9 {
        margin: 9rem !important
    }
    .mt-lg-9,
    .my-lg-9 {
        margin-top: 9rem !important
    }
    .mr-lg-9,
    .mx-lg-9 {
        margin-right: 9rem !important
    }
    .mb-lg-9,
    .my-lg-9 {
        margin-bottom: 9rem !important
    }
    .ml-lg-9,
    .mx-lg-9 {
        margin-left: 9rem !important
    }
    .m-lg-10 {
        margin: 10.5rem !important
    }
    .mt-lg-10,
    .my-lg-10 {
        margin-top: 10.5rem !important
    }
    .mr-lg-10,
    .mx-lg-10 {
        margin-right: 10.5rem !important
    }
    .mb-lg-10,
    .my-lg-10 {
        margin-bottom: 10.5rem !important
    }
    .ml-lg-10,
    .mx-lg-10 {
        margin-left: 10.5rem !important
    }
    .p-lg-0 {
        padding: 0 !important
    }
    .pt-lg-0,
    .py-lg-0 {
        padding-top: 0 !important
    }
    .pr-lg-0,
    .px-lg-0 {
        padding-right: 0 !important
    }
    .pb-lg-0,
    .py-lg-0 {
        padding-bottom: 0 !important
    }
    .pl-lg-0,
    .px-lg-0 {
        padding-left: 0 !important
    }
    .p-lg-1 {
        padding: .25rem !important
    }
    .pt-lg-1,
    .py-lg-1 {
        padding-top: .25rem !important
    }
    .pr-lg-1,
    .px-lg-1 {
        padding-right: .25rem !important
    }
    .pb-lg-1,
    .py-lg-1 {
        padding-bottom: .25rem !important
    }
    .pl-lg-1,
    .px-lg-1 {
        padding-left: .25rem !important
    }
    .p-lg-2 {
        padding: .5rem !important
    }
    .pt-lg-2,
    .py-lg-2 {
        padding-top: .5rem !important
    }
    .pr-lg-2,
    .px-lg-2 {
        padding-right: .5rem !important
    }
    .pb-lg-2,
    .py-lg-2 {
        padding-bottom: .5rem !important
    }
    .pl-lg-2,
    .px-lg-2 {
        padding-left: .5rem !important
    }
    .p-lg-3 {
        padding: 1rem !important
    }
    .pt-lg-3,
    .py-lg-3 {
        padding-top: 1rem !important
    }
    .pr-lg-3,
    .px-lg-3 {
        padding-right: 1rem !important
    }
    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 1rem !important
    }
    .pl-lg-3,
    .px-lg-3 {
        padding-left: 1rem !important
    }
    .p-lg-4 {
        padding: 1.5rem !important
    }
    .pt-lg-4,
    .py-lg-4 {
        padding-top: 1.5rem !important
    }
    .pr-lg-4,
    .px-lg-4 {
        padding-right: 1.5rem !important
    }
    .pb-lg-4,
    .py-lg-4 {
        padding-bottom: 1.5rem !important
    }
    .pl-lg-4,
    .px-lg-4 {
        padding-left: 1.5rem !important
    }
    .p-lg-5 {
        padding: 3rem !important
    }
    .pt-lg-5,
    .py-lg-5 {
        padding-top: 3rem !important
    }
    .pr-lg-5,
    .px-lg-5 {
        padding-right: 3rem !important
    }
    .pb-lg-5,
    .py-lg-5 {
        padding-bottom: 3rem !important
    }
    .pl-lg-5,
    .px-lg-5 {
        padding-left: 3rem !important
    }
    .p-lg-6 {
        padding: 4.5rem !important
    }
    .pt-lg-6,
    .py-lg-6 {
        padding-top: 4.5rem !important
    }
    .pr-lg-6,
    .px-lg-6 {
        padding-right: 4.5rem !important
    }
    .pb-lg-6,
    .py-lg-6 {
        padding-bottom: 4.5rem !important
    }
    .pl-lg-6,
    .px-lg-6 {
        padding-left: 4.5rem !important
    }
    .p-lg-7 {
        padding: 6rem !important
    }
    .pt-lg-7,
    .py-lg-7 {
        padding-top: 6rem !important
    }
    .pr-lg-7,
    .px-lg-7 {
        padding-right: 6rem !important
    }
    .pb-lg-7,
    .py-lg-7 {
        padding-bottom: 6rem !important
    }
    .pl-lg-7,
    .px-lg-7 {
        padding-left: 6rem !important
    }
    .p-lg-8 {
        padding: 7.5rem !important
    }
    .pt-lg-8,
    .py-lg-8 {
        padding-top: 7.5rem !important
    }
    .pr-lg-8,
    .px-lg-8 {
        padding-right: 7.5rem !important
    }
    .pb-lg-8,
    .py-lg-8 {
        padding-bottom: 7.5rem !important
    }
    .pl-lg-8,
    .px-lg-8 {
        padding-left: 7.5rem !important
    }
    .p-lg-9 {
        padding: 9rem !important
    }
    .pt-lg-9,
    .py-lg-9 {
        padding-top: 9rem !important
    }
    .pr-lg-9,
    .px-lg-9 {
        padding-right: 9rem !important
    }
    .pb-lg-9,
    .py-lg-9 {
        padding-bottom: 9rem !important
    }
    .pl-lg-9,
    .px-lg-9 {
        padding-left: 9rem !important
    }
    .p-lg-10 {
        padding: 10.5rem !important
    }
    .pt-lg-10,
    .py-lg-10 {
        padding-top: 10.5rem !important
    }
    .pr-lg-10,
    .px-lg-10 {
        padding-right: 10.5rem !important
    }
    .pb-lg-10,
    .py-lg-10 {
        padding-bottom: 10.5rem !important
    }
    .pl-lg-10,
    .px-lg-10 {
        padding-left: 10.5rem !important
    }
    .m-lg-n1 {
        margin: -.25rem !important
    }
    .mt-lg-n1,
    .my-lg-n1 {
        margin-top: -.25rem !important
    }
    .mr-lg-n1,
    .mx-lg-n1 {
        margin-right: -.25rem !important
    }
    .mb-lg-n1,
    .my-lg-n1 {
        margin-bottom: -.25rem !important
    }
    .ml-lg-n1,
    .mx-lg-n1 {
        margin-left: -.25rem !important
    }
    .m-lg-n2 {
        margin: -.5rem !important
    }
    .mt-lg-n2,
    .my-lg-n2 {
        margin-top: -.5rem !important
    }
    .mr-lg-n2,
    .mx-lg-n2 {
        margin-right: -.5rem !important
    }
    .mb-lg-n2,
    .my-lg-n2 {
        margin-bottom: -.5rem !important
    }
    .ml-lg-n2,
    .mx-lg-n2 {
        margin-left: -.5rem !important
    }
    .m-lg-n3 {
        margin: -1rem !important
    }
    .mt-lg-n3,
    .my-lg-n3 {
        margin-top: -1rem !important
    }
    .mr-lg-n3,
    .mx-lg-n3 {
        margin-right: -1rem !important
    }
    .mb-lg-n3,
    .my-lg-n3 {
        margin-bottom: -1rem !important
    }
    .ml-lg-n3,
    .mx-lg-n3 {
        margin-left: -1rem !important
    }
    .m-lg-n4 {
        margin: -1.5rem !important
    }
    .mt-lg-n4,
    .my-lg-n4 {
        margin-top: -1.5rem !important
    }
    .mr-lg-n4,
    .mx-lg-n4 {
        margin-right: -1.5rem !important
    }
    .mb-lg-n4,
    .my-lg-n4 {
        margin-bottom: -1.5rem !important
    }
    .ml-lg-n4,
    .mx-lg-n4 {
        margin-left: -1.5rem !important
    }
    .m-lg-n5 {
        margin: -3rem !important
    }
    .mt-lg-n5,
    .my-lg-n5 {
        margin-top: -3rem !important
    }
    .mr-lg-n5,
    .mx-lg-n5 {
        margin-right: -3rem !important
    }
    .mb-lg-n5,
    .my-lg-n5 {
        margin-bottom: -3rem !important
    }
    .ml-lg-n5,
    .mx-lg-n5 {
        margin-left: -3rem !important
    }
    .m-lg-n6 {
        margin: -4.5rem !important
    }
    .mt-lg-n6,
    .my-lg-n6 {
        margin-top: -4.5rem !important
    }
    .mr-lg-n6,
    .mx-lg-n6 {
        margin-right: -4.5rem !important
    }
    .mb-lg-n6,
    .my-lg-n6 {
        margin-bottom: -4.5rem !important
    }
    .ml-lg-n6,
    .mx-lg-n6 {
        margin-left: -4.5rem !important
    }
    .m-lg-n7 {
        margin: -6rem !important
    }
    .mt-lg-n7,
    .my-lg-n7 {
        margin-top: -6rem !important
    }
    .mr-lg-n7,
    .mx-lg-n7 {
        margin-right: -6rem !important
    }
    .mb-lg-n7,
    .my-lg-n7 {
        margin-bottom: -6rem !important
    }
    .ml-lg-n7,
    .mx-lg-n7 {
        margin-left: -6rem !important
    }
    .m-lg-n8 {
        margin: -7.5rem !important
    }
    .mt-lg-n8,
    .my-lg-n8 {
        margin-top: -7.5rem !important
    }
    .mr-lg-n8,
    .mx-lg-n8 {
        margin-right: -7.5rem !important
    }
    .mb-lg-n8,
    .my-lg-n8 {
        margin-bottom: -7.5rem !important
    }
    .ml-lg-n8,
    .mx-lg-n8 {
        margin-left: -7.5rem !important
    }
    .m-lg-n9 {
        margin: -9rem !important
    }
    .mt-lg-n9,
    .my-lg-n9 {
        margin-top: -9rem !important
    }
    .mr-lg-n9,
    .mx-lg-n9 {
        margin-right: -9rem !important
    }
    .mb-lg-n9,
    .my-lg-n9 {
        margin-bottom: -9rem !important
    }
    .ml-lg-n9,
    .mx-lg-n9 {
        margin-left: -9rem !important
    }
    .m-lg-n10 {
        margin: -10.5rem !important
    }
    .mt-lg-n10,
    .my-lg-n10 {
        margin-top: -10.5rem !important
    }
    .mr-lg-n10,
    .mx-lg-n10 {
        margin-right: -10.5rem !important
    }
    .mb-lg-n10,
    .my-lg-n10 {
        margin-bottom: -10.5rem !important
    }
    .ml-lg-n10,
    .mx-lg-n10 {
        margin-left: -10.5rem !important
    }
    .m-lg-auto {
        margin: auto !important
    }
    .mt-lg-auto,
    .my-lg-auto {
        margin-top: auto !important
    }
    .mr-lg-auto,
    .mx-lg-auto {
        margin-right: auto !important
    }
    .mb-lg-auto,
    .my-lg-auto {
        margin-bottom: auto !important
    }
    .ml-lg-auto,
    .mx-lg-auto {
        margin-left: auto !important
    }
}

@media(min-width:1200px) {
    .m-xl-0 {
        margin: 0 !important
    }
    .mt-xl-0,
    .my-xl-0 {
        margin-top: 0 !important
    }
    .mr-xl-0,
    .mx-xl-0 {
        margin-right: 0 !important
    }
    .mb-xl-0,
    .my-xl-0 {
        margin-bottom: 0 !important
    }
    .ml-xl-0,
    .mx-xl-0 {
        margin-left: 0 !important
    }
    .m-xl-1 {
        margin: .25rem !important
    }
    .mt-xl-1,
    .my-xl-1 {
        margin-top: .25rem !important
    }
    .mr-xl-1,
    .mx-xl-1 {
        margin-right: .25rem !important
    }
    .mb-xl-1,
    .my-xl-1 {
        margin-bottom: .25rem !important
    }
    .ml-xl-1,
    .mx-xl-1 {
        margin-left: .25rem !important
    }
    .m-xl-2 {
        margin: .5rem !important
    }
    .mt-xl-2,
    .my-xl-2 {
        margin-top: .5rem !important
    }
    .mr-xl-2,
    .mx-xl-2 {
        margin-right: .5rem !important
    }
    .mb-xl-2,
    .my-xl-2 {
        margin-bottom: .5rem !important
    }
    .ml-xl-2,
    .mx-xl-2 {
        margin-left: .5rem !important
    }
    .m-xl-3 {
        margin: 1rem !important
    }
    .mt-xl-3,
    .my-xl-3 {
        margin-top: 1rem !important
    }
    .mr-xl-3,
    .mx-xl-3 {
        margin-right: 1rem !important
    }
    .mb-xl-3,
    .my-xl-3 {
        margin-bottom: 1rem !important
    }
    .ml-xl-3,
    .mx-xl-3 {
        margin-left: 1rem !important
    }
    .m-xl-4 {
        margin: 1.5rem !important
    }
    .mt-xl-4,
    .my-xl-4 {
        margin-top: 1.5rem !important
    }
    .mr-xl-4,
    .mx-xl-4 {
        margin-right: 1.5rem !important
    }
    .mb-xl-4,
    .my-xl-4 {
        margin-bottom: 1.5rem !important
    }
    .ml-xl-4,
    .mx-xl-4 {
        margin-left: 1.5rem !important
    }
    .m-xl-5 {
        margin: 3rem !important
    }
    .mt-xl-5,
    .my-xl-5 {
        margin-top: 3rem !important
    }
    .mr-xl-5,
    .mx-xl-5 {
        margin-right: 3rem !important
    }
    .mb-xl-5,
    .my-xl-5 {
        margin-bottom: 3rem !important
    }
    .ml-xl-5,
    .mx-xl-5 {
        margin-left: 3rem !important
    }
    .m-xl-6 {
        margin: 4.5rem !important
    }
    .mt-xl-6,
    .my-xl-6 {
        margin-top: 4.5rem !important
    }
    .mr-xl-6,
    .mx-xl-6 {
        margin-right: 4.5rem !important
    }
    .mb-xl-6,
    .my-xl-6 {
        margin-bottom: 4.5rem !important
    }
    .ml-xl-6,
    .mx-xl-6 {
        margin-left: 4.5rem !important
    }
    .m-xl-7 {
        margin: 6rem !important
    }
    .mt-xl-7,
    .my-xl-7 {
        margin-top: 6rem !important
    }
    .mr-xl-7,
    .mx-xl-7 {
        margin-right: 6rem !important
    }
    .mb-xl-7,
    .my-xl-7 {
        margin-bottom: 6rem !important
    }
    .ml-xl-7,
    .mx-xl-7 {
        margin-left: 6rem !important
    }
    .m-xl-8 {
        margin: 7.5rem !important
    }
    .mt-xl-8,
    .my-xl-8 {
        margin-top: 7.5rem !important
    }
    .mr-xl-8,
    .mx-xl-8 {
        margin-right: 7.5rem !important
    }
    .mb-xl-8,
    .my-xl-8 {
        margin-bottom: 7.5rem !important
    }
    .ml-xl-8,
    .mx-xl-8 {
        margin-left: 7.5rem !important
    }
    .m-xl-9 {
        margin: 9rem !important
    }
    .mt-xl-9,
    .my-xl-9 {
        margin-top: 9rem !important
    }
    .mr-xl-9,
    .mx-xl-9 {
        margin-right: 9rem !important
    }
    .mb-xl-9,
    .my-xl-9 {
        margin-bottom: 9rem !important
    }
    .ml-xl-9,
    .mx-xl-9 {
        margin-left: 9rem !important
    }
    .m-xl-10 {
        margin: 10.5rem !important
    }
    .mt-xl-10,
    .my-xl-10 {
        margin-top: 10.5rem !important
    }
    .mr-xl-10,
    .mx-xl-10 {
        margin-right: 10.5rem !important
    }
    .mb-xl-10,
    .my-xl-10 {
        margin-bottom: 10.5rem !important
    }
    .ml-xl-10,
    .mx-xl-10 {
        margin-left: 10.5rem !important
    }
    .p-xl-0 {
        padding: 0 !important
    }
    .pt-xl-0,
    .py-xl-0 {
        padding-top: 0 !important
    }
    .pr-xl-0,
    .px-xl-0 {
        padding-right: 0 !important
    }
    .pb-xl-0,
    .py-xl-0 {
        padding-bottom: 0 !important
    }
    .pl-xl-0,
    .px-xl-0 {
        padding-left: 0 !important
    }
    .p-xl-1 {
        padding: .25rem !important
    }
    .pt-xl-1,
    .py-xl-1 {
        padding-top: .25rem !important
    }
    .pr-xl-1,
    .px-xl-1 {
        padding-right: .25rem !important
    }
    .pb-xl-1,
    .py-xl-1 {
        padding-bottom: .25rem !important
    }
    .pl-xl-1,
    .px-xl-1 {
        padding-left: .25rem !important
    }
    .p-xl-2 {
        padding: .5rem !important
    }
    .pt-xl-2,
    .py-xl-2 {
        padding-top: .5rem !important
    }
    .pr-xl-2,
    .px-xl-2 {
        padding-right: .5rem !important
    }
    .pb-xl-2,
    .py-xl-2 {
        padding-bottom: .5rem !important
    }
    .pl-xl-2,
    .px-xl-2 {
        padding-left: .5rem !important
    }
    .p-xl-3 {
        padding: 1rem !important
    }
    .pt-xl-3,
    .py-xl-3 {
        padding-top: 1rem !important
    }
    .pr-xl-3,
    .px-xl-3 {
        padding-right: 1rem !important
    }
    .pb-xl-3,
    .py-xl-3 {
        padding-bottom: 1rem !important
    }
    .pl-xl-3,
    .px-xl-3 {
        padding-left: 1rem !important
    }
    .p-xl-4 {
        padding: 1.5rem !important
    }
    .pt-xl-4,
    .py-xl-4 {
        padding-top: 1.5rem !important
    }
    .pr-xl-4,
    .px-xl-4 {
        padding-right: 1.5rem !important
    }
    .pb-xl-4,
    .py-xl-4 {
        padding-bottom: 1.5rem !important
    }
    .pl-xl-4,
    .px-xl-4 {
        padding-left: 1.5rem !important
    }
    .p-xl-5 {
        padding: 3rem !important
    }
    .pt-xl-5,
    .py-xl-5 {
        padding-top: 3rem !important
    }
    .pr-xl-5,
    .px-xl-5 {
        padding-right: 3rem !important
    }
    .pb-xl-5,
    .py-xl-5 {
        padding-bottom: 3rem !important
    }
    .pl-xl-5,
    .px-xl-5 {
        padding-left: 3rem !important
    }
    .p-xl-6 {
        padding: 4.5rem !important
    }
    .pt-xl-6,
    .py-xl-6 {
        padding-top: 4.5rem !important
    }
    .pr-xl-6,
    .px-xl-6 {
        padding-right: 4.5rem !important
    }
    .pb-xl-6,
    .py-xl-6 {
        padding-bottom: 4.5rem !important
    }
    .pl-xl-6,
    .px-xl-6 {
        padding-left: 4.5rem !important
    }
    .p-xl-7 {
        padding: 6rem !important
    }
    .pt-xl-7,
    .py-xl-7 {
        padding-top: 6rem !important
    }
    .pr-xl-7,
    .px-xl-7 {
        padding-right: 6rem !important
    }
    .pb-xl-7,
    .py-xl-7 {
        padding-bottom: 6rem !important
    }
    .pl-xl-7,
    .px-xl-7 {
        padding-left: 6rem !important
    }
    .p-xl-8 {
        padding: 7.5rem !important
    }
    .pt-xl-8,
    .py-xl-8 {
        padding-top: 7.5rem !important
    }
    .pr-xl-8,
    .px-xl-8 {
        padding-right: 7.5rem !important
    }
    .pb-xl-8,
    .py-xl-8 {
        padding-bottom: 7.5rem !important
    }
    .pl-xl-8,
    .px-xl-8 {
        padding-left: 7.5rem !important
    }
    .p-xl-9 {
        padding: 9rem !important
    }
    .pt-xl-9,
    .py-xl-9 {
        padding-top: 9rem !important
    }
    .pr-xl-9,
    .px-xl-9 {
        padding-right: 9rem !important
    }
    .pb-xl-9,
    .py-xl-9 {
        padding-bottom: 9rem !important
    }
    .pl-xl-9,
    .px-xl-9 {
        padding-left: 9rem !important
    }
    .p-xl-10 {
        padding: 10.5rem !important
    }
    .pt-xl-10,
    .py-xl-10 {
        padding-top: 10.5rem !important
    }
    .pr-xl-10,
    .px-xl-10 {
        padding-right: 10.5rem !important
    }
    .pb-xl-10,
    .py-xl-10 {
        padding-bottom: 10.5rem !important
    }
    .pl-xl-10,
    .px-xl-10 {
        padding-left: 10.5rem !important
    }
    .m-xl-n1 {
        margin: -.25rem !important
    }
    .mt-xl-n1,
    .my-xl-n1 {
        margin-top: -.25rem !important
    }
    .mr-xl-n1,
    .mx-xl-n1 {
        margin-right: -.25rem !important
    }
    .mb-xl-n1,
    .my-xl-n1 {
        margin-bottom: -.25rem !important
    }
    .ml-xl-n1,
    .mx-xl-n1 {
        margin-left: -.25rem !important
    }
    .m-xl-n2 {
        margin: -.5rem !important
    }
    .mt-xl-n2,
    .my-xl-n2 {
        margin-top: -.5rem !important
    }
    .mr-xl-n2,
    .mx-xl-n2 {
        margin-right: -.5rem !important
    }
    .mb-xl-n2,
    .my-xl-n2 {
        margin-bottom: -.5rem !important
    }
    .ml-xl-n2,
    .mx-xl-n2 {
        margin-left: -.5rem !important
    }
    .m-xl-n3 {
        margin: -1rem !important
    }
    .mt-xl-n3,
    .my-xl-n3 {
        margin-top: -1rem !important
    }
    .mr-xl-n3,
    .mx-xl-n3 {
        margin-right: -1rem !important
    }
    .mb-xl-n3,
    .my-xl-n3 {
        margin-bottom: -1rem !important
    }
    .ml-xl-n3,
    .mx-xl-n3 {
        margin-left: -1rem !important
    }
    .m-xl-n4 {
        margin: -1.5rem !important
    }
    .mt-xl-n4,
    .my-xl-n4 {
        margin-top: -1.5rem !important
    }
    .mr-xl-n4,
    .mx-xl-n4 {
        margin-right: -1.5rem !important
    }
    .mb-xl-n4,
    .my-xl-n4 {
        margin-bottom: -1.5rem !important
    }
    .ml-xl-n4,
    .mx-xl-n4 {
        margin-left: -1.5rem !important
    }
    .m-xl-n5 {
        margin: -3rem !important
    }
    .mt-xl-n5,
    .my-xl-n5 {
        margin-top: -3rem !important
    }
    .mr-xl-n5,
    .mx-xl-n5 {
        margin-right: -3rem !important
    }
    .mb-xl-n5,
    .my-xl-n5 {
        margin-bottom: -3rem !important
    }
    .ml-xl-n5,
    .mx-xl-n5 {
        margin-left: -3rem !important
    }
    .m-xl-n6 {
        margin: -4.5rem !important
    }
    .mt-xl-n6,
    .my-xl-n6 {
        margin-top: -4.5rem !important
    }
    .mr-xl-n6,
    .mx-xl-n6 {
        margin-right: -4.5rem !important
    }
    .mb-xl-n6,
    .my-xl-n6 {
        margin-bottom: -4.5rem !important
    }
    .ml-xl-n6,
    .mx-xl-n6 {
        margin-left: -4.5rem !important
    }
    .m-xl-n7 {
        margin: -6rem !important
    }
    .mt-xl-n7,
    .my-xl-n7 {
        margin-top: -6rem !important
    }
    .mr-xl-n7,
    .mx-xl-n7 {
        margin-right: -6rem !important
    }
    .mb-xl-n7,
    .my-xl-n7 {
        margin-bottom: -6rem !important
    }
    .ml-xl-n7,
    .mx-xl-n7 {
        margin-left: -6rem !important
    }
    .m-xl-n8 {
        margin: -7.5rem !important
    }
    .mt-xl-n8,
    .my-xl-n8 {
        margin-top: -7.5rem !important
    }
    .mr-xl-n8,
    .mx-xl-n8 {
        margin-right: -7.5rem !important
    }
    .mb-xl-n8,
    .my-xl-n8 {
        margin-bottom: -7.5rem !important
    }
    .ml-xl-n8,
    .mx-xl-n8 {
        margin-left: -7.5rem !important
    }
    .m-xl-n9 {
        margin: -9rem !important
    }
    .mt-xl-n9,
    .my-xl-n9 {
        margin-top: -9rem !important
    }
    .mr-xl-n9,
    .mx-xl-n9 {
        margin-right: -9rem !important
    }
    .mb-xl-n9,
    .my-xl-n9 {
        margin-bottom: -9rem !important
    }
    .ml-xl-n9,
    .mx-xl-n9 {
        margin-left: -9rem !important
    }
    .m-xl-n10 {
        margin: -10.5rem !important
    }
    .mt-xl-n10,
    .my-xl-n10 {
        margin-top: -10.5rem !important
    }
    .mr-xl-n10,
    .mx-xl-n10 {
        margin-right: -10.5rem !important
    }
    .mb-xl-n10,
    .my-xl-n10 {
        margin-bottom: -10.5rem !important
    }
    .ml-xl-n10,
    .mx-xl-n10 {
        margin-left: -10.5rem !important
    }
    .m-xl-auto {
        margin: auto !important
    }
    .mt-xl-auto,
    .my-xl-auto {
        margin-top: auto !important
    }
    .mr-xl-auto,
    .mx-xl-auto {
        margin-right: auto !important
    }
    .mb-xl-auto,
    .my-xl-auto {
        margin-bottom: auto !important
    }
    .ml-xl-auto,
    .mx-xl-auto {
        margin-left: auto !important
    }
}

@media(min-width:1560px) {
    .m-xxl-0 {
        margin: 0 !important
    }
    .mt-xxl-0,
    .my-xxl-0 {
        margin-top: 0 !important
    }
    .mr-xxl-0,
    .mx-xxl-0 {
        margin-right: 0 !important
    }
    .mb-xxl-0,
    .my-xxl-0 {
        margin-bottom: 0 !important
    }
    .ml-xxl-0,
    .mx-xxl-0 {
        margin-left: 0 !important
    }
    .m-xxl-1 {
        margin: .25rem !important
    }
    .mt-xxl-1,
    .my-xxl-1 {
        margin-top: .25rem !important
    }
    .mr-xxl-1,
    .mx-xxl-1 {
        margin-right: .25rem !important
    }
    .mb-xxl-1,
    .my-xxl-1 {
        margin-bottom: .25rem !important
    }
    .ml-xxl-1,
    .mx-xxl-1 {
        margin-left: .25rem !important
    }
    .m-xxl-2 {
        margin: .5rem !important
    }
    .mt-xxl-2,
    .my-xxl-2 {
        margin-top: .5rem !important
    }
    .mr-xxl-2,
    .mx-xxl-2 {
        margin-right: .5rem !important
    }
    .mb-xxl-2,
    .my-xxl-2 {
        margin-bottom: .5rem !important
    }
    .ml-xxl-2,
    .mx-xxl-2 {
        margin-left: .5rem !important
    }
    .m-xxl-3 {
        margin: 1rem !important
    }
    .mt-xxl-3,
    .my-xxl-3 {
        margin-top: 1rem !important
    }
    .mr-xxl-3,
    .mx-xxl-3 {
        margin-right: 1rem !important
    }
    .mb-xxl-3,
    .my-xxl-3 {
        margin-bottom: 1rem !important
    }
    .ml-xxl-3,
    .mx-xxl-3 {
        margin-left: 1rem !important
    }
    .m-xxl-4 {
        margin: 1.5rem !important
    }
    .mt-xxl-4,
    .my-xxl-4 {
        margin-top: 1.5rem !important
    }
    .mr-xxl-4,
    .mx-xxl-4 {
        margin-right: 1.5rem !important
    }
    .mb-xxl-4,
    .my-xxl-4 {
        margin-bottom: 1.5rem !important
    }
    .ml-xxl-4,
    .mx-xxl-4 {
        margin-left: 1.5rem !important
    }
    .m-xxl-5 {
        margin: 3rem !important
    }
    .mt-xxl-5,
    .my-xxl-5 {
        margin-top: 3rem !important
    }
    .mr-xxl-5,
    .mx-xxl-5 {
        margin-right: 3rem !important
    }
    .mb-xxl-5,
    .my-xxl-5 {
        margin-bottom: 3rem !important
    }
    .ml-xxl-5,
    .mx-xxl-5 {
        margin-left: 3rem !important
    }
    .m-xxl-6 {
        margin: 4.5rem !important
    }
    .mt-xxl-6,
    .my-xxl-6 {
        margin-top: 4.5rem !important
    }
    .mr-xxl-6,
    .mx-xxl-6 {
        margin-right: 4.5rem !important
    }
    .mb-xxl-6,
    .my-xxl-6 {
        margin-bottom: 4.5rem !important
    }
    .ml-xxl-6,
    .mx-xxl-6 {
        margin-left: 4.5rem !important
    }
    .m-xxl-7 {
        margin: 6rem !important
    }
    .mt-xxl-7,
    .my-xxl-7 {
        margin-top: 6rem !important
    }
    .mr-xxl-7,
    .mx-xxl-7 {
        margin-right: 6rem !important
    }
    .mb-xxl-7,
    .my-xxl-7 {
        margin-bottom: 6rem !important
    }
    .ml-xxl-7,
    .mx-xxl-7 {
        margin-left: 6rem !important
    }
    .m-xxl-8 {
        margin: 7.5rem !important
    }
    .mt-xxl-8,
    .my-xxl-8 {
        margin-top: 7.5rem !important
    }
    .mr-xxl-8,
    .mx-xxl-8 {
        margin-right: 7.5rem !important
    }
    .mb-xxl-8,
    .my-xxl-8 {
        margin-bottom: 7.5rem !important
    }
    .ml-xxl-8,
    .mx-xxl-8 {
        margin-left: 7.5rem !important
    }
    .m-xxl-9 {
        margin: 9rem !important
    }
    .mt-xxl-9,
    .my-xxl-9 {
        margin-top: 9rem !important
    }
    .mr-xxl-9,
    .mx-xxl-9 {
        margin-right: 9rem !important
    }
    .mb-xxl-9,
    .my-xxl-9 {
        margin-bottom: 9rem !important
    }
    .ml-xxl-9,
    .mx-xxl-9 {
        margin-left: 9rem !important
    }
    .m-xxl-10 {
        margin: 10.5rem !important
    }
    .mt-xxl-10,
    .my-xxl-10 {
        margin-top: 10.5rem !important
    }
    .mr-xxl-10,
    .mx-xxl-10 {
        margin-right: 10.5rem !important
    }
    .mb-xxl-10,
    .my-xxl-10 {
        margin-bottom: 10.5rem !important
    }
    .ml-xxl-10,
    .mx-xxl-10 {
        margin-left: 10.5rem !important
    }
    .p-xxl-0 {
        padding: 0 !important
    }
    .pt-xxl-0,
    .py-xxl-0 {
        padding-top: 0 !important
    }
    .pr-xxl-0,
    .px-xxl-0 {
        padding-right: 0 !important
    }
    .pb-xxl-0,
    .py-xxl-0 {
        padding-bottom: 0 !important
    }
    .pl-xxl-0,
    .px-xxl-0 {
        padding-left: 0 !important
    }
    .p-xxl-1 {
        padding: .25rem !important
    }
    .pt-xxl-1,
    .py-xxl-1 {
        padding-top: .25rem !important
    }
    .pr-xxl-1,
    .px-xxl-1 {
        padding-right: .25rem !important
    }
    .pb-xxl-1,
    .py-xxl-1 {
        padding-bottom: .25rem !important
    }
    .pl-xxl-1,
    .px-xxl-1 {
        padding-left: .25rem !important
    }
    .p-xxl-2 {
        padding: .5rem !important
    }
    .pt-xxl-2,
    .py-xxl-2 {
        padding-top: .5rem !important
    }
    .pr-xxl-2,
    .px-xxl-2 {
        padding-right: .5rem !important
    }
    .pb-xxl-2,
    .py-xxl-2 {
        padding-bottom: .5rem !important
    }
    .pl-xxl-2,
    .px-xxl-2 {
        padding-left: .5rem !important
    }
    .p-xxl-3 {
        padding: 1rem !important
    }
    .pt-xxl-3,
    .py-xxl-3 {
        padding-top: 1rem !important
    }
    .pr-xxl-3,
    .px-xxl-3 {
        padding-right: 1rem !important
    }
    .pb-xxl-3,
    .py-xxl-3 {
        padding-bottom: 1rem !important
    }
    .pl-xxl-3,
    .px-xxl-3 {
        padding-left: 1rem !important
    }
    .p-xxl-4 {
        padding: 1.5rem !important
    }
    .pt-xxl-4,
    .py-xxl-4 {
        padding-top: 1.5rem !important
    }
    .pr-xxl-4,
    .px-xxl-4 {
        padding-right: 1.5rem !important
    }
    .pb-xxl-4,
    .py-xxl-4 {
        padding-bottom: 1.5rem !important
    }
    .pl-xxl-4,
    .px-xxl-4 {
        padding-left: 1.5rem !important
    }
    .p-xxl-5 {
        padding: 3rem !important
    }
    .pt-xxl-5,
    .py-xxl-5 {
        padding-top: 3rem !important
    }
    .pr-xxl-5,
    .px-xxl-5 {
        padding-right: 3rem !important
    }
    .pb-xxl-5,
    .py-xxl-5 {
        padding-bottom: 3rem !important
    }
    .pl-xxl-5,
    .px-xxl-5 {
        padding-left: 3rem !important
    }
    .p-xxl-6 {
        padding: 4.5rem !important
    }
    .pt-xxl-6,
    .py-xxl-6 {
        padding-top: 4.5rem !important
    }
    .pr-xxl-6,
    .px-xxl-6 {
        padding-right: 4.5rem !important
    }
    .pb-xxl-6,
    .py-xxl-6 {
        padding-bottom: 4.5rem !important
    }
    .pl-xxl-6,
    .px-xxl-6 {
        padding-left: 4.5rem !important
    }
    .p-xxl-7 {
        padding: 6rem !important
    }
    .pt-xxl-7,
    .py-xxl-7 {
        padding-top: 6rem !important
    }
    .pr-xxl-7,
    .px-xxl-7 {
        padding-right: 6rem !important
    }
    .pb-xxl-7,
    .py-xxl-7 {
        padding-bottom: 6rem !important
    }
    .pl-xxl-7,
    .px-xxl-7 {
        padding-left: 6rem !important
    }
    .p-xxl-8 {
        padding: 7.5rem !important
    }
    .pt-xxl-8,
    .py-xxl-8 {
        padding-top: 7.5rem !important
    }
    .pr-xxl-8,
    .px-xxl-8 {
        padding-right: 7.5rem !important
    }
    .pb-xxl-8,
    .py-xxl-8 {
        padding-bottom: 7.5rem !important
    }
    .pl-xxl-8,
    .px-xxl-8 {
        padding-left: 7.5rem !important
    }
    .p-xxl-9 {
        padding: 9rem !important
    }
    .pt-xxl-9,
    .py-xxl-9 {
        padding-top: 9rem !important
    }
    .pr-xxl-9,
    .px-xxl-9 {
        padding-right: 9rem !important
    }
    .pb-xxl-9,
    .py-xxl-9 {
        padding-bottom: 9rem !important
    }
    .pl-xxl-9,
    .px-xxl-9 {
        padding-left: 9rem !important
    }
    .p-xxl-10 {
        padding: 10.5rem !important
    }
    .pt-xxl-10,
    .py-xxl-10 {
        padding-top: 10.5rem !important
    }
    .pr-xxl-10,
    .px-xxl-10 {
        padding-right: 10.5rem !important
    }
    .pb-xxl-10,
    .py-xxl-10 {
        padding-bottom: 10.5rem !important
    }
    .pl-xxl-10,
    .px-xxl-10 {
        padding-left: 10.5rem !important
    }
    .m-xxl-n1 {
        margin: -.25rem !important
    }
    .mt-xxl-n1,
    .my-xxl-n1 {
        margin-top: -.25rem !important
    }
    .mr-xxl-n1,
    .mx-xxl-n1 {
        margin-right: -.25rem !important
    }
    .mb-xxl-n1,
    .my-xxl-n1 {
        margin-bottom: -.25rem !important
    }
    .ml-xxl-n1,
    .mx-xxl-n1 {
        margin-left: -.25rem !important
    }
    .m-xxl-n2 {
        margin: -.5rem !important
    }
    .mt-xxl-n2,
    .my-xxl-n2 {
        margin-top: -.5rem !important
    }
    .mr-xxl-n2,
    .mx-xxl-n2 {
        margin-right: -.5rem !important
    }
    .mb-xxl-n2,
    .my-xxl-n2 {
        margin-bottom: -.5rem !important
    }
    .ml-xxl-n2,
    .mx-xxl-n2 {
        margin-left: -.5rem !important
    }
    .m-xxl-n3 {
        margin: -1rem !important
    }
    .mt-xxl-n3,
    .my-xxl-n3 {
        margin-top: -1rem !important
    }
    .mr-xxl-n3,
    .mx-xxl-n3 {
        margin-right: -1rem !important
    }
    .mb-xxl-n3,
    .my-xxl-n3 {
        margin-bottom: -1rem !important
    }
    .ml-xxl-n3,
    .mx-xxl-n3 {
        margin-left: -1rem !important
    }
    .m-xxl-n4 {
        margin: -1.5rem !important
    }
    .mt-xxl-n4,
    .my-xxl-n4 {
        margin-top: -1.5rem !important
    }
    .mr-xxl-n4,
    .mx-xxl-n4 {
        margin-right: -1.5rem !important
    }
    .mb-xxl-n4,
    .my-xxl-n4 {
        margin-bottom: -1.5rem !important
    }
    .ml-xxl-n4,
    .mx-xxl-n4 {
        margin-left: -1.5rem !important
    }
    .m-xxl-n5 {
        margin: -3rem !important
    }
    .mt-xxl-n5,
    .my-xxl-n5 {
        margin-top: -3rem !important
    }
    .mr-xxl-n5,
    .mx-xxl-n5 {
        margin-right: -3rem !important
    }
    .mb-xxl-n5,
    .my-xxl-n5 {
        margin-bottom: -3rem !important
    }
    .ml-xxl-n5,
    .mx-xxl-n5 {
        margin-left: -3rem !important
    }
    .m-xxl-n6 {
        margin: -4.5rem !important
    }
    .mt-xxl-n6,
    .my-xxl-n6 {
        margin-top: -4.5rem !important
    }
    .mr-xxl-n6,
    .mx-xxl-n6 {
        margin-right: -4.5rem !important
    }
    .mb-xxl-n6,
    .my-xxl-n6 {
        margin-bottom: -4.5rem !important
    }
    .ml-xxl-n6,
    .mx-xxl-n6 {
        margin-left: -4.5rem !important
    }
    .m-xxl-n7 {
        margin: -6rem !important
    }
    .mt-xxl-n7,
    .my-xxl-n7 {
        margin-top: -6rem !important
    }
    .mr-xxl-n7,
    .mx-xxl-n7 {
        margin-right: -6rem !important
    }
    .mb-xxl-n7,
    .my-xxl-n7 {
        margin-bottom: -6rem !important
    }
    .ml-xxl-n7,
    .mx-xxl-n7 {
        margin-left: -6rem !important
    }
    .m-xxl-n8 {
        margin: -7.5rem !important
    }
    .mt-xxl-n8,
    .my-xxl-n8 {
        margin-top: -7.5rem !important
    }
    .mr-xxl-n8,
    .mx-xxl-n8 {
        margin-right: -7.5rem !important
    }
    .mb-xxl-n8,
    .my-xxl-n8 {
        margin-bottom: -7.5rem !important
    }
    .ml-xxl-n8,
    .mx-xxl-n8 {
        margin-left: -7.5rem !important
    }
    .m-xxl-n9 {
        margin: -9rem !important
    }
    .mt-xxl-n9,
    .my-xxl-n9 {
        margin-top: -9rem !important
    }
    .mr-xxl-n9,
    .mx-xxl-n9 {
        margin-right: -9rem !important
    }
    .mb-xxl-n9,
    .my-xxl-n9 {
        margin-bottom: -9rem !important
    }
    .ml-xxl-n9,
    .mx-xxl-n9 {
        margin-left: -9rem !important
    }
    .m-xxl-n10 {
        margin: -10.5rem !important
    }
    .mt-xxl-n10,
    .my-xxl-n10 {
        margin-top: -10.5rem !important
    }
    .mr-xxl-n10,
    .mx-xxl-n10 {
        margin-right: -10.5rem !important
    }
    .mb-xxl-n10,
    .my-xxl-n10 {
        margin-bottom: -10.5rem !important
    }
    .ml-xxl-n10,
    .mx-xxl-n10 {
        margin-left: -10.5rem !important
    }
    .m-xxl-auto {
        margin: auto !important
    }
    .mt-xxl-auto,
    .my-xxl-auto {
        margin-top: auto !important
    }
    .mr-xxl-auto,
    .mx-xxl-auto {
        margin-right: auto !important
    }
    .mb-xxl-auto,
    .my-xxl-auto {
        margin-bottom: auto !important
    }
    .ml-xxl-auto,
    .mx-xxl-auto {
        margin-left: auto !important
    }
}

// .container,
// .container-fluid,
// .container-lg,
// .container-md,
// .container-sm,
// .container-xl {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto
// }

// @media(min-width:576px) {
//     .container,
//     .container-sm {
//         max-width: 540px
//     }
// }

// @media(min-width:768px) {
//     .container,
//     .container-md,
//     .container-sm {
//         max-width: 720px
//     }
// }

// @media(min-width:992px) {
//     .container,
//     .container-lg,
//     .container-md,
//     .container-sm {
//         max-width: 960px
//     }
// }

// @media(min-width:1200px) {
//     .container,
//     .container-lg,
//     .container-md,
//     .container-sm,
//     .container-xl {
//         max-width: 1140px
//     }
// }

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px
// }

// .no-gutters {
//     margin-right: 0;
//     margin-left: 0
// }

// .no-gutters>.col,
// .no-gutters>[class*=col-] {
//     padding-right: 0;
//     padding-left: 0
// }

// .col,
// .col-1,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-10,
// .col-11,
// .col-12,
// .col-auto,
// .col-lg,
// .col-lg-1,
// .col-lg-2,
// .col-lg-3,
// .col-lg-4,
// .col-lg-5,
// .col-lg-6,
// .col-lg-7,
// .col-lg-8,
// .col-lg-9,
// .col-lg-10,
// .col-lg-11,
// .col-lg-12,
// .col-lg-auto,
// .col-md,
// .col-md-1,
// .col-md-2,
// .col-md-3,
// .col-md-4,
// .col-md-5,
// .col-md-6,
// .col-md-7,
// .col-md-8,
// .col-md-9,
// .col-md-10,
// .col-md-11,
// .col-md-12,
// .col-md-auto,
// .col-sm,
// .col-sm-1,
// .col-sm-2,
// .col-sm-3,
// .col-sm-4,
// .col-sm-5,
// .col-sm-6,
// .col-sm-7,
// .col-sm-8,
// .col-sm-9,
// .col-sm-10,
// .col-sm-11,
// .col-sm-12,
// .col-sm-auto,
// .col-xl,
// .col-xl-1,
// .col-xl-2,
// .col-xl-3,
// .col-xl-4,
// .col-xl-5,
// .col-xl-6,
// .col-xl-7,
// .col-xl-8,
// .col-xl-9,
// .col-xl-10,
// .col-xl-11,
// .col-xl-12,
// .col-xl-auto,
// .col-xxl,
// .col-xxl-1,
// .col-xxl-2,
// .col-xxl-3,
// .col-xxl-4,
// .col-xxl-5,
// .col-xxl-6,
// .col-xxl-7,
// .col-xxl-8,
// .col-xxl-9,
// .col-xxl-10,
// .col-xxl-11,
// .col-xxl-12,
// .col-xxl-auto {
//     position: relative;
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px
// }

// .col {
//     flex-basis: 0;
//     flex-grow: 1;
//     max-width: 100%
// }

// .row-cols-1>* {
//     flex: 0 0 100%;
//     max-width: 100%
// }

// .row-cols-2>* {
//     flex: 0 0 50%;
//     max-width: 50%
// }

// .row-cols-3>* {
//     flex: 0 0 33.3333333333%;
//     max-width: 33.3333333333%
// }

// .row-cols-4>* {
//     flex: 0 0 25%;
//     max-width: 25%
// }

// .row-cols-5>* {
//     flex: 0 0 20%;
//     max-width: 20%
// }

// .row-cols-6>* {
//     flex: 0 0 16.6666666667%;
//     max-width: 16.6666666667%
// }

// .col-auto {
//     flex: 0 0 auto;
//     width: auto;
//     max-width: 100%
// }

// .col-1 {
//     flex: 0 0 8.3333333333%;
//     max-width: 8.3333333333%
// }

// .col-2 {
//     flex: 0 0 16.6666666667%;
//     max-width: 16.6666666667%
// }

// .col-3 {
//     flex: 0 0 25%;
//     max-width: 25%
// }

// .col-4 {
//     flex: 0 0 33.3333333333%;
//     max-width: 33.3333333333%
// }

// .col-5 {
//     flex: 0 0 41.6666666667%;
//     max-width: 41.6666666667%
// }

// .col-6 {
//     flex: 0 0 50%;
//     max-width: 50%
// }

// .col-7 {
//     flex: 0 0 58.3333333333%;
//     max-width: 58.3333333333%
// }

// .col-8 {
//     flex: 0 0 66.6666666667%;
//     max-width: 66.6666666667%
// }

// .col-9 {
//     flex: 0 0 75%;
//     max-width: 75%
// }

// .col-10 {
//     flex: 0 0 83.3333333333%;
//     max-width: 83.3333333333%
// }

// .col-11 {
//     flex: 0 0 91.6666666667%;
//     max-width: 91.6666666667%
// }

// .col-12 {
//     flex: 0 0 100%;
//     max-width: 100%
// }

// .order-first {
//     order: -1
// }

// .order-last {
//     order: 13
// }

// .order-0 {
//     order: 0
// }

// .order-1 {
//     order: 1
// }

// .order-2 {
//     order: 2
// }

// .order-3 {
//     order: 3
// }

// .order-4 {
//     order: 4
// }

// .order-5 {
//     order: 5
// }

// .order-6 {
//     order: 6
// }

// .order-7 {
//     order: 7
// }

// .order-8 {
//     order: 8
// }

// .order-9 {
//     order: 9
// }

// .order-10 {
//     order: 10
// }

// .order-11 {
//     order: 11
// }

// .order-12 {
//     order: 12
// }

// .offset-1 {
//     margin-left: 8.3333333333%
// }

// .offset-2 {
//     margin-left: 16.6666666667%
// }

// .offset-3 {
//     margin-left: 25%
// }

// .offset-4 {
//     margin-left: 33.3333333333%
// }

// .offset-5 {
//     margin-left: 41.6666666667%
// }

// .offset-6 {
//     margin-left: 50%
// }

// .offset-7 {
//     margin-left: 58.3333333333%
// }

// .offset-8 {
//     margin-left: 66.6666666667%
// }

// .offset-9 {
//     margin-left: 75%
// }

// .offset-10 {
//     margin-left: 83.3333333333%
// }

// .offset-11 {
//     margin-left: 91.6666666667%
// }

// @media(min-width:576px) {
//     .col-sm {
//         flex-basis: 0;
//         flex-grow: 1;
//         max-width: 100%
//     }
//     .row-cols-sm-1>* {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .row-cols-sm-2>* {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .row-cols-sm-3>* {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .row-cols-sm-4>* {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .row-cols-sm-5>* {
//         flex: 0 0 20%;
//         max-width: 20%
//     }
//     .row-cols-sm-6>* {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-sm-auto {
//         flex: 0 0 auto;
//         width: auto;
//         max-width: 100%
//     }
//     .col-sm-1 {
//         flex: 0 0 8.3333333333%;
//         max-width: 8.3333333333%
//     }
//     .col-sm-2 {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-sm-3 {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .col-sm-4 {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .col-sm-5 {
//         flex: 0 0 41.6666666667%;
//         max-width: 41.6666666667%
//     }
//     .col-sm-6 {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .col-sm-7 {
//         flex: 0 0 58.3333333333%;
//         max-width: 58.3333333333%
//     }
//     .col-sm-8 {
//         flex: 0 0 66.6666666667%;
//         max-width: 66.6666666667%
//     }
//     .col-sm-9 {
//         flex: 0 0 75%;
//         max-width: 75%
//     }
//     .col-sm-10 {
//         flex: 0 0 83.3333333333%;
//         max-width: 83.3333333333%
//     }
//     .col-sm-11 {
//         flex: 0 0 91.6666666667%;
//         max-width: 91.6666666667%
//     }
//     .col-sm-12 {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .order-sm-first {
//         order: -1
//     }
//     .order-sm-last {
//         order: 13
//     }
//     .order-sm-0 {
//         order: 0
//     }
//     .order-sm-1 {
//         order: 1
//     }
//     .order-sm-2 {
//         order: 2
//     }
//     .order-sm-3 {
//         order: 3
//     }
//     .order-sm-4 {
//         order: 4
//     }
//     .order-sm-5 {
//         order: 5
//     }
//     .order-sm-6 {
//         order: 6
//     }
//     .order-sm-7 {
//         order: 7
//     }
//     .order-sm-8 {
//         order: 8
//     }
//     .order-sm-9 {
//         order: 9
//     }
//     .order-sm-10 {
//         order: 10
//     }
//     .order-sm-11 {
//         order: 11
//     }
//     .order-sm-12 {
//         order: 12
//     }
//     .offset-sm-0 {
//         margin-left: 0
//     }
//     .offset-sm-1 {
//         margin-left: 8.3333333333%
//     }
//     .offset-sm-2 {
//         margin-left: 16.6666666667%
//     }
//     .offset-sm-3 {
//         margin-left: 25%
//     }
//     .offset-sm-4 {
//         margin-left: 33.3333333333%
//     }
//     .offset-sm-5 {
//         margin-left: 41.6666666667%
//     }
//     .offset-sm-6 {
//         margin-left: 50%
//     }
//     .offset-sm-7 {
//         margin-left: 58.3333333333%
//     }
//     .offset-sm-8 {
//         margin-left: 66.6666666667%
//     }
//     .offset-sm-9 {
//         margin-left: 75%
//     }
//     .offset-sm-10 {
//         margin-left: 83.3333333333%
//     }
//     .offset-sm-11 {
//         margin-left: 91.6666666667%
//     }
// }

// @media(min-width:768px) {
//     .col-md {
//         flex-basis: 0;
//         flex-grow: 1;
//         max-width: 100%
//     }
//     .row-cols-md-1>* {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .row-cols-md-2>* {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .row-cols-md-3>* {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .row-cols-md-4>* {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .row-cols-md-5>* {
//         flex: 0 0 20%;
//         max-width: 20%
//     }
//     .row-cols-md-6>* {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-md-auto {
//         flex: 0 0 auto;
//         width: auto;
//         max-width: 100%
//     }
//     .col-md-1 {
//         flex: 0 0 8.3333333333%;
//         max-width: 8.3333333333%
//     }
//     .col-md-2 {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-md-3 {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .col-md-4 {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .col-md-5 {
//         flex: 0 0 41.6666666667%;
//         max-width: 41.6666666667%
//     }
//     .col-md-6 {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .col-md-7 {
//         flex: 0 0 58.3333333333%;
//         max-width: 58.3333333333%
//     }
//     .col-md-8 {
//         flex: 0 0 66.6666666667%;
//         max-width: 66.6666666667%
//     }
//     .col-md-9 {
//         flex: 0 0 75%;
//         max-width: 75%
//     }
//     .col-md-10 {
//         flex: 0 0 83.3333333333%;
//         max-width: 83.3333333333%
//     }
//     .col-md-11 {
//         flex: 0 0 91.6666666667%;
//         max-width: 91.6666666667%
//     }
//     .col-md-12 {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .order-md-first {
//         order: -1
//     }
//     .order-md-last {
//         order: 13
//     }
//     .order-md-0 {
//         order: 0
//     }
//     .order-md-1 {
//         order: 1
//     }
//     .order-md-2 {
//         order: 2
//     }
//     .order-md-3 {
//         order: 3
//     }
//     .order-md-4 {
//         order: 4
//     }
//     .order-md-5 {
//         order: 5
//     }
//     .order-md-6 {
//         order: 6
//     }
//     .order-md-7 {
//         order: 7
//     }
//     .order-md-8 {
//         order: 8
//     }
//     .order-md-9 {
//         order: 9
//     }
//     .order-md-10 {
//         order: 10
//     }
//     .order-md-11 {
//         order: 11
//     }
//     .order-md-12 {
//         order: 12
//     }
//     .offset-md-0 {
//         margin-left: 0
//     }
//     .offset-md-1 {
//         margin-left: 8.3333333333%
//     }
//     .offset-md-2 {
//         margin-left: 16.6666666667%
//     }
//     .offset-md-3 {
//         margin-left: 25%
//     }
//     .offset-md-4 {
//         margin-left: 33.3333333333%
//     }
//     .offset-md-5 {
//         margin-left: 41.6666666667%
//     }
//     .offset-md-6 {
//         margin-left: 50%
//     }
//     .offset-md-7 {
//         margin-left: 58.3333333333%
//     }
//     .offset-md-8 {
//         margin-left: 66.6666666667%
//     }
//     .offset-md-9 {
//         margin-left: 75%
//     }
//     .offset-md-10 {
//         margin-left: 83.3333333333%
//     }
//     .offset-md-11 {
//         margin-left: 91.6666666667%
//     }
// }

// @media(min-width:992px) {
//     .col-lg {
//         flex-basis: 0;
//         flex-grow: 1;
//         max-width: 100%
//     }
//     .row-cols-lg-1>* {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .row-cols-lg-2>* {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .row-cols-lg-3>* {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .row-cols-lg-4>* {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .row-cols-lg-5>* {
//         flex: 0 0 20%;
//         max-width: 20%
//     }
//     .row-cols-lg-6>* {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-lg-auto {
//         flex: 0 0 auto;
//         width: auto;
//         max-width: 100%
//     }
//     .col-lg-1 {
//         flex: 0 0 8.3333333333%;
//         max-width: 8.3333333333%
//     }
//     .col-lg-2 {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-lg-3 {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .col-lg-4 {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .col-lg-5 {
//         flex: 0 0 41.6666666667%;
//         max-width: 41.6666666667%
//     }
//     .col-lg-6 {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .col-lg-7 {
//         flex: 0 0 58.3333333333%;
//         max-width: 58.3333333333%
//     }
//     .col-lg-8 {
//         flex: 0 0 66.6666666667%;
//         max-width: 66.6666666667%
//     }
//     .col-lg-9 {
//         flex: 0 0 75%;
//         max-width: 75%
//     }
//     .col-lg-10 {
//         flex: 0 0 83.3333333333%;
//         max-width: 83.3333333333%
//     }
//     .col-lg-11 {
//         flex: 0 0 91.6666666667%;
//         max-width: 91.6666666667%
//     }
//     .col-lg-12 {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .order-lg-first {
//         order: -1
//     }
//     .order-lg-last {
//         order: 13
//     }
//     .order-lg-0 {
//         order: 0
//     }
//     .order-lg-1 {
//         order: 1
//     }
//     .order-lg-2 {
//         order: 2
//     }
//     .order-lg-3 {
//         order: 3
//     }
//     .order-lg-4 {
//         order: 4
//     }
//     .order-lg-5 {
//         order: 5
//     }
//     .order-lg-6 {
//         order: 6
//     }
//     .order-lg-7 {
//         order: 7
//     }
//     .order-lg-8 {
//         order: 8
//     }
//     .order-lg-9 {
//         order: 9
//     }
//     .order-lg-10 {
//         order: 10
//     }
//     .order-lg-11 {
//         order: 11
//     }
//     .order-lg-12 {
//         order: 12
//     }
//     .offset-lg-0 {
//         margin-left: 0
//     }
//     .offset-lg-1 {
//         margin-left: 8.3333333333%
//     }
//     .offset-lg-2 {
//         margin-left: 16.6666666667%
//     }
//     .offset-lg-3 {
//         margin-left: 25%
//     }
//     .offset-lg-4 {
//         margin-left: 33.3333333333%
//     }
//     .offset-lg-5 {
//         margin-left: 41.6666666667%
//     }
//     .offset-lg-6 {
//         margin-left: 50%
//     }
//     .offset-lg-7 {
//         margin-left: 58.3333333333%
//     }
//     .offset-lg-8 {
//         margin-left: 66.6666666667%
//     }
//     .offset-lg-9 {
//         margin-left: 75%
//     }
//     .offset-lg-10 {
//         margin-left: 83.3333333333%
//     }
//     .offset-lg-11 {
//         margin-left: 91.6666666667%
//     }
// }

// @media(min-width:1200px) {
//     .col-xl {
//         flex-basis: 0;
//         flex-grow: 1;
//         max-width: 100%
//     }
//     .row-cols-xl-1>* {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .row-cols-xl-2>* {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .row-cols-xl-3>* {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .row-cols-xl-4>* {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .row-cols-xl-5>* {
//         flex: 0 0 20%;
//         max-width: 20%
//     }
//     .row-cols-xl-6>* {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-xl-auto {
//         flex: 0 0 auto;
//         width: auto;
//         max-width: 100%
//     }
//     .col-xl-1 {
//         flex: 0 0 8.3333333333%;
//         max-width: 8.3333333333%
//     }
//     .col-xl-2 {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-xl-3 {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .col-xl-4 {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .col-xl-5 {
//         flex: 0 0 41.6666666667%;
//         max-width: 41.6666666667%
//     }
//     .col-xl-6 {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .col-xl-7 {
//         flex: 0 0 58.3333333333%;
//         max-width: 58.3333333333%
//     }
//     .col-xl-8 {
//         flex: 0 0 66.6666666667%;
//         max-width: 66.6666666667%
//     }
//     .col-xl-9 {
//         flex: 0 0 75%;
//         max-width: 75%
//     }
//     .col-xl-10 {
//         flex: 0 0 83.3333333333%;
//         max-width: 83.3333333333%
//     }
//     .col-xl-11 {
//         flex: 0 0 91.6666666667%;
//         max-width: 91.6666666667%
//     }
//     .col-xl-12 {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .order-xl-first {
//         order: -1
//     }
//     .order-xl-last {
//         order: 13
//     }
//     .order-xl-0 {
//         order: 0
//     }
//     .order-xl-1 {
//         order: 1
//     }
//     .order-xl-2 {
//         order: 2
//     }
//     .order-xl-3 {
//         order: 3
//     }
//     .order-xl-4 {
//         order: 4
//     }
//     .order-xl-5 {
//         order: 5
//     }
//     .order-xl-6 {
//         order: 6
//     }
//     .order-xl-7 {
//         order: 7
//     }
//     .order-xl-8 {
//         order: 8
//     }
//     .order-xl-9 {
//         order: 9
//     }
//     .order-xl-10 {
//         order: 10
//     }
//     .order-xl-11 {
//         order: 11
//     }
//     .order-xl-12 {
//         order: 12
//     }
//     .offset-xl-0 {
//         margin-left: 0
//     }
//     .offset-xl-1 {
//         margin-left: 8.3333333333%
//     }
//     .offset-xl-2 {
//         margin-left: 16.6666666667%
//     }
//     .offset-xl-3 {
//         margin-left: 25%
//     }
//     .offset-xl-4 {
//         margin-left: 33.3333333333%
//     }
//     .offset-xl-5 {
//         margin-left: 41.6666666667%
//     }
//     .offset-xl-6 {
//         margin-left: 50%
//     }
//     .offset-xl-7 {
//         margin-left: 58.3333333333%
//     }
//     .offset-xl-8 {
//         margin-left: 66.6666666667%
//     }
//     .offset-xl-9 {
//         margin-left: 75%
//     }
//     .offset-xl-10 {
//         margin-left: 83.3333333333%
//     }
//     .offset-xl-11 {
//         margin-left: 91.6666666667%
//     }
// }

// @media(min-width:1560px) {
//     .col-xxl {
//         flex-basis: 0;
//         flex-grow: 1;
//         max-width: 100%
//     }
//     .row-cols-xxl-1>* {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .row-cols-xxl-2>* {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .row-cols-xxl-3>* {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .row-cols-xxl-4>* {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .row-cols-xxl-5>* {
//         flex: 0 0 20%;
//         max-width: 20%
//     }
//     .row-cols-xxl-6>* {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-xxl-auto {
//         flex: 0 0 auto;
//         width: auto;
//         max-width: 100%
//     }
//     .col-xxl-1 {
//         flex: 0 0 8.3333333333%;
//         max-width: 8.3333333333%
//     }
//     .col-xxl-2 {
//         flex: 0 0 16.6666666667%;
//         max-width: 16.6666666667%
//     }
//     .col-xxl-3 {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
//     .col-xxl-4 {
//         flex: 0 0 33.3333333333%;
//         max-width: 33.3333333333%
//     }
//     .col-xxl-5 {
//         flex: 0 0 41.6666666667%;
//         max-width: 41.6666666667%
//     }
//     .col-xxl-6 {
//         flex: 0 0 50%;
//         max-width: 50%
//     }
//     .col-xxl-7 {
//         flex: 0 0 58.3333333333%;
//         max-width: 58.3333333333%
//     }
//     .col-xxl-8 {
//         flex: 0 0 66.6666666667%;
//         max-width: 66.6666666667%
//     }
//     .col-xxl-9 {
//         flex: 0 0 75%;
//         max-width: 75%
//     }
//     .col-xxl-10 {
//         flex: 0 0 83.3333333333%;
//         max-width: 83.3333333333%
//     }
//     .col-xxl-11 {
//         flex: 0 0 91.6666666667%;
//         max-width: 91.6666666667%
//     }
//     .col-xxl-12 {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .order-xxl-first {
//         order: -1
//     }
//     .order-xxl-last {
//         order: 13
//     }
//     .order-xxl-0 {
//         order: 0
//     }
//     .order-xxl-1 {
//         order: 1
//     }
//     .order-xxl-2 {
//         order: 2
//     }
//     .order-xxl-3 {
//         order: 3
//     }
//     .order-xxl-4 {
//         order: 4
//     }
//     .order-xxl-5 {
//         order: 5
//     }
//     .order-xxl-6 {
//         order: 6
//     }
//     .order-xxl-7 {
//         order: 7
//     }
//     .order-xxl-8 {
//         order: 8
//     }
//     .order-xxl-9 {
//         order: 9
//     }
//     .order-xxl-10 {
//         order: 10
//     }
//     .order-xxl-11 {
//         order: 11
//     }
//     .order-xxl-12 {
//         order: 12
//     }
//     .offset-xxl-0 {
//         margin-left: 0
//     }
//     .offset-xxl-1 {
//         margin-left: 8.3333333333%
//     }
//     .offset-xxl-2 {
//         margin-left: 16.6666666667%
//     }
//     .offset-xxl-3 {
//         margin-left: 25%
//     }
//     .offset-xxl-4 {
//         margin-left: 33.3333333333%
//     }
//     .offset-xxl-5 {
//         margin-left: 41.6666666667%
//     }
//     .offset-xxl-6 {
//         margin-left: 50%
//     }
//     .offset-xxl-7 {
//         margin-left: 58.3333333333%
//     }
//     .offset-xxl-8 {
//         margin-left: 66.6666666667%
//     }
//     .offset-xxl-9 {
//         margin-left: 75%
//     }
//     .offset-xxl-10 {
//         margin-left: 83.3333333333%
//     }
//     .offset-xxl-11 {
//         margin-left: 91.6666666667%
//     }
// }

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

[v-cloak] {
    display: none
}