$blue: #273848;
$light-blue: #BCC4D8;
$light-blue-10: #E4E8EF;

$navyblue: #273848;
$color-primary: #007F8E;

$brown: #52331E;
$gold: #AB9357;

$color-primary: #52331E;
$color-secondary: #AB9357;
$dark-gray: #2A2A2A;
$dark-gray-10: #404040;
$gray: #707070;
$light-gray: #909090;
$light-gray-10: #A0A0A0;