@font-face {
    font-family: 'webfont';
    src: url('../fonts/db_heavent_med_v3.2.woff2') format('woff2'),
         url('../fonts/db_heavent_med_v3.2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'webfont';
    src: url('../fonts/db_heavent_v3.2.woff2') format('woff2'),
         url('../fonts/db_heavent_v3.2.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?najopg');
    src:  url('../fonts/icomoon.eot?najopg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?najopg') format('truetype'),
      url('../fonts/icomoon.woff?najopg') format('woff'),
      url('../fonts/icomoon.svg?najopg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

$font-xxl: 6.5rem; //104px
$font-xl: 4.5rem; //72px
$font-lg: 2.25rem; //36px
$font-md: 2rem; //32px
$font-sm: 1.75rem; //28px
$font-xs: 1.5rem; //24px

