header.header{
    width: 100%;
    transition: 1s all ease;

    .header--lg{
        display: none;

        .header__top{
            display: block;
            padding: 5px 0 8px 0;
            background-color: $color-primary;

            .header__wrap{
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
    
            .header__link {
                display: block;
                position: relative;
                padding: 0 10px;
                margin: 0 10px;
                font-size: $font-xs;
                line-height: $font-sm;
                color: white;
                text-decoration: none;
            
                &:hover{
                    color: white;
                    text-decoration: none
                }
    
                &--search{
                    min-width: 222px;
                    font-size: 1.25rem;
                    border-bottom: solid 1px white;

                    .icon-search{
                        font-size: 0.8rem;
                    }
                }
    
                &--lang{
                    font-size: $font-xs;
                    padding: 0;
                    padding-left: 20px;
                    margin-right: 0;
    
                    &:before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 22px;
                        background-color: white;
                    }
    
                    img{
                        width: 32px;
                        height: 32px;
                    }
                }
    
                &--login{
                    min-width: 95px;
                    font-weight: 400;
                    font-size: 1.25rem;
                    text-align: center;
                    border: solid 1px white;
                    border-radius: 25px;
    
                    &:hover{
                        color: $color-primary;
                        background-color: white;
                    }
                }
    
                &.dropdown-toggle{
                    padding-right: 0;
                    margin-right: 0;
                    text-decoration-line: underline;
                    text-decoration-thickness: 2px;
                    &:after{
                        display: none;
                    }
                }
            }
        }

        .header__logo {
            width: auto;
            height: 100px;
            transition: 1s all ease;
        }

        .header__main{
            background-color: white;
        }

        .header__wrap{
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }

        .header__right {
            display: flex;
            align-items: stretch;

            .navbar--main-desktop{
                display: flex;
                align-items: stretch;
                padding-top: 0;
                padding-bottom: 0;
    
                .navbar-nav {
                    align-items: center;
                    height: 100%;
                }
    
                .nav-item {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    margin: 0 25px;
                }
    
                .nav-link{
                    text-decoration: none;
                    position: relative;
                    text-align: center;
                    font-size: $font-sm;
                    line-height: $font-sm;
                    font-weight: 400;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: #231F20;
                    display: block;
                    position: relative;
                    padding: 3px 0 3px 0;
                    transition: all .0.3s ease-in-out;
    
                    &.dropdown-toggle{
                        &:after{
                            display: none;
                        }
                    }
    
                    &:hover{
                        color: rgba(39, 56, 72,0.48);
                    }
                }
    
                .dropdown--navbar {
                    transition: all .0.3s ease-in-out;
                    &.show{
                        transition: all .0.3s ease-in-out;
                        &:before{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 35px;
                            height: 15px;
                            background-image: url('../images/icon/carat-up.svg');
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            background-size: cover;
                            transition: all .3s ease-out;
                        }
                    }
                    .dropdown-menu {
                        position: fixed!important;
                        top: 143px!important;
                        left: 0!important;
                        -webkit-transform: none!important;
                        transform: none!important;
                        border-radius: 0;
                        width: 100%;
                        padding: 40px 0;
                        background-color: white;
                        z-index: 1001;
                        border: none;
                        border-top: 1px solid $color-primary;
                        border-bottom: 1px solid $color-primary;
                        transition: all .5s ease-in-out;
                        overflow: hidden;

                        .container-fluid{
                            display: block;
                        }
                    }
    
                    .dropdown__btn{
                        display: block;
                        font-weight: 400;
                        font-size: $font-lg;
                        line-height: $font-lg;
                        color: $color-primary;
    
                        &:hover{
                            color: rgba(39, 56, 72,0.48);
                            text-decoration: none;
                            transition: all .3s ease-out;
                        }
                    }
    
                    .dropdown-nav{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(5, minmax(min-content, max-content));
                        grid-auto-flow: column;
                        grid-column-gap: 30px;
                        column-gap: 30px;
                    }
    
                    .dropdown-item {
                        position: relative;
                        display: block;
                        width: 100%;
                        padding: 0;
                        margin:0 0 20px 0;
                        clear: both;
                        color: #231F20;
                        text-align: inherit;
                        white-space: nowrap;
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid #DBDBDB;
                        white-space: normal;
                        -webkit-column-break-inside: avoid;
                        -moz-column-break-inside: avoid;
                        break-inside: avoid;
                        page-break-inside: avoid;
    
                        &:hover{
                            background-color: transparent;
                            &:before{
                                transform: scale3d(1,1,1);
                            }
    
                            .dropdown-link{
                                color: $color-primary;
                                text-decoration: none;
                                transform: translateX(30px);
                            }
                        }
    
                        &:before{
                            content: "";
                            width: 20px;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            top: 10px;
                            background-color: $color-primary;
                            transition: 0.3s transform ease;
                            transform: scale3d(0,1,1);
                            transform-origin: 0 50%;
                        }
                    }
    
                    .dropdown-link{
                        font-weight: 400;
                        font-size: 1.375rem;
                        line-height: 100%;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #231F20;
                        display: block;
                        padding: 0 0 10px 0;
                        margin: 0;
                        transition: all .3s ease-out;
    
                        &.active{
                            color: $color-primary;
                        }
                    }
                }
            }
        }

        .menu__main{
            display: block;
            padding-left: 90px;
            border-left: 1px solid $gray;

            ul{
                position: relative;
                width: 33.33%; /* Width of Menu Items */
    
                li{
                    list-style-type: disc;
                    font-weight: 400;
                    font-size: $font-sm;
                    line-height: $font-sm;
                    color: #363535;
                    > a{
                        display: block;
                        padding: 15px 0;
                        padding-right: 30px;
                        font-weight: 400;
                        font-size: $font-sm;
                        line-height: $font-sm;
                        text-transform: uppercase;
                        color: #363535;
                        transition: all .3s ease-out;
                        position: relative;
                        text-decoration: none;

                        &:hover{
                            color: rgba(39, 56, 72,0.48);
                        }
                    }
    
                    &.menu-dropdown-icon{
                        > a{
                            &:after{
                                font-family: 'icomoon';
                                content: "\e902";
                                position: absolute;
                                top: 50%;
                                right: 30px;
                                transform: translateY(-50%);
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1rem;
                                color: #363535;
                                transition: all .3s ease-out;
                            }
    
                            &:hover{
                                &:after{
                                    color: rgba(39, 56, 72,0.48);
                                }
                            }
                        }
                    }
    
                    ul{
                        display: none;
                        position: absolute; 
                        left: 100%; /*Set 1px less than menu width */ 
                        top: 0; 
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        padding-left: 90px;
                        border-left: 1px solid $gray;
                    }

                    &:hover{
                        ul{
                            display: block;
                        }
                    }
                }
            }
        }

        .dropdown--profile-dialog{
            position: relative;
            .dropdown-menu{
                position: relative;
                min-width: 230px;
                padding: 22px;
                background: white;
                border: 1px solid $gray;
                border-radius: 0;

                &:after, &:before {
                    bottom: 100%;
                    right: 30px;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                
                &:after {
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: white;
                    border-width: 10px;
                    margin-left: -10px;
                }
                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: $gray;
                    border-width: 13px;
                    margin-left: -13px;
                }
            }

            .profile--wrap{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: solid 1px $gray;

                .profile__avatar{
                    margin-right: 15px;
                }

                .profile__name{
                    font-size: $font-xs;
                    color: #363535;
                }

                .profile__position{
                    font-size: 1.25rem;
                    color: #363535;
                }
            }

            .profile--nav{
                display: block;

                ul{

                    li{
                        font-size: 1.25rem;
                        line-height: $font-xs;
                        color: #363535;
                        margin-bottom: 10px;
                    }
                }

                a{
                    color: #363535;
                    text-transform: capitalize;
                    text-decoration: none;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }

        @media (min-width: 1366px){
            display: block;
        }
    }
    
    .header--sm{
        display: block;
        .header__top{
            display: block;
            padding: 6px 0 9px 0;
            background-color: $color-primary;

            .header__wrap{
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
    
            .header__link {
                display: block;
                position: relative;
                padding: 0 10px;
                margin: 0 10px;
                font-size: $font-xs;
                line-height: $font-sm;
                color: white;
                text-decoration: none;
            
                &:hover{
                    color: white;
                    text-decoration: none
                }
    
                &--search{
                    min-width: 1px;
                    font-size: 1.25rem;
                    border-bottom: none;
                }
    
                &--lang{
                    font-size: $font-xs;
                    padding: 0;
                    padding-left: 20px;
                    margin-right: 0;
    
                    &:before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 22px;
                        background-color: white;
                    }
    
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .header__logo {
            width: auto;
            height: 80px;
            transition: 1s all ease;
        }

        .header__main{
            background-color: white;
            .container-fluid{
                display: block;
            }
        }

        .header__wrap{
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }

        .header__right{
            display: flex;
            align-items: center;
        }

        .hamburger{
            .menu--button{
                position: relative;
                padding: 0;
                
                .menu--button_i{
                    margin: 0 auto;
                    width: 30px;
                    height: 35px;
                    position: relative;
                    z-index: 1000;
                    cursor: pointer;
                    outline: none !important;
                    overflow: hidden;
    
                    .line-1, 
                    .line-2,
                    .line-3{
                        height: 2px;
                        background: $color-primary;
                        position: absolute;
                        transition: all .3s ease-out;
                    }
            
                    .line-1 {
                        top: 10px;
                        left: 0;
                        width: 30px;
                    }
            
                    .line-2 {
                        top: 20px;
                        left: 0;
                        width: 30px;
                    }

                    .line-3 {
                        top: 30px;
                        left: 0;
                        width: 30px;
                    }
    
                    &:hover{
                        .line-2 {
                            left: 15px;
                            transition: all .3s ease-out;
                        }
                    }
                }
            }
        }

        .dropdown--profile-dialog{
            position: relative;
            .dropdown-menu{
                position: relative;
                min-width: 230px;
                padding: 22px;
                background: white;
                border: 1px solid $gray;
                border-radius: 0;

                &:after, &:before {
                    bottom: 100%;
                    right: 30px;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                
                &:after {
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: white;
                    border-width: 10px;
                    margin-left: -10px;
                }
                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: $gray;
                    border-width: 13px;
                    margin-left: -13px;
                }
            }

            .profile--wrap{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: solid 1px $gray;

                .profile__avatar{
                    margin-right: 15px;
                }

                .profile__name{
                    font-size: $font-xs;
                    color: #363535;
                }

                .profile__position{
                    font-size: 1.25rem;
                    color: #363535;
                }
            }

            .profile--nav{
                display: block;

                ul{

                    li{
                        font-size: 1.25rem;
                        line-height: $font-xs;
                        color: #363535;
                        margin-bottom: 10px;
                    }
                }

                a{
                    color: #363535;
                    text-transform: capitalize;
                    text-decoration: none;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }

        @media (min-width: 1366px){
            display: none;
        }
    }

    &--sticky{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        .header--lg{
            .header__logo {
                width: auto;
                height: 60px !important;
                transition: 1s all ease;
            }

            .header__right .navbar--main-desktop .dropdown--navbar .dropdown-menu {
                top: 103px  !important;
            }
        }

        .header--sm{
            .header__logo {
                width: auto;
                height: 60px !important;
                transition: 1s all ease;
            }
        }
    }
}

.navWrapper{
    position: absolute;
    z-index: 1001;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;

    .navWrapper__content{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        overflow: hidden;
        -moz-transition-property: left;
        -o-transition-property: left;
        -webkit-transition-property: left;
        transition-property: left;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        background-color: white;

        @media screen and (max-width: 1199.98px) {
            left: 0;
            top: -100%;
            -moz-transition-property: top;
            -o-transition-property: top;
            -webkit-transition-property: top;
            transition-property: top;
        }
    }

    .navWrapper__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 75px 25px 25px;

        .header__link {
            display: block;
            position: relative;
            padding: 0;
            margin: 0;
            font-size: $font-xs;
            line-height: $font-sm;
            color: #231F20;
            text-decoration: none;
        
            &:hover{
                color: #231F20;
                text-decoration: none
            }

            &--login{
                min-width: 95px;
                font-weight: 400;
                font-size: 1.25rem;
                text-align: center;
                border: solid 1px #231F20;
                border-radius: 25px;
            }

            &.dropdown-toggle{
                padding-right: 0;
                margin-right: 0;
                text-decoration-line: underline;
                text-decoration-thickness: 2px;
                &:after{
                    display: none;
                }
            }
        }
    }

    .navWrapper__right{
        display: flex;
        align-items: center;
        padding-right: 40px;

        .navWrapper__link{
            font-weight: 700;
            font-size: 1.375rem;
            line-height: 1.375rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $dark-gray;
            display: block;
            position: relative;
            padding: 3px 0;
            
            &:hover{
                transition: all .3s ease-out;
                color: rgba(39, 56, 72,0.48);
            }

            &.dropdown-toggle{
                margin: 0 20px;

                &:after{
                    display: none;
                }
            }
        }
    }

    .menu__main--sm{
        display: block;
        padding: 0 25px;

        ul{
            position: relative;
            width: 33.33%; /* Width of Menu Items */
            padding: 0;

            li{
                list-style-type: none;
                font-weight: 400;
                font-size: $font-sm;
                line-height: $font-sm;
                color: #363535;
                > a{
                    display: block;
                    padding: 15px 0;
                    padding-right: 30px;
                    font-weight: 400;
                    font-size: $font-sm;
                    line-height: $font-sm;
                    text-transform: uppercase;
                    color: #363535;
                    transition: all .3s ease-out;
                    position: relative;
                    text-decoration: none;

                    &:hover{
                        color: rgba(39, 56, 72,0.48);
                    }
                }

                &.menu-dropdown-icon{
                    > a{
                        &:after{
                            font-family: 'icomoon';
                            content: "\e902";
                            position: absolute;
                            top: 50%;
                            right: 30px;
                            transform: translateY(-50%);
                            font-weight: 400;
                            font-size: 1.25rem;
                            line-height: 1.25rem;
                            color: #363535;
                            transition: all .3s ease-out;
                        }

                        &:hover{
                            &:after{
                                color: rgba(39, 56, 72,0.48);
                            }
                        }
                    }
                }

                ul{
                    display: none;
                    position: absolute; 
                    left: 100%; /*Set 1px less than menu width */ 
                    top: 0; 
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    padding-left: 90px;
                    border-left: 1px solid $gray;
                }

                &:hover{
                    ul{
                        display: block;
                    }
                }
            }
        }
    }

    .menu-close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: $font-lg;
        line-height: $font-lg;
        text-align: center;
        color: $gray;
        cursor: pointer;
        z-index: 100;
    }

    @media (max-width: 991.98px){
        .navWrapper__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            visibility: visible;
        }
        .menu__main--sm{
            max-height: 100%;
            overflow-y: auto;
            ul{
                width: 100%;
                padding-right: 0;

                li{
                    margin: 0;
                    > a{
                        padding: 15px 0;
                    }

                    &.menu-dropdown-icon{
                        &.active{
                            > a{
                                &:after{
                                    transform: translateY(-50%) rotate(90deg);
                                }
                            }
                            ul{
                                border-top: 1px solid rgba(39, 56, 72,0.48);
                            }
                        }
                    }

                    ul{
                        position: relative;
                        left: auto;
                        top: auto;
                        width: 100%;
                        height: auto;
                        padding-left: 0;
                        border: none;

                        li{
                            > a{
                                padding: 15px 0;
                                border-bottom: 1px solid #DBDBDB;
                                &.active{
                                    border-color: #DBDBDB !important;
                                }
                            }

                            &.menu-dropdown-icon{
                                > a{
                                    &:after{
                                        right: 30px;
                                    }
            
                                    &:hover{
                                        &:after{
                                            color: rgba(39, 56, 72,0.48);
                                        }
                                    }
                                }

                                ul{
                                    border-top-color: #DBDBDB !important;
                                }
                            }
                            
                            ul{
                                padding: 0;
                                background-color: #F7F7F7;

                                li{
                                    padding: 0 15px;
                                    > a{
                                        padding: 15px 0;
                                        border-bottom: 1px solid white;
                                    }

                                    &:last-child{
                                        a{
                                            border-bottom: none
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (orientation:landscape) {
        .menu__main--sm{
            max-height: 300px;
        }
    }
}

.nav-open{
    .navWrapper{
        visibility: visible;
        opacity: 1;
        .navWrapper__content{
            left: 0;
            @media screen and (max-width: 1199.98px) {
                top: 0;
            }
        }
    }
}
