h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2B2A2A
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
    font-family: 'webfont';
    font-weight: 500
}

html .h1,
html .h2,
html .h3,
html .h4,
html .h5,
html .h6 {
    font-family: 'webfont';
    font-weight: 500
}

html .font-body,
html body {
    font-family: 'webfont';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem
}

html .h1,
html h1 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.5rem
}

html .h2,
html h2 {
    font-weight: 500;
    font-size: $font-lg;
    line-height: $font-lg
}

html .h3,
html h3 {
    font-weight: 500;
    font-size: $font-md;
    line-height: $font-md
}

html .h4,
html h4 {
    font-weight: 500;
    font-size: $font-sm;
    line-height: $font-sm
}

html .h5,
html h5 {
    font-weight: 500;
    font-size: $font-xs;
    line-height: $font-xs
}

html .h6,
html h6 {
    font-weight: 400;
    font-size: $font-xs;
    line-height: $font-xs
}

html .small,
html small {
    font-family: 'webfont';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem
}

a {
    font-family: 'webfont';
    font-weight: 400;
    color: #404142;
    text-decoration: none;
    transition: all .3s ease-out
}

a,
a:hover {
    text-decoration: none;
}

.link-text,
a:hover {
    color: #404142;
}

.link-text {
    text-decoration: none;
}

.link-text:hover {
    color: #002842;
    text-decoration: none
}

.link--text-back{
    position: relative;
    padding-left: 30px;
    text-decoration: none;
    font-weight: 500;
    color: $dark-gray-10;
    transition: all .3s ease-out;
    .link__icon{
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 24px;
        font-size: 1.125rem;
        line-height: 1.5rem;
        text-align: center;
        transform: translate(0, -50%);
        transition: transform .3s ease-out;
  
        i{
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
    }

    &:hover{
        text-decoration: none;
        color: $blue;
    }
}