.main--home, 
.main--content{
    overflow-x: hidden;
}

.home--section, 
.content--section{
    position: relative;
    display: block;
    width: 100%;
    min-height: 120px;
}

.home--highlight-menu{
    min-height: 1px;

    .menu__lg{
        height: 120px;
        background-color: $color-primary;
        overflow: hidden;
    }

    .menu__sm{
        .dropdown{
            margin-bottom: 30px;
        }
    
        .dropdown-toggle{
            padding: 15px 30px 15px 15px;
            width: 100%;
            font-weight: 400;
            font-size: $font-lg;
            line-height: $font-lg;
            color: white;
            text-align: left;
            border-radius: 0 !important;
            box-shadow: none !important;
            white-space: normal;
            background-color: $color-primary;
        
            &:after{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                font-family: 'icomoon';
                content: "\e900";
                font-size:  $font-xs;
                line-height: $font-sm;
                color: white;
                border: none !important;
                transition: transform .3s ease-out;
            }
        
            &[aria-expanded='true']{
                &:after{
                transform: translate(0, -50%) rotate(-90deg);
                transition: transform .3s ease-out;
                }
            }
        }
    
        .dropdown-menu{
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 0;
        background-color: transparent;
        }
    
        .dropdown-item{
        background-color: #EBEBEB;
        color: #3B3B3B;
        font-weight: 400;
        font-size: $font-xs;
        line-height: $font-sm;
        padding: 12px 30px 12px 15px;
        border-bottom: 1px solid white;
        white-space: normal;
        text-decoration: none;
    
        &:last-child{
            border-bottom: none;
        }
    
        &:hover{
            background-color: #BDC8D5;
        }
        }
    }
}

.home--member{
    padding: 5rem 0 2.5rem 0;
    background-color: #F5F5F5;
}

.home--knowledge{
    padding: 5rem 0;
}

.home--search{
    .search--wrapper{
        display: block;
        padding: 3.75rem 0 7.5rem 0;

        .form-srch{
            .search__input{
                color: white;
                border-color: white;
                background-color: transparent;

                &::placeholder {
                    color: white;
                }
            }

            .select__input{
                color: white;
                border-color: white;
                background-color: transparent;

                option{
                    color: #000000;
                }
            }
        }
    }

    .search--title{
        display: block;
        margin: 0 auto 4rem auto;
        text-align: center;

        .title__main{
            font-weight: 500;
            font-size: 3rem;
            line-height: 3rem;
            color: white;
        }
    }

    .graphic--search{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 450px;

        @media (max-width: 1440px){
            width: 350px;
        }
    }
}

.home--news{
    padding: 5rem 0;

    .tabs--wrapper{
        .nav-tabs{
            border-bottom: 0;
            .nav-item{
                border-radius: 0;
                transition: all .3s ease-out;
        
                &:not(:first-child){
                    margin-left: 30px;
                }
            
                .nav-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 2rem;
                    border: 1px solid $gray;
                    border-radius: 30px;
                    font-size: 1.5rem;
                    color: #000000;
                    text-decoration: none;
                    margin-bottom: 15px;
                    background-color: white;
                    transition: all .3s ease-out;
        
                    &.active{
                        border-color: #CBCBCB;
                        background-color: #CBCBCB;
                    }
                }
        
                @media (max-width: 575.98px){
                    &:not(:first-child){
                        margin-left: 0;
                    }
                }
            }
        }
        
        .tab-content{
          padding: 0;
          background-color: white;
        }
      
        .dropdown{
            margin-bottom: 30px;
        }
    
        .dropdown-toggle{
            padding: 15px 30px 15px 15px;
            width: 100%;
            font-weight: 400;
            font-size: $font-lg;
            line-height: $font-lg;
            color: white;
            text-align: left;
            border-radius: 0 !important;
            box-shadow: none !important;
            white-space: normal;
            background-color: $color-primary;
        
            &:after{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                font-family: 'icomoon';
                content: "\e900";
                font-size:  $font-xs;
                line-height: $font-sm;
                color: white;
                border: none !important;
                transition: transform .3s ease-out;
            }
        
            &[aria-expanded='true']{
                &:after{
                transform: translate(0, -50%) rotate(-90deg);
                transition: transform .3s ease-out;
                }
            }
        }
    
        .dropdown-menu{
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 0;
            background-color: transparent;
            }
    
        .dropdown-item{
            background-color: #EBEBEB;
            color: #3B3B3B;
            font-weight: 400;
            font-size: $font-xs;
            line-height: $font-sm;
            padding: 12px 30px 12px 15px;
            border-bottom: 1px solid white;
            white-space: normal;
            text-decoration: none;
        
            &:last-child{
                border-bottom: none;
            }
        
            &:hover{
                background-color: #BDC8D5;
            }
        }
    }
}

.home--widget{
    .menu--wrapper{
        display: block;
        padding: 0;
        border-top: 8px solid #D9B967;

        .menu__item{
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5rem 3rem;

            &:after{
                position: absolute;
                top: 50%;
                right: 3rem;
                transform: translate(0, -50%);
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                content: '\e902';
                font-family: 'icomoon';
                font-size: 1rem;
                line-height: 45px;
                text-align: center;
                color: #9F9F9F;
                background-color: white;
                transition: all .3s ease-out;
            }

            &:hover{
                &:after{
                    right: 1.5rem;
                    transition: all .3s ease-out;
                }
            }

            @media (max-width:991.98px){
                padding: 1rem 3rem;
            }
        }

        .bg__brown{
            position: relative;

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 110px;
                background-color: $color-primary;
                z-index: -1;
                box-shadow: 0 3px 10px rgba(0, 0, 0, .2)
            }

            @media (max-width:991.98px){
                &:before{
                    height: 100%;
                }
            }
        }

        .bg__gold{
            position: relative;

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 110px;
                background-color: rgba(39, 56, 72,0.48);
                z-index: -1;
                box-shadow: 0 3px 10px rgba(0, 0, 0, .2)
            }

            @media (max-width:991.98px){
                &:before{
                    height: 100%;
                }
            }
        }

        .menu__icon{
            margin-right: 30px;
        }

        .menu__text{
            font-size: $font-md;
            line-height: $font-md;
            color: white;
        }

        @media (max-width: 991.98px){
            border-top: none;

            .menu__item{
                padding: 0.5rem 1rem;
                border-top: 8px solid #D9B967;
            }

            .menu__icon{
                width: 80px;
                margin-right: 20px;
            }
        }

        @media (max-width: 767.98px){
            .menu__icon{
                width: 64px;
            }
        }
    }
}

.home--media{
    padding: 5rem 0;

    .text-center{
        margin-top: auto;
        padding: 0;
    }
}

.home--online{
    .course--wrapper{
        padding: 5rem 0 2.5rem 0;
        margin-bottom: 0;
    }

    .dvleft{
        display: block;

        .icon-video{
            font-size: 6rem;
            line-height: 6rem;
            color: white;
        }

        .title__main{
            margin: 2rem 0;
            font-weight: 500;
            font-size: 3rem;
            line-height: 3rem;
            color: white;
        }
    }

    .dvright{
        display: block;
    }

    @media(max-width: 991.98px){
        .dvleft{
            margin-bottom: 30px;
        }
    }
}

.home--blog{
    padding: 5rem 0;
}

.home--title{
    display: block;
    text-align: center;

    .title__main{
        margin: 0;
        margin-bottom: 3rem;
        font-weight: 500;
        font-size: 3rem;
        line-height: 3rem;
        color: $dark-gray;
        text-transform: uppercase;
    }

    .title__sub{
        margin: 0;
        margin-bottom: 2rem;
        font-size: $font-lg;
        line-height: $font-lg;
        color: $dark-gray;
    }
}

.content--title{
    display: block;
    text-align: center;

    .title__main{
        margin: 0;
        margin-bottom: 3rem;
        font-weight: 500;
        font-size: 3rem;
        line-height: 3rem;
        color: $dark-gray;
        text-transform: uppercase;
    }

    .title__sub{
        margin: 0;
        margin-bottom: 2rem;
        font-size: $font-lg;
        line-height: $font-lg;
        color: $dark-gray;
    }
}

.title--column{
    margin-bottom: 2rem;
    font-size: $font-md;
    line-height: $font-md;
    color: $dark-gray;
    
}

.slick--hero-banner{
    position: relative;
    height: 300px;
    margin-bottom: 0 !important;
    overflow: hidden;

    .slick__item {
        position: relative;
        height: 300px;
        overflow: hidden
    }

    .slick__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .slick__body{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        padding: 0 15px;
        z-index: 999;
    }

    .slick__highlight{
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 30px;
        -webkit-animation: FadeInup 1s;
        animation: FadeInup 1s;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 85px;
            height: 5px;
            background-color: white;
        }
    }

    .slick__title{
        font-weight: 500;
        font-size: $font-xl;
        line-height: $font-lg;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 7px 6px rgba(0, 0, 0, .46);
    }

    .slick__sub{
        font-weight: 500;
        font-size: $font-lg;
        line-height: $font-lg;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 7px 6px rgba(0, 0, 0, .46);
    }

    .slick__text{
        -webkit-animation: FadeInup 1s;
        animation: FadeInup 1s;
        font-weight: 500;
        font-size: $font-lg;
        line-height: $font-lg;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 3px 6px rgba(0, 0, 0, .29);
    }

    .slick-dots{
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);

        li{
            width: 15px;
            height: 15px;

            button{
                width: 15px;
                height: 15px;

                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    color: $dark-gray;
                    opacity: 1;
                    border-radius: 20px;
                    background-color: white;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }

            &.slick-active{
                width: 45px;
                height: 15px;

                button{
                    width: 45px;
                    height: 15px;
    
                    &:before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "";
                        width: 45px;
                        height: 15px;
                        opacity: 1;
                        background-color: $color-primary;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
        }
    }

    @media (min-width: 768px){
        height: 468px;
        .slick__item{
            height: 468px;
        }

        .slick__title{
            font-size: $font-xxl;
            line-height: 3rem;
        }

        .slick__sub{
            font-size: 4rem;
            line-height: 3rem;
        }

        .slick__text{
            font-size: 4rem;
            line-height: 3rem;
        }
    
    }

    @media (min-width: 992px){
    }

    @media (min-width: 1200px){

    }
}

.slick--hightlight-menu{
    position: relative;

    .slick-slide{
        &.slick-active{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                width: 1px;
                height: 60px;
                background-color: white;
            }
        }
    }

    .slick__item {
        position: relative;
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;

        &:hover{
            background-color: rgba($color: $color-secondary, $alpha: 0.48);
        } 
    }

    // .slick-current{
    //     .slick__item {
    //         background-color: rgba($color: $color-secondary, $alpha: 0.48);
    //     }
    // }

    .slick__body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        padding: 0 20px;
        text-decoration: none;
    }

    .slick__icon{
        margin-right: 15px;
        color: white;
    }

    .slick__text{
        font-size: $font-sm;
        line-height: 2rem;
        color: white;
    }

    .slick-next:before, 
    .slick-prev:before {
        font-family: 'icomoon';
        font-size: 1rem;
        line-height: 1;
        color: #DBDBDB;
        opacity: 1;
        transition: all 0.3s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev:before{
        content: '\e901';
    }

    .slick-next:before{
        content: '\e902';
    }

    @media (max-width: 991.98px){
        padding: 0 20px;

        .slick-next{
            right: -10px;
        }

        .slick-prev{
            left: -10px;
        }
    }
}

.slick--member-menu{
    position: relative;

    .slick__item {
        position: relative;
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
    }

    .slick__body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        padding: 0 20px;
        text-decoration: none;
    }

    .slick__icon{
        margin-right: 15px;
        color: white;
    }

    .slick__text{
        font-size: $font-sm;
        line-height: 2rem;
        color: white;
    }

    .slick-next:before, 
    .slick-prev:before {
        font-family: 'icomoon';
        font-size: $font-xs;
        line-height: 1;
        color: #DBDBDB;
        opacity: 1;
        transition: all 0.3s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev:before{
        content: '\e901';
    }

    .slick-next:before{
        content: '\e902';
    }

    @media (max-width: 991.98px){
        padding: 0 20px;

        .slick-next{
            right: -10px;
        }

        .slick-prev{
            left: -10px;
        }
    }
}

.slick--knowledge{
    position: relative;
    margin-bottom: 30px;

    .slick__item {
        position: relative;
        padding: 10px;
        margin-bottom: 0;
        overflow: hidden;

        .card{
            padding: 20px 15px;
            &:hover{
                box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.19);
            }
        }
    }

    // .slick-current{
    //     .slick__item {
    //         box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.19);
    //     }
    // }

    .slick-next:before, 
    .slick-prev:before {
        font-family: 'icomoon';
        font-size: 2rem;
        line-height: 1;
        color: #DBDBDB;
        opacity: 1;
        transition: all 0.3s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-next:hover:before,
    .slick-prev:hover:before{
        color: $color-primary;
        transition: all 0.3s ease-out;
    }

    .slick-prev:before{
        content: '\e901';
    }

    .slick-next:before{
        content: '\e902';
    }

    @media (max-width: 991.98px){
        padding: 0 20px;

        .slick-next{
            right: -10px;
        }

        .slick-prev{
            left: -10px;
        }
    }
}

.slick--news{
    position: relative;
    margin-bottom: 50px;

    .slick__item {
        position: relative;
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
        .card{
            padding: 20px 0;

            &:hover{
                box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.19);
            }

            .card__figure{
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 40%;
            }
        }

        @media (max-width: 991.98px){
            .card{
                flex-direction: column;
                padding: 20px;

                .card__figure{
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 100%;
                }
    
                .card__body{
                    margin: 0;
                    margin-top: 20px;
                }
            }
        }
    }

    .slick-next:before, 
    .slick-prev:before {
        font-family: 'icomoon';
        font-size: 1rem;
        line-height: 1;
        color: #DBDBDB;
        opacity: 1;
        transition: all 0.3s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-next:hover:before,
    .slick-prev:hover:before{
        color: $color-primary;
        transition: all 0.3s ease-out;
    }

    .slick-prev:before{
        content: '\e901';
    }

    .slick-next:before{
        content: '\e902';
    }
}

.slick--course{
    position: relative;
    margin-bottom: 30px;

    .slick__item {
        position: relative;
        padding: 10px;
        margin-bottom: 0;
        overflow: hidden;

        .card{
            padding: 20px 15px;
            &:hover{
                box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.19);
            }
        }
    }

    // .slick-current{
    //     .slick__item {
    //         box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.19);
    //     }
    // }

    .slick-next:before, 
    .slick-prev:before {
        font-family: 'icomoon';
        font-size: 2rem;
        line-height: 1;
        color: #DBDBDB;
        opacity: 1;
        transition: all 0.3s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-next:hover:before,
    .slick-prev:hover:before{
        color: $color-primary;
        transition: all 0.3s ease-out;
    }

    .slick-prev:before{
        content: '\e901';
    }

    .slick-next:before{
        content: '\e902';
    }

    @media (max-width: 991.98px){
        padding: 0 20px;

        .slick-next{
            right: -10px;
        }

        .slick-prev{
            left: -10px;
        }
    }
}

.content--banner{
    position: relative;
    overflow: hidden;

    .content__banner {
        position: relative;
        min-height: 300px;
        background-size: cover;
        background-position: center;
    }

    .banner__body{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        height: auto;
        text-align: center;
    }

    .banner__title{
        font-size: $font-xl;
        line-height: $font-xl;
        color: white;
        text-transform: uppercase;
    }
    
    .banner__text{
        font-size: $font-sm;
        line-height: $font-sm;
        color: white;
    }

    @media (min-width: 768px){
        .content__banner {
            min-height: 350px;
         }
    }

    @media (min-width: 992px){
    }

    @media (min-width: 1200px){

    }
}

.content--article{
    position: relative;

    .search--wrapper{
        display: block;
        padding: 20px;
        background-color: #F2F2F2;

        .form-srch{
            .search__input{
                color: #B7B7B7;
                border-color: $gray;
                background-color: white;

                &::placeholder {
                    color: #B7B7B7;
                }
            }

            .select__input{
                color: #B7B7B7;
                border-color: $gray;
                background-color: white;

                option{
                    color: #000000;
                }
            }
        }
    }

    .tabs--wrapper{
        .nav-tabs{
            border-bottom: 1px solid $gray;

            .nav-item{
                display: inline-block;
                border-radius: 0;
                transition: all .3s ease-out;
        
                &:not(:first-child){
                    margin-left: 30px;
                }
            
                .nav-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 5rem;
                    border: 1px solid $gray;
                    border-top: 5px solid rgba(39, 56, 72,0.48);
                    border-bottom: 0;
                    border-radius: 0;
                    font-size: $font-xs;
                    color: #000000;
                    text-decoration: none;
                    margin-bottom: 0;
                    background-color: white;
                    transition: all .3s ease-out;

                    span{
                        margin-right: 10px;
                        font-size: 0.8rem;
                    }
        
                    &.active{
                        color: white;
                        border-color: rgba(39, 56, 72,0.48);
                        background-color: rgba(39, 56, 72,0.48);
                    }
                }
        
                @media (max-width: 575.98px){
                    &:not(:first-child){
                        margin-left: 0;
                    }
                }
            }
        }
        
        .tab-content{
          padding: 0;
          margin-top: 30px;
          background-color: white;

          .table-responsive{
              margin-bottom: 30px;
          }
        }
      
        .dropdown{
            margin-bottom: 30px;
        }
    
        .dropdown-toggle{
            padding: 15px 30px 15px 15px;
            width: 100%;
            font-weight: 400;
            font-size: $font-lg;
            line-height: $font-lg;
            color: white;
            text-align: left;
            border-radius: 0 !important;
            box-shadow: none !important;
            white-space: normal;
            background-color: $color-primary;
        
            &:after{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                font-family: 'icomoon';
                content: "\e900";
                font-size:  $font-xs;
                line-height: $font-sm;
                color: white;
                border: none !important;
                transition: transform .3s ease-out;
            }
        
            &[aria-expanded='true']{
                &:after{
                transform: translate(0, -50%) rotate(-90deg);
                transition: transform .3s ease-out;
                }
            }
        }
    
        .dropdown-menu{
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 0;
            background-color: transparent;
        }
    
        .dropdown-item{
            background-color: #EBEBEB;
            color: #3B3B3B;
            font-weight: 400;
            font-size: $font-xs;
            line-height: $font-sm;
            padding: 12px 30px 12px 15px;
            border-bottom: 1px solid white;
            white-space: normal;
            text-decoration: none;
    
            &:last-child{
                border-bottom: none;
            }
        
            &:hover{
                background-color: #BDC8D5;
            }
        }
    }

    .tabs--views{
        .nav-tabs{
            border-bottom: none;

            .nav-item{
                display: inline-block;
                border-radius: 0;
                transition: all .3s ease-out;
        
                &:not(:first-child){
                    margin-left: 10px;
                }
            
                .nav-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 45px;
                    height: 45px;
                    padding: 0;
                    border: 1px solid $gray;
                    border-radius: 0;
                    font-size: $font-xs;
                    color: #939393;
                    text-align: center;
                    text-decoration: none;
                    margin-bottom: 0;
                    background-color: white;
                    transition: all .3s ease-out;
        
                    &.active{
                        color: white;
                        border-color: rgba(39, 56, 72,0.48);
                        background-color: rgba(39, 56, 72,0.48);
                    }
                }
            }
        }
        
        .tab-content{
          padding: 0;
          margin-top: 30px;
          background-color: white;

          .table-responsive{
              margin-bottom: 30px;
          }
        }
      
        .dropdown{
            margin-bottom: 30px;
        }
    
        .dropdown-toggle{
            padding: 15px 30px 15px 15px;
            width: 100%;
            font-weight: 400;
            font-size: $font-lg;
            line-height: $font-lg;
            color: white;
            text-align: left;
            border-radius: 0 !important;
            box-shadow: none !important;
            white-space: normal;
            background-color: $color-primary;
        
            &:after{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                font-family: 'icomoon';
                content: "\e900";
                font-size:  $font-xs;
                line-height: $font-sm;
                color: white;
                border: none !important;
                transition: transform .3s ease-out;
            }
        
            &[aria-expanded='true']{
                &:after{
                transform: translate(0, -50%) rotate(-90deg);
                transition: transform .3s ease-out;
                }
            }
        }
    
        .dropdown-menu{
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 0;
            background-color: transparent;
        }
    
        .dropdown-item{
            background-color: #EBEBEB;
            color: #3B3B3B;
            font-weight: 400;
            font-size: $font-xs;
            line-height: $font-sm;
            padding: 12px 30px 12px 15px;
            border-bottom: 1px solid white;
            white-space: normal;
            text-decoration: none;
    
            &:last-child{
                border-bottom: none;
            }
        
            &:hover{
                background-color: #BDC8D5;
            }
        }
    }

    .announce--type{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 30px;

        @media (max-width: 767.98px){
            flex-direction: column !important;
            justify-content: flex-start !important;
            
            ul{
                width: 100%;
            }

            .type__group{
                flex-direction: column !important;
                justify-content: flex-start !important;
            }
            .type__item{
                margin: 0;
                margin-bottom: 15px;
            }
        }

        .type__group{
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        .type__item{
            display: flex;
            align-items: center;
            margin-right: 30px;
    
            .type__icon{
                display: block;
                margin-right: 5px;
                width: 23px;
                height: 23px;
                border: 1px solid $gray;
                background-color: white;
    
                &--v-important{
                    @extend .type__icon;
                    background-color: #911010;
                  }
              
                  &--important{
                    @extend .type__icon;
                    background-color: #E6BC0A;
                }
            }
    
            .type__text{
                font-size: $font-xs;
                line-height: $font-xs;
                color: $dark-gray;
            }
        }
    }

    .content__wrapper{
        display: block;
        padding: 40px 40px 60px 40px;

        @media (max-width: 991.98px){
            padding: 20px 20px 40px 20px;
        }
    }

    .content__wrapper--list{
        display: block;
        padding: 40px 40px 60px 40px;

        @media (max-width: 991.98px){
            padding: 20px 20px 40px 20px;
        }
    }

    .news--highlight{
        display: block;
        margin-bottom: 40px;

        .card{
            padding: 0;
        }
    }

    .news--list{
        display: block;

        .card{
            padding: 20px;
            border: 1px solid #ADADAD;
            background-color: white;
        }
    }
}

.news{
    position: relative;

    .news__title{
        margin-bottom: 20px;
    }

    .news__tools{
        display: flex;
        margin-bottom: 30px;

        @media (max-width: 767.98px){
            flex-direction: column;
        }

        .dvleft{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
        }

        .dvright{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
        }

        .news__type{
            min-width: 50px;
            padding: 5px 15px;
            margin: 0 15px 0 0;
            font-size: 1.25rem;
            line-height: 1.25rem;
            color: white;
            background-color: $color-secondary;
        }

        .news__level{
            min-width: 113px;
            padding: 5px 15px;
            margin: 0 15px 0 0;
            font-size: 1.25rem;
            line-height: 1.25rem;
            color: $dark-gray;
            text-align: center;
            border: 1px solid $gray;
            background-color: white;
        
            &--v-important{
              @extend .news__level;
              color: white;
              background-color: #911010;
            }
        
            &--important{
              @extend .news__level;
              color: white;
              background-color: #E6BC0A;
            }
          }
    
        .news__date{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-width: 50px;
            padding: 5px 0;
            margin: 0 15px 0 0;
            font-size: 1.25rem;
            line-height: 1.25rem;
    
            i{
                margin-right: 10px;
            }
        }
    
        .news__by{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-width: 50px;
            padding: 5px 0;
            margin: 0 15px 0 0;
            font-size: 1.25rem;
            line-height: 1.25rem;
    
            i{
                margin-right: 10px;
            }
        }
    }

    .news__body{
        font-size: $font-xs;
        line-height: $font-sm;
    }
}

.member--wrapper{
    position: relative;
    display: block;

    .member__aside{
        position: relative;

        .member__title{
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 3.125rem;
            line-height: 3.125rem;
            color: $dark-gray;
        }

        .member__nav{
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .member__item{
            padding: 0;
            font-size: $font-xs;
            color: $dark-gray;
            border-bottom: 1px solid $gray;

            &:first-child{
                border-top: 1px solid $gray;;
            }

            &.active{
                .member__link{
                    color: rgba(39, 56, 72,0.48);

                    &:after{
                        font-family: 'icomoon';
                        content: '\e902';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                        font-size: 1rem;
                        color: $dark-gray;
                    }
                }
            }
        }

        .member__link{
            position: relative;
            display: block;
            padding: 30px;
            font-size: $font-sm;
            line-height: $font-sm;
            color: $dark-gray;
            transition: all 0.3s ease-out;

            &:hover{
                color: rgba(39, 56, 72,0.48);
            }

            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $dark-gray;
            }
        }
    }

    .member__article{
        position: relative;
        margin-bottom: 45px;

        .article__title{
            padding-bottom: 30px;
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 3.125rem;
            line-height: 3.125rem;
            color: $dark-gray;
            border-bottom: 1px solid $gray;
        }
        .article__body{
            font-size: $font-xs;
            line-height: $font-sm;
        }
    }

    .member__form{
        position: relative;

        .form__title{
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 3.125rem;
            line-height: 3.125rem;
            color: $dark-gray;
        }

        .form-group{
            margin-bottom: 30px;
        }

        .form-control{
            margin-bottom: 30px;
        }

        textarea.form-control{
            resize: none;

            &:focus{
                outline: 0;
                box-shadow: none
            }
        }
    }
}

.course--wrapper{
    display: block;
    margin-bottom: 90px;

    .course__highlight{
        margin-bottom: 30px;

        @media (min-width: 992px){
            margin-bottom: 60px;
        }
    }

    .course__detail{
        display: block;
        margin-bottom: 60px;

        .nav-tabs{
            border-bottom: 1px solid $gray;

            .nav-item{
                display: inline-block;
                border-radius: 0;
                transition: all .3s ease-out;
            
                .nav-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 2.5rem;
                    border: none;
                    border-bottom: 0;
                    border-radius: 0;
                    font-size: $font-xs;
                    color: rgba($color: #393939, $alpha: .36);
                    text-decoration: none;
                    margin-bottom: 0;
                    transition: all .3s ease-out;

                    span{
                        margin-right: 10px;
                        font-size: 0.8rem;
                    }
        
                    &.active{
                        color: #393939;
                        border: 1px solid $gray;
                        border-bottom: none;
                    }
                }
            }
        }
        
        .tab-content{
            padding: 30px;
            margin-bottom: 30px;
            background-color: #F8F8F8;

            .table-responsive{
                margin-bottom: 30px;
            }
        }
      
        .dropdown{
          margin-bottom: 30px;
        }
      
        .dropdown-toggle{
            padding: 15px 30px 15px 15px;
            width: 100%;
            font-weight: 400;
            font-size: $font-lg;
            line-height: $font-lg;
            color: white;
            text-align: left;
            border-radius: 0 !important;
            box-shadow: none !important;
            white-space: normal;
            background-color: $color-primary;
        
            &:after{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                font-family: 'icomoon';
                content: "\e900";
                font-size:  $font-xs;
                line-height: $font-sm;
                color: white;
                border: none !important;
                transition: transform .3s ease-out;
            }
      
            &[aria-expanded='true']{
                &:after{
                transform: translate(0, -50%) rotate(-90deg);
                transition: transform .3s ease-out;
                }
            }
        }
      
        .dropdown-menu{
          width: 100%;
          border-radius: 0;
          border: none;
          padding: 0;
          background-color: transparent;
        }
      
        .dropdown-item{
          background-color: #EBEBEB;
          color: #3B3B3B;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.3125rem;
          padding: 12px 30px 12px 15px;
          border-bottom: 1px solid white;
          white-space: normal;
          text-decoration: none;
      
          &:last-child{
            border-bottom: none;
          }
      
          &:hover{
            background-color: #BDC8D5;
          }
        }
    }

    .course__detail-body{
        font-size: $font-xs;
        line-height: 100%;
    }

    .course__detail-text{
        font-size: $font-xs;
        line-height: 100%;

        h3{
            font-size: $font-sm;
        }
    }

    .course__detail-level{
        display: block;
        margin-bottom: 30px;

        input[type="radio"]:checked,
        input[type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        input[type="radio"]:checked + label,
        input[type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            font-size: $font-xs;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }
        input[type="radio"]:checked + label:before,
        input[type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid $gray;
            border-radius: 100%;
            background: #fff;
        }
        input[type="radio"]:checked + label:after,
        input[type="radio"]:not(:checked) + label:after {
            content: '';
            width: 18px;
            height: 18px;
            background: $gray;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        input[type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        input[type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .course__detail-file{
        display: block;
        margin-bottom: 30px;

        .list__file{
            list-style: none;
            padding: 0;
            margin: 0;

            .list__file-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 10px;
                margin-bottom: 30px;
                border-bottom: 1px solid $gray;
            }

            .list__file-title{
                display: flex;
                align-items: center;
                font-size: $font-xs;
                line-height: 100%;

                i{
                    margin-right: 10px;
                }
            }

            .list__file-download{
                font-size: $font-xs;
                line-height: 100%;

                a{
                    color: #215E7E;
                    text-decoration: underline;
                }
            }
        }
    }

    .cousrse__media{
        display: block;
        margin-bottom: 60px;
    }
}

.question--list{
    display: block;
    margin: 30px 0 0 0;
    overflow: hidden;

    .question__item{
        display: flex;
        flex-grow: 1 1 auto;
        align-items: center;
        position: relative;
        padding: 20px;
        padding-right: 30px;
        margin-bottom: 45px;
        color: white;
        background-color: rgba(39, 56, 72,0.48);
        transition: all 0.3s ease-out;

        &:hover{
            background-color: $color-primary;
            &:after{
                right: 10px;
                transition: all 0.3s ease-out;
            }
        }

        &:after{
            font-family: 'icomoon';
            content: '\e902';
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
            font-size: 1rem;
            color: white;
            transition: all 0.3s ease-out;

        }
    }

    .question__icon{
        font-size: $font-md;
        line-height: $font-md;
        padding-right: 15px;
    }

    .question__text{
        font-size: $font-xs;
        line-height: $font-xs;
        padding-left: 15px;
        border-left: 1px solid white;
    }
}

.calendar--wrapper{
    position: relative;
    margin-bottom: 60px;

    .calendar--list{
        display: block;
        margin-top: 30px;

        h3{
            margin-bottom: 30px;
            font-size: $font-md;
            line-height: $font-md;
            color: #626262;
        }

        .calendar__list{
            list-style-type: disc;
            padding: 0;
            padding-left: 25px;
            margin: 0;

            li{
                font-size: $font-xs;
                line-height: $font-sm;
                color: #626262;

                &:not(:first-child){
                    margin-top: 20px;
                }
            }
        }

        .list__title{
            margin-bottom: 0;
        }

        .list__date{
            margin-bottom: 0;
        }
    }
    
    // Override Style Calendar
    .fc-h-event{
        padding-left: 15px;
        padding-right: 10px;
        margin-left: 10px;
        border: none;
        color: $dark-gray;
        background-color: transparent;

        .fc-event-main{
            font-size: $font-xs;
            line-height:  $font-xs;
        }

        &:before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #C42424;
        }
    }

    .fc-day-header{
        padding: 10px;
        font-weight: 500;
        font-size: $font-xs;
    }

    .fc-day{
        padding: 10px;
        background-color: white;
    }

    .fc-bg .fc-today{
        background-color: rgba($color: #C7C7C7, $alpha: 0.4);
    }

    .fc-event, .fc-event:hover{
        color: $dark-gray;
    }

    .fc-basic-view .fc-day-number, 
    .fc-basic-view .fc-week-number{
        padding: 2px 10px;
        font-size: 2rem;
    }

    .fc-toolbar.fc-header-toolbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fc-toolbar .fc-left{
        float: none;
        display: inline-block;
    }

    .fc-toolbar .fc-right{
        float: none;
        display: inline-block;
        margin: 0 10px;
    }

    .fc-state-default {
        border: none;
        background-color: transparent !important;
        background-image: none !important;
        color: #333;
        text-shadow: none;
        box-shadow: none;
    }

    .fc-icon-left-single-arrow:after {
        font-family: 'icomoon';
        content: '\e901';
        font-weight: 400;
        font-size: 1rem;
        color: #676767;
        top: 0;
    }

    .fc-icon-right-single-arrow:after{
        font-family: 'icomoon';
        content: '\e902';
        font-weight: 400;
        font-size: 1rem;
        color: #676767;
        top: 0;
    }
}

.table--primary{
    thead{
        color: #363636;
        background-color: #C6C6C6;
        tr{
            th{
                padding: 1rem;
                font-weight: 500;
                font-size: $font-xs;
                text-align: center;
                vertical-align: middle;
                border: none;

                i{
                    margin-right: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }

    tbody{

        tr{
            td, th{
                padding: 1rem;
                font-weight: 400;
                font-size: $font-xs;
                color: #363636;
                text-align: left;
                vertical-align: top;
                white-space: normal;
                border: none !important;

                a{
                    color: #363636;
                    transition: all 0.3 ease-out;

                    &:hover{
                        color: rgba(39, 56, 72,0.48);
                    }
                }

                i{
                    margin-right: 10px;
                    font-size: 0.8rem;
                }
            }
            
            &:nth-child(even){
                td, th{
                    background-color: #F2F2F2;
                }
            }
        }
    }
}

.table--secondary{
    thead{
        color: #363636;
        background-color: #C6C6C6;
        tr{
            th{
                padding: 1rem;
                font-weight: 500;
                font-size: $font-xs;
                text-align: center;
                vertical-align: middle;
                border: none;

                i{
                    margin-right: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }

    tbody{

        tr{
            
            td, th{
                padding: 20px 1rem;
                font-weight: 400;
                font-size: $font-xs;
                color: #363636;
                text-align: left;
                vertical-align: middle;
                white-space: nowrap;
                border: none !important;
                border-bottom: 1px solid $gray !important;

                a{
                    color: #363636;
                    transition: all 0.3 ease-out;

                    &:hover{
                        color: rgba(39, 56, 72,0.48);
                    }
                }

                i{
                    margin-right: 10px;
                    font-size: 0.8rem;
                }
            }

            th{
                text-align: center;
            }
        }
    }

    .video--cover{
        position: relative;
        width: 185px;
        display: inline-block;

        .video__icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 32px;
            font-size: 2.5rem;
            line-height: 2.5rem;
            color: white;
            border-radius: 50%;
            background-color: rgba($color: #000000, $alpha: 0.67);
        }
    }
}

.table--phone{
    thead{
        color: #363636;
        border-bottom: 3px solid #B2B2B2;
        background-color: white;
        tr{
            th{
                padding: 1rem;
                font-weight: 500;
                font-size: $font-xs;
                text-align: center;
                vertical-align: middle;
                border: none;

                i{
                    margin-right: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }

    tbody{

        tr{
            td, th{
                padding: 1rem;
                font-weight: 400;
                font-size: $font-xs;
                color: #363636;
                text-align: left;
                vertical-align: top;
                white-space: nowrap;
                border: none !important;

                a{
                    color: #363636;
                    transition: all 0.3 ease-out;

                    &:hover{
                        color: rgba(39, 56, 72,0.48);
                    }
                }

                i{
                    margin-right: 10px;
                    font-size: 0.8rem;
                }
            }
            
            &:nth-child(even){
                td, th{
                    background-color: #F2F2F2;
                }
            }
        }
    }
}

.pagination {
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
.pagination .page-item{
    margin: 0 10px;
    font-weight: 300;

    .page__current{
        display: inline;
        font-weight: 400
    }

    .page__total{
        display: inline;
        font-weight: 300
    }
}

.pagination .page-item .page-link {
    border: 1px solid transparent;
    color: $dark-gray-10;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2.5px;
    text-decoration: none;
    font-size: $font-xs;
    line-height: 40px;
    border-radius: 50%;
    transition: all .3s ease-out;

    span{
        font-size: 0.8rem;
    }

    &:hover{
        border: 1px solid $dark-gray-10;
    }
}

.pagination .page-item .page-link--prev {
    color: white;
}

@media(max-width:991.98px) {
    .pagination .page-item .page-link--prev {
        display: flex
    }
}

.pagination .page-item .page-link--next {
    color: white;
}

@media(max-width:991.98px) {
    .pagination .page-item .page-link--next {
        display: flex
    }
}

.pagination .page-item.disabled .page-link {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.pagination .page-item.active .page-link {
    border-color: $dark-gray-10;
}

@media(max-width:991.98px) {
    .pagination .page-item.active .page-link {
        display: flex
    }
}

.modal-custom {
    z-index: 2001;

    .modal-dialog {
        .modal-content {
            border-radius: 30px;

            .modal-header {
                border-bottom: 0;

                .modal-title {
                    display: -webkit-box;
                    width: 100%;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: 400;
                    font-size: 3.75rem;
                    line-height: 3.75rem;
                    color: rgba(39, 56, 72,0.48);
                }

                .close {
                    position: absolute;
                    top: -40px;
                    right: -40px;
                    width: 45px;
                    height: 45px;
                    padding: 0;
                    margin: 0;
                    font-size: 2.5rem;
                    line-height: 45px;
                    color: white;
                    opacity: 1;
                }
            }

            .modal-body {
            }

            .modal-footer {
            }

            .form-control{
                border-radius: .5rem;
            }

            .form-control:focus {
                outline: 0;
                border-color: #ced4da;
                box-shadow: none
            }
            
            .input-group-text{
                border-radius: .5rem;
                background-color: transparent;
            }

            .input-group.has-validation>.input-group-append:nth-last-child(n+3)>.btn, .input-group.has-validation>.input-group-append:nth-last-child(n+3)>.input-group-text, .input-group:not(.has-validation)>.input-group-append:not(:last-child)>.btn, .input-group:not(.has-validation)>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child){
                border-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            
        }

        @media (min-width: 1200px){
            width: 50%;
        }

        @media (max-width: 767.98px){
            .modal-content{
                .modal-header{
                    .close {
                        right: 0;
                    }
                }
            }
        }
    }
}
