[class^="icon-"], [class*=" icon-"] {
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-carat-right:before {
  content: "\e906";
}
.icon-carat-up:before {
  content: "\e907";
}
.icon-close-modal:before {
  content: "\e908";
}
.icon-create:before {
  content: "\e909";
}
.icon-date:before {
  content: "\e90a";
}
.icon-edoc:before {
  content: "\e90b";
}
.icon-favorite:before {
  content: "\e90c";
}
.icon-file:before {
  content: "\e90d";
}
.icon-folder:before {
  content: "\e90e";
}
.icon-goverment:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-lecturer:before {
  content: "\e911";
}
.icon-list-view:before {
  content: "\e912";
}
.icon-media:before {
  content: "\e913";
}
.icon-member-contact:before {
  content: "\e914";
}
.icon-personal-liaison:before {
  content: "\e915";
}
.icon-plus-circle:before {
  content: "\e916";
}
.icon-profile:before {
  content: "\e917";
}
.icon-profile-outline:before {
  content: "\e918";
}
.icon-reserve:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91b";
}
.icon-table-view:before {
  content: "\e91c";
}
.icon-thumb:before {
  content: "\e91d";
}
.icon-time:before {
  content: "\e91e";
}
.icon-vendor:before {
  content: "\e91f";
}
.icon-video:before {
  content: "\e920";
}
.icon-view:before {
  content: "\e921";
}
.icon-play-media:before {
  content: "\e922";
}
.icon-right-circle:before {
  content: "\e923";
}
.icon-q-login:before {
  content: "\e924";
}
.icon-pass-login:before {
  content: "\e925";
}
.icon-user-login:before {
  content: "\e926";
}